<div class="container-fluid" id="splashBanner">
	<div class="container">
		<div class="row">
			<div id="innerBanner" class="col-xs-12">
				<div id="splashText">
					<p><span data-dlb-localize="splash.hereIs" class="italic"></span><span class="bold">Dealbee</span></p>
					<h1><span class="italic" data-dlb-localize="splash.motto1"></span><span class="bold" data-dlb-localize="splash.motto2"></span></h1>
					<div class="row">
						<div class="col-xs-12">
							<a class="btn btn-important" href="/subscribe" id="subscribeButton"><span data-dlb-localize="splash.subscribeButton"></span></a>
							<p class="freeOffer" data-dlb-localize="splash.freeOffer"></p>
						</div>
					</div>
					<div class="fb-like" data-href="https://www.facebook.com/dealbee.official" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>
				<img id="splash-img-lg" src="assets/img/splashbees.png">
				<img id="splash-img-md" src="assets/img/splashbeesmd.png">
				<img id="splash-img-sm" src="assets/img/splashbeessm.png">
			</div>
		</div>
	</div>
</div>
<div id="benefits" class="container">
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<img src="assets/img/what.png"/>
			<h2 data-dlb-localize="splash.whatForTitle"></h2>
			<ul class="benefitList">
				<li data-dlb-localize="splash.whatFor1"></li>
				<li data-dlb-localize="splash.whatFor2"></li>
				<li data-dlb-localize="splash.whatFor3"></li>
				<li data-dlb-localize="splash.whatFor4"></li>
				<li data-dlb-localize="splash.whatFor5"></li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<img src="assets/img/create.png"/>
			<h2 data-dlb-localize="splash.creatorTitle"></h2>
			<ul class="benefitList">
				<li data-dlb-localize="splash.creator1"></li>
				<li data-dlb-localize="splash.creator2"></li>
				<li data-dlb-localize="splash.creator3"></li>
				<li data-dlb-localize="splash.creator4"></li>
				<li data-dlb-localize="splash.creator5"></li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<img src="assets/img/spare.png"/>
			<h2 data-dlb-localize="splash.moneyTitle"></h2>
			<ul class="benefitList">
				<li data-dlb-localize="splash.money1"></li>
				<li data-dlb-localize="splash.money2"></li>
				<li data-dlb-localize="splash.money3"></li>
			</ul>
		</div>
	</div>
</div>
