<h1>Admin Home</h1>
<h2>Website status</h2>
<p data-ng-show="refreshingStatus">Refreshing ...</p>
<div data-ng-hide="refreshingStatus">
	<p>
		<span data-ng-show="inMaintenance">Down for maintenance</span><span data-ng-hide="inMaintenance">Online</span> <button data-ng-click="toggleMaintenance()"><i class="glyphicon glyphicon-play" data-ng-show="inMaintenance"></i><i class="glyphicon glyphicon-stop" data-ng-hide="inMaintenance"></i></button>		
	</p>
	<p>
		<span data-ng-show="jobsRunning">Jobs running</span><span data-ng-hide="jobsRunning">Jobs stopped</span> <button data-ng-click="toggleJobsRunning()"><i class="glyphicon glyphicon-stop" data-ng-show="jobsRunning"></i><i class="glyphicon glyphicon-play" data-ng-hide="jobsRunning"></i></button>		
	</p>
</div>
<button class="btn btn-default" data-ng-click="refreshStatus()"><i class="glyphicon glyphicon-refresh"></i></button>
<p>
	<a href="#/emailpref" class="btn btn-default">Email preferences</a>
	<a href="#/jobs" class="btn btn-default">Jobs status</a>
	<a href="#/database" class="btn btn-default">Database</a>
	<a href="#/sessionlog" class="btn btn-default">Latest sessions</a>
	<a href="#/settings" class="btn btn-default">Settings</a>
</p>
<h2>Look at emitters</h2>
<label for="inputQuery">Query</label>
<input id="inputQuery" type="text" data-ng-model="query"/>
<button data-ng-click="queryEmitters()">Search <i class="glyphicon glyphicon-search"></i></button>
<table class="table table-striped">
	<thead>
		<tr>
			<th>name</th>
			<th>id</th>
			<th>created</th>
			<th>lang</th>
			<th>Managers</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="emitter in emitters">
			<td data-ng-bind="emitter.name"></td>
			<td data-ng-bind="emitter._id"></td>
			<td data-ng-bind="emitter.created"></td>
			<td data-ng-bind="emitter.language"></td>
			<td>
				<p data-ng-repeat="identifier in emitter.identifiers">
					<a data-ng-href="#/identifier/{{ identifier._id }}" data-ng-bind="identifier.email" class="btn btn-default"></a>
				</p>
			</td>
			<td><a data-ng-href="#/emitter/{{emitter._id}}" class="btn btn-default">Details <i class="glyphicon glyphicon-zoom-in"></i></a></td>
		</tr>		
	</tbody>
</table>