<div class="container" id="subscribe">
	<h1 data-dlb-localize="subscribe.title"></h1>
	<div data-ng-show="step === 2 && step !== getLastStep()">
		<p data-dlb-localize="subscribe.doNotWantToLocate"></p>
		<button class="btn btn-primary" data-ng-click="skip()" tabindex="1"><span data-dlb-localize="subscribe.skipButton"></span> <i class="glyphicon glyphicon-forward"></i></button>
	</div>
	<div id="step1" data-ng-if="step === 1" data-ng-include="'template/emitter/name.html'"></div>
	<div id="step2" data-ng-if="step === 2" data-ng-include="'template/emitter/location.html'"></div>
	<div id="step3" data-ng-if="step === 3" data-ng-include="'template/emitter/identity.html'"></div>
	<div class="row centered">
		<button data-ng-show="step !== 1" class="btn btn-important" data-ng-click="previous()"><i class="glyphicon glyphicon-chevron-left" tabindex="100"></i> <span data-dlb-localize="previousStepButton"></span></button>
		<button data-ng-show="step !== getLastStep()" class="btn btn-important" data-ng-click="next()"><span data-dlb-localize="nextStepButton" tabindex="101"></span> <i class="glyphicon glyphicon-chevron-right"></i></button>
		<img data-ng-if="subscribing" src="assets/img/load.gif"/><button data-ng-show="step === getLastStep()" class="btn btn-important" data-dlb-localize="finishButton" data-ng-click="finish()" tabindex="102"></button>
	</div>
</div>