<div class="container" id="forgotPassword">
	<h1 data-dlb-localize="forgotPassword.title"></h1>
	<form name="forgotPasswordForm" novalidate data-ng-submit="recover()">
		<p data-dlb-localize="forgotPassword.recoveryExplain"></p>
		<div class="form-group" data-ng-class="forgotPasswordForm.email.$invalid && submittedOnce ? 'has-error' : ''">
			<label for="inputEmail" data-dlb-localize="emailLabel"></label>
			<input type="email" class="form-control" id="inputEmail" data-ng-model="email" name="email" data-ng-required="true">
			<span class="invalid" data-ng-show="submittedOnce && forgotPasswordForm.email.$error.required" data-dlb-localize="emailRequired"></span>
			<span class="invalid" data-ng-show="submittedOnce && forgotPasswordForm.email.$error.email" data-dlb-localize="emailValid"></span>
		</div>
		<div class="centered">
			<img data-ng-if="recovering" src="assets/img/load.gif"/><button class="btn btn-primary" type="submit" data-dlb-localize="forgotPassword.recoverPasswordButton"></button>
		</div>
	</form>
</div>