<div class="container" id="recoverPassword">
	<h1 data-dlb-localize="recoverPassword.title"></h1>
	<form name="recoverPasswordForm" novalidate data-ng-submit="recover()">
			<div class="form-group" data-ng-class="recoverPasswordForm.password.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputPassword" data-dlb-localize="newPasswordLabel"></label>
				<input type="password" class="form-control" id="inputPassword" data-ng-model="password" name="password" data-ng-required="true" data-ng-minlength="10">
				<span class="invalid" data-ng-show="submittedOnce && recoverPasswordForm.password.$error.required" data-dlb-localize="passwordRequired"></span>
				<span class="invalid" data-ng-show="submittedOnce && recoverPasswordForm.password.$error.minlength" data-dlb-localize="passwordMin10Chars"></span>
			</div>
			<div class="form-group" data-ng-class="recoverPasswordForm.repeatPassword.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputPasswordRepeat" data-dlb-localize="passwordRepeatLabel"></label>
				<input type="password" class="form-control" id="inputPasswordRepeat" data-ng-model="repeatPassword" name="repeatPassword" data-repeat-password="password" data-ng-required="true">
				<span class="invalid" data-ng-show="submittedOnce && recoverPasswordForm.repeatPassword.$error.required" data-dlb-localize="repeatPasswordRequired"></span>
				<span class="invalid" data-ng-show="submittedOnce && recoverPasswordForm.repeatPassword.$error.repeat" data-dlb-localize="repeatPasswordNoMatch"></span>
			</div>
			<div class="centered">
			<img data-ng-if="recovering" src="assets/img/load.gif"/><button type="submit" class="btn btn-primary" data-dlb-localize="recoverPassword.changePasswordButton"></button>
		</div>
	</form>
</div>