<h1>Settings</h1>
<form data-ng-submit="changeSettings()">
	<label for="inputNextInvoiceNumber">Next Invoice Number</label>
	<input type="number" data-ng-model="nextInvoiceNumber">
	<input type="submit" value="Change">
</form>