<div class="container" id="accept">
    <script type="text/ng-template" id="managerLoginModalContent">
        <div class="modal-header">
            <h3 data-dlb-localize="accept.loginToBecomeManager"></h3>
        </div>
        <div class="modal-body">
        	<div>
	            <div data-ng-include="'template/emitter/login.html'"></div>
	            <img data-ng-if="promotingManager" src="assets/img/load.gif"/><p data-ng-show="managerCreateError" class="invalid" data-ng-bind="getRes(managerCreateError)"></p>
        	</div>
        </div>
    </script>
   	<h1 data-dlb-localize="accept.title"></h1>
	<img data-ng-if="loadingEmitter" src="assets/img/load.gif"/>
	<div data-ng-show="emitter">
		<p data-dlb-localize="accept.inOrderToManageDeals"></p>
		<div data-ng-include="'template/emitter/card.html'"></div>
		<p data-dlb-localize="accept.pleaseConnect"></p>
		<h2 data-dlb-localize="accept.existingAccountTitle"></h2>
		<button class="btn btn-primary" data-dlb-localize="loginButton" data-ng-click="login()" tabindex="1"></button>
		<h2 data-dlb-localize="accept.newAccountTitle"></h2>
		<div data-ng-include="'template/emitter/createIdentity.html'"></div>
		<img data-ng-if="creatingManager" src="assets/img/load.gif"/>
		<button id="createProfileButton" class="btn btn-primary" data-dlb-localize="accept.createProfile" data-ng-click="createProfile()" tabindex="100"></button>
		<p class="invalid" data-ng-show="createProfileError" data-ng-bind="getRes(createProfileError)"></p>
	</div>
</div>