<div class="container" id="managers">
	<h1 data-dlb-localize="managers.title"></h1>
	<h2 data-dlb-localize="managers.addTitle"></h2>
	<p data-dlb-localize="managers.emailToAddLabel"></p>
	<form class="row" novalidate name="addManagerForm" data-ng-submit="addManager()">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">@</span>
				<input id="inputEmailToAdd" type="email" ng-model="emailToAdd" name="email" class="form-control" data-ng-required="true" aria-describedby="basic-addon1" tabindex="1"/>
			</div>
		</div>
		<div class="col-sm-6">
			<button type="submit" tabindex="2" data-dlb-localize="managers.addManagerButton"></button><img data-ng-if="addingManager" src="assets/img/load.gif"/>
		</div>
	</form>
	<p data-dlb-localize="managers.emailToAddExplain"></p>
	<p class="invalid" data-ng-show="submittedOnce && addManagerForm.email.$error.required" data-dlb-localize="emailRequired"></p>  
	<p class="invalid" data-ng-show="submittedOnce && addManagerForm.email.$error.email" data-dlb-localize="emailValid"></p>
	<h2 data-dlb-localize="managers.listTitle"></h2>
	<img data-ng-if="loadingManagers" src="assets/img/load.gif"/>
	<table class="table" data-ng-show="managers">
		<thead>
			<tr>
				<th data-dlb-localize="managers.identifierColumnHeader"></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="manager in managers">
				<td data-ng-bind="manager.name || manager.email"></td>
				<td><button data-ng-show="manager.email !== account.identifier.email" class="btn btn-default" data-dlb-localize="managers.removeButton" data-ng-click="removeManager(manager)" tabindex="3"></button><img data-ng-if="removingManager" src="assets/img/load.gif"/></td>
			</tr>
		</tbody>
	</table>
</div>