<h1>Identity details</h1>
<p>id: <span data-ng-bind="identifier._id"></span></p>
<p>type: <span data-ng-bind="identifier.type"></span></p>
<p>email: <span data-ng-bind="identifier.email"></span></p>
<p>fbuid: <span data-ng-bind="identifier.fbUid"></span></p>
<p>default emitter: <a data-ng-show="defaultEmitter" data-ng-href="{{ '#/emitter/' + defaultEmitter._id }}">Details of : <span data-ng-bind="defaultEmitter.name"></span></a></p>
<p>last logged in emitter: <a data-ng-show="lastLoggedInEmitter" data-ng-href="{{ '#/emitter/' + lastLoggedInEmitter._id }}">Details of : <span data-ng-bind="lastLoggedInEmitter.name"></span></a></p>

<h2>Client detail</h2>
<p>id: <span data-ng-bind="client._id"></span></p>
<p>created: <span data-ng-bind="client.created"></span></p>
<p>Stripe customer Id: <span data-ng-bind="client.stripeCustomerId"></span></p>
<a class="btn btn-default" data-ng-href="{{ '#/client/' + client._id + '/packs' }}">Subscription &amp; packs</a><a class="btn btn-default" data-ng-href="{{ '#/client/' + client._id + '/payments' }}">Payments &amp; invoices</a>