$honey: #F48222;
$sweetText: #f25e17;

@mixin coloredLink($color){
	color: $color;
	padding-right: 1em;
	&:link, &:visited, &:hover, &:active{
		color: $color;
	}
}

html, body {height: 100%;}
//Footer
#footer{
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	background-color: #2a2728;
	div.standardFooter {
	 	height: 100%;
	 	position: relative;
		img{
			padding-bottom: 1em;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		#footerLinks{
			padding-top: 2em;
			a{
				@include coloredLink(#fff);
			}
		}
	}
}
#footer.lean, #footer.leaner{
	margin-top: -90px; /* negative value of footer height */
	height: 90px;
	background-color: transparent;
}

//about
#about{
	img{
		width: 100%;
	}
	padding-bottom: 1em;
}

//Top menu
nav{
	&.navbar-default{
		background-color: transparent;
		border: 0;
		ul{
			&.langSwitch{
				margin-left: 3em; 
				> li{
					a.activeLanguageButton{
						background-color: $honey;
						border-bottom-left-radius: 0.5em;
						border-bottom-right-radius: 0.5em;
						color: #fff;						
						&:link, &:visited, &:hover, &:active{
							color: #fff;
						}
					}
					a{
						background-color: #fff;
						color: $sweetText;						
						&:link, &:visited, &:hover, &:active{
							color: $sweetText;
						}
					}
					&:focus{
						border: 1px solid #C94622;
						outline: 0;
					}
				}
			}
			> li > button{
				margin-right: 1em;
			}
		}	
	}
	a.navbar-brand{
		height: auto;
		img{
			height: 50px;
			display: inline-block;
		}
		span{
			color: #fff;
			background-color: red;
			padding: 0.5em;
		}
	}
	li.homeLink{
		background-color: $honey;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		> a{
			font-weight: bold;
			font-size: 1.25em;
			color: #fff;						
			&:link, &:visited, &:hover, &:active{
				color: #fff;
			}
		}
		i{
			padding-right: 1em;
		}
	}
	.fbTopLink{
		padding: 5px;
	}
}
#connectedEmitterName{
	text-align: right;
	margin-top: 8px;
	margin-left: 1em;
	font-size: 1.25em;
	background-color: #fff;
	color: #666;
}
#emitterMenu{
	.glyphicon{
		width: 2em;
	}
}
@media (max-width: 768px) {
	ul.langSwitch{
		display: none;
	}
	li.fbTopLink{
		display: none;
	}
}
.mobileOnly{
	display: none;
}
.notOnMobile{
	display: inherit;
}
@media (max-width: 768px) {
	.mobileOnly{
		display: inherit;
	}
	.notOnMobile{
		display: none;
	}
}
.breadcrumb > li + li:before {
	content: '\003E';
	color: $sweetText;
	font-style: italic;
}
.breadcrumb{
	background-color: #fffde5;
	a{
		color: $sweetText;
		font-weight: bold;
		&:link, &:visited, &:hover, &:active{
			color: $sweetText;
		}
	}
}
#sessionButtons{
	float: right;
	#loginButton{
		margin-top: 0.3em;
		margin-bottom: 0.3em;
		margin-right: 1em;
	}
	#subscribeButton{
		margin-right: 1em;
		color: #000;
		&:link, &:visited, &:hover, &:active{
			color: #000;
		}
	}
}
.ruler{
	background-color: $honey;
	height: 0.5em;
}
img.emitterLogo{
	max-height: 200px;
	max-width: 200px;
}
a.fbLink{
	background-color: #36599e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4667a6) color-stop(100%, #3f5d96));
	background: -webkit-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: -o-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: -ms-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: linear-gradient(to bottom, #4667a6 0%, #3f5d96 100%);
	color: #fff;
	text-shadow: 0 -1px 0 #2d4a83;
	border-radius: 0.5em;
	padding: 10px;
	img{
		height: 1.5em;
	}
}
//Localization pane
#localizationWrap{
	overflow: auto;
	float: right;
	width: 330px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	div.left{
		background-color: transparent;
		display: table-cell;
		p{
			i{
				border-bottom-left-radius: 10px;
				border-top-left-radius: 10px;
				padding:0.5em;
				padding-top: 2em;
				padding-bottom: 2em;
				background-color: #555;
				color: #AAA;
				&:hover{
					background-color: #222;
					color: #DDD;
				}
			}
		}
	}
	#localizationPane {
		display: table-cell;
		padding: 1em;
		padding-top: 2em;
		border: 2px solid #DDD;
		background-color: #FFF;
		width: 100%;
		height: 100%;
		p{ 
			font-size: 1.5em;
		}
		ul{
			list-style-type: none;
			padding: 0;
		}
		li:hover{
			background-color: #DDD;
			cursor: pointer;
		}
		li.selected{
			border: 1px solid red;
		}
		li.hovered{
			background-color: #DDD;
		}
		input{
			width: 100%;
		}
		#pickFromScreenButton.active{
			color: #000;
			background-color: #fff;
		}
	}
}
#localizationWrap.collapsed{
	width: 30px;
	overflow: visible;
}
 
//generic form
#wrap {
	min-height: 100%;
	overflow:auto;
	padding-bottom: 150px;
}
#view{
	padding-bottom: 2em;
}
#wrap.lean, #wrap.leaner{
	min-height: 100%;
	overflow:auto;
	padding-bottom: 90px;
	background-image: url("../img/grey-triangle.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 200px 200px;
} 

.clear{
	clear: both;
}
div[data-ng-view].lean, div[data-ng-view].leaner{
	height: 100%;
}
.invalid{
	color: #f00;
	font-size: 1.25em;
	font-weight: bold;
}
.white-bg{
	background-color: #fff;
}
.alert-success{
	font-size: 1.5em;
	font-weight: bold;
}
div.alert{
	.close{
		opacity: .7;
	}
}

label{
	color: $sweetText;
}
label.black{
	color: #000;
}
input[type="text"], input[type="email"], input[type="password"] {
	width: 30em;
}
input[type="text"].small{
	width: 7em;;
}
input[type="date"] {
	width: 15em;
}
@media (max-width: 400px) {
	input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
		width: 100%;
	}
}
a.btn-default.imageButton i{
	padding: 0;
	color: red;
}

//splash page

#splashBanner{
	background-color: #f58220;
	p > span{
		color: #fff;
		font-size: 1.75em;
	}
	h1{
		color: #fff;
		font-size: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	span.italic{
		font-style: italic;
	}
	span.bold{
		font-weight: bold;
	}
	img{
		float:right;
	}
	#innerBanner{
		display: table;
		#splashText{
			padding-bottom: 1em;
			padding-top: 1em;
			display: table-cell;
			vertical-align: middle;
			.freeOffer{
				font-size: 1.5em;
				color: #fff;
				display: inline-block;
			}
			.fb-like{
				display: block;
			}
		}
	}
}
#latestDeals{
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 1.2em;
	h2{
		color: $sweetText;
		font-size: 1.5em;
		font-weight: bold;
	}
	#dealStream{
		div.dealStreamCard{
			padding:0.5em;
			background-color: #fff;
			border: 1px solid #f7B89a;
			border-radius: 1em;
			margin-bottom: 0.5em;
			padding-left: 3em;
			padding-right: 3em;
			-webkit-box-shadow: 6px 4px 9px 0px #ccc;
			-moz-box-shadow: 6px 4px 9px 0px #ccc;
			box-shadow: 6px 4px 9px 0px #ccc;
			a{
				img{
					vertical-align: top;
					width: 100%;
				}
			}
			p[data-ng-bind="deal.benefit"]{
				font-size: 2em;
			}
			transition: all .2s ease-in-out;
			&:hover{
				cursor: pointer;
				transform: scale(1.1);
			}
		}
	}
}
.launchZone{
	padding-left: 2em;
}
@media (min-width: 50px){
	#splashBanner{
		#splash-img-lg{
			display: none;
		}
		#splash-img-md{
			display: none;
		}
		#splash-img-sm{
			display: none;
		}
	}
}
@media (min-width: 500px){
	#splashBanner{
		#splash-img-lg{
			display: none;
		}
		#splash-img-md{
			display: none;
		}
		#splash-img-sm{
			display: block;
		}
	}
}
@media (min-width: 700px){
	#splashBanner{
		#splash-img-lg{
			display: none;
		}
		#splash-img-md{
			display: block;
		}
		#splash-img-sm{
			display: none;
		}
	}
}
@media (min-width: 1000px){
	#splashBanner{
		#splash-img-lg{
			display: block;
		}
		#splash-img-md{
			display: none;
		}
		#splash-img-sm{
			display: none;
		}
	}
}
#benefits{
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	font-family: arial;
	line-height: 2em;
	font-size: 1.2em;
	h2{
		color: $sweetText;
		font-size: 1.5em;
		font-weight: bold;
	}
	ul{
		list-style-image: url('../img/checkmark.png');
		text-align: left;
	}
}

//Subscription page
#noDealYet{
	margin-top: 1em;
	font-size: 1.25em; 
}

#emitterName{
	.radio-inline{
		color: #000;
	}
}

@media (min-width: 990px){
	#wrap.subscribe{
		background-image: url("../img/bees-subscribe-p1.png");
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 30%;
	}
	#wrap.createDeal{
		background-image: url("../img/bees-deal.png");
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 30%;
	}
	#wrap.home{
		background-image: url("../img/bees-hive.png");
		background-position: top right;
		background-repeat: no-repeat;
		background-size: 20%;
	}
}


.angular-google-map-container{
	height: 15em;
	width: 100%;
	margin-bottom: 1em;
}
@media (min-width: 400px) {
	.angular-google-map-container{
		height: 30em;
	}
}

.btn-facebook {
	background-color: #36599e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4667a6) color-stop(100%, #3f5d96));
	background: -webkit-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: -o-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: -ms-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: linear-gradient(to bottom, #4667a6 0%, #3f5d96 100%);
	color: #fff;
	font-size: .9em;
	line-height: normal;
	padding: 0;
	position: relative;
	text-align: left;
	text-decoration: none;
	text-shadow: 0 -1px 0 #2d4a83;
	span {
		border-left: 1px solid #2d4a83;
		box-shadow: inset 1px 0 0 #6580b7;
		display: inline-block;
		margin-left: 34px;
		padding: .5em .75em;
	}
}
.btn-facebook:active {
	background-color: #36599e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4667a6) color-stop(100%, #3f5d96));
	background: -webkit-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: -o-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: -ms-linear-gradient(top, #4667a6 0, #3f5d96 100%);
	background: linear-gradient(to bottom, #4667a6 0%, #3f5d96 100%);
}
.btn-facebook:hover {
	color: #fff;
}
.btn-facebook:focus {
	color: #fff;
}
.btn-facebook::before {
  background: url(../img/facebook-button-icon-f.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  content: ' ';
  display: inline-block;
  height: 80%;
  padding-left: 1.5em;
  position: absolute;
  top: 20%;
  left: .8em;
}
.btn-cta{
	color: #fff;
	font-size: 2em;
    background: #e73e37;
    background-image: url("../img/white-triangle.png");
    background-repeat: no-repeat;
    background-position: 95% 0.5em;
    background-size: 1em 1em;
    padding-right: 1.5em;
    border-radius: 0;
    &:hover{
    	color: #ddd;
    }
    &:active, &:focus {
    	color: #fff;
    }
    margin-bottom: 0.5em; 
}
.btn-primary {
	background-color: $honey;
	font-size: 1.5em;
	border-radius: 0.5em;
	border-color: $honey;
}
.btn-primary:hover{
	color: #eee;
	background-color: $honey;
	border-color: $honey;		
}
.btn-primary:active{
	background-color: $honey;
	border-color: $honey;	
	outline: 0;	
}
.btn-primary:focus{
	background-color: $honey;
	border-color: $honey;
}
@media (max-width: 1300px){
	input.halfscreen{
		width: 20em;
	}	
}

//login page
#login{
	padding-bottom: 1em;
}

//Home page
#home{
	.table{
		.label{
			font-size: 1em;
		}
	}
	i{
		margin-right: 0.5em;
	}
	.dealRow{
		border-top: 1px solid #AAA;
		padding-bottom: 0.25em;
		padding-top: 0.25em;
		div.dealButtons{
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
	#dealList{
		margin-top: 3em;
		a.previewButton{
			margin-left: 1em;
		}
		.bg-primary{
			background-color: #22ABF4;
		}
	}
	.dealNumbers{
		> div.row:first-child{
			border-bottom: 1px solid #ccc
		}
	}
	span[data-ng-bind="deal.benefit"]{
		font-size: 1.5em;
	}
}
@media (min-width: 768px) {
	#home{
		.dealSummary{
			background-color: #fff;
		}
	}
}

//Generic website-wide
// .ng-hide-add, .ng-hide-remove {
//   transition:0.5s ease-in-out all;
// }

.glyphicon-exclamation-sign{
	color: red;
	margin-left: 0.5em;
}

button{
	.glyphicon{
		padding: 0.25em;
	}
}

h1{
	font-size: 2em;
}
h2{
	font-size: 1.75em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1.25em;
}

a.btn-default, a.btn-dark{
	i{
		padding-left: 0.5em;
	}
}

.ng-hide { 
	opacity:0
}

.btn-important{
	color: #fff;
	font-size: 1.7em;
    background: #a81000;
    &:hover{
    	color: #ddd;
    }
    &:active, &:focus {
    	color: #fff;
    }    
    border-radius: 1em;
    margin-bottom: 0.5em; 
}

.btn-dark{
	color: #fff;
	background-color: #222;
	border: 1px solid #444;
}
.btn-dark:active,.btn-dark:hover,.btn-dark:focus {
	color: #ddd;
}
.centered{
	text-align: center;
}

div[ng-view].lean, div[ng-view].leaner{
	height: 100%;
	overflow:auto;
}

//Deal page

#titleForm{
	#inputBenefit{
		width: 20em;
	}
	#inputTeaser{
		width: 50em;
	}
}
#imageForm{
	.outOfTheBoxImagesSelector{
		div{
			float: left;
			text-align: center;
			img{
				height: 100%;
			}
			img.selected{
				border: 0.3em solid $honey;
			}
			a{
				text-align: center;
				height: 15em;
				p{
					color: #fff;
					background-color: $honey;
					border-bottom-right-radius: 0.5em;
					border-bottom-left-radius: 0.5em;
				}
				&:link, &:visited, &:hover, &:active{
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	img{
		max-width: 500px;
		max-height: 300px;
	}	
}
#createDeal{
	#contentForm{
		padding-bottom: 1em;
		#inputDescription{
			height: 15em;
		}
		> div:first-child{
			margin-bottom: 2em;
		}
		#visibilitySwitch{
			margin-top: 1em;
			margin-bottom: 1em;
		}
		label{
			i.glyphicon{
				margin-right: 1em;
			}
		}
		#visibilityZone{
			.blurred{
				opacity: 0.7;
			}
			.selected{
				font-weight: bold;
			}
		}
	}
	.important-remark{
		margin-top: 3em;
	}	
}
.important-remark{
	font-size: 1.25em;
	font-style: italic;
}

//View deal page
.dealHeading{
	z-index: 1;
	padding-bottom: 1em;
	h1{
		color: #fff;
		background-color: #222;
		font-size: 3em;
		padding: 0.3em;
		padding-right: 0.6em;
		display: inline-block;
		margin-top: 0.1em;
	}
	.dealTitle{
		color: #fff;
		background-color: #e73e37;
		padding-top: 3em;
		padding-bottom: 2em;
		padding-left: 2em;
		padding-right: 2em;
		margin-top: -3em;
		background-image: url("../img/white-triangle.png");
		background-repeat: no-repeat;
		background-position: 95% 95%;
		background-size: 50px 50px;
		.benefit{
			font-size: 1em;
			font-weight: bold;
		}
		.teaser{
			font-size: 2em;
			word-wrap: break-word;
		}
	}
}


#viewDeal{
	.expired{
		margin-top: 2em;
		font-size: 2em;
	}
	.sectionTitle{
		font-size: 2em;
		font-weight: bold;
		color: #ed6d6a;
		padding-top: 0.3em;
	}
	.dealExpiresTitle{
		color: #fff;
		background-color: #222;
		font-size: 3em;
		padding: 0.3em;
		padding-right: 0.6em;
		display: inline-block;
		margin-top: 0.1em;
		width: 100%;
		text-align: center;
	}
	.dealNumber{
		font-size: 1.25em;
	}
	.expiration{
		font-size: 1em;
		img{
			height: 1em;
		}
	}
	#dealImageZone{
		img{
			width: 100%;
		}
		#imagePreview{
			*{
				width: 100%;
			}
		}
	}
	#previewInfo{
		background-color: $honey;
		color: #fff;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius: 1em;
		padding: 0.5em; 
	}
	#dealImage canvas{
		max-width: 100%;
	}
	.angular-google-map-container{
		max-width: 30em;
		max-height: 20em;
	}
	.emitterName{
		font-size: 2em;
	}
	#seller{
		padding-bottom: 0.5em;
		border-bottom: 1px solid #cccccc;
	}
	#description{
		#collapseButton{
			position: static;
			background-image: none;
			margin-top: -1.5em;
			text-align: right;
			img{
				height: 2em;
				margin-right: 1em;
				margin-bottom: 1em;
			}
		}
		&.short{
			#collapseButton{
				margin-top: 0;
			}
		}
		&.collapsed{
			#collapseButton{
				position: relative;
				background-image: url("../img/vertical-gradient-white.png");
				background-repeat: repeat-x;
				background-size: 2em;
				margin-top: -2em;
				text-align: right;
				img{
					height: 2em;
					margin-right: 1em;
					margin-bottom: 1em;
				}
			}
			p{
				max-height: 6.5em;
				overflow: hidden;			
			}
		}
		> p{
			margin: 0;
		}
	}
	.remaining{
		font-size: 2em;
	}
	.btn-facebook{
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	#expirationPrint{
		display: none;
	}
}

#viewDealFooter{
	clear:both;
	height: 90px;
	text-align: right;
	.logo{
		height: 30px;
	}
	.brand{
		padding-top: 45px;
		padding-right: 5px;
		line-height: 0;
	}
}

@media (max-width: 400px) {
	#viewDeal{
		.benefit{
			font-size: 1.25em;
		}
	}
}


//Distribute
#distributeDeal{
	li a{
		color: #555;
	}
	.facebook-distribution-tab-heading{
		padding: 0.5em;
		border-radius: 0.25em;
		background-color: #36599e;
		color: #fff;
		img{
			height: 1.5em;
		}
	}
	.fbColor{
		background-color: #36599e;		
	}
	.badge{
		margin-left: 0.5em;
	}
	#addEmailButton{
		margin-top: 0.5em;
	}
	.nav-tabs li{
		font-size: 1.25em;
		background-color: #eee;
		&.active{
			background-color: transparent;
		}
		&:hover{
			background-color: #ccc;
			a{
				background-color: inherit;
			}
		}
		&.active:hover{
			background-color: transparent;
		}
	}
	.nav
	.badge{
		font-size: 1.25em;
	}
	.tab-pane{
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		padding: 0.5em;
	}
	#inputTaggedMessage{
		width: 100%;
		height: 6em;
	}
}
.catchier{
	font-size: 1.25em;
}
#emailInvite{
	h2{
		font-size: 1.5em;
	}
	#inputPasteEmails{
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	#emailList{
		border: 1px solid #ddd;
		font-size: 1.25em;
		margin-bottom: 1em;
		margin-top: 1em;
		> p{
			margin: 1em;
		}
		.emailToInvite{
			display: inline-block;
			padding: 0.25em;
			margin: 2px;
			background-color: #ddd;
			i{
				margin-left: 0.25em;
			}
		}
	}
	#pasteList{
		margin-top: 2em;
		margin-bottom: 2em;
		#pasteListButton{
			margin-left: 1em;
		}
	}
}
.fbLoggedIn{
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	background-color: #36599e;
	border-radius: 0.5em;
	color: #fff;
	display: inline-block;
	a{
		color: #fff;
		font-size: 1.25em;
	}
}
#distributeFb{
	margin-bottom: 1em;
	.friendsCounter{
		margin-top: 1em;
		font-weight: bold;
	}
	.friendsList{
		border: 1px solid #aaa;
		overflow:hidden;
		> div {
			float: left;
		}
		a{
			height: 55px;
			width: 15em;
			color: #000;
			cursor: pointer;
			display: table;
			img{
				padding: 0.2em;
				display: table-cell;
				width: 55px;
			}
			div{
				text-align: left;
				margin-left: 0.2em;
				display: table-cell;
				vertical-align: middle;
				width: 100%;
			}
			&:link, &:visited, &:hover, &:active{
				color: #000;
				text-decoration: none;
			}
		}
		a.selected{
			color: #fff;
			background-color: $honey;
			border-radius: 0.3em;
		}
	}
	a.btn-facebook{
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
}

//consume
#consumeByNumberForm{
	padding-top: 1em;
}

#dealHolders{
	> div > div{
		clear: both;
		vertical-align: middle;
		padding: 0.25em;
		img{
			height: 50px;
		}
		#dealholderList{
			padding: 0;
			> div{
				float: left;
				padding: 0.5em;
				margin: 0.5em;
				border-radius: 0.5em;
				background-color: #eee;
				a{
					float: right;
					margin-left: 1em;
				}
				.dealNumber{
					font-size: 0.75em;
				}
				.dealSummary{
					font-size: 1.5em;
				}
			}
		}
	}
}

//Give
#giveDeal{
	.buttonImg{
		height: 7em;
		width: 7em;
		cursor: pointer;
		img{
			height: 100%;
		}
	}

	div.selected{
		background-color: #DDD;
	}

	> div{
		padding: 0.5em;
	}
	#allowPublishFbButton{
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	textarea{
		height: 6em;
	}
}
#createIdentity{
	.buttonImg{
		height: 7em;
		width: 7em;
		cursor: pointer;
		img{
			height: 100%;
		}
	}

	div.selected{
		background-color: #DDD;
	}

	> div{
		padding: 0.5em;
	}
	#connectButtonZone{
		margin-top: 2em;
	}
}

//load
#load{
	.balanceLine{
		font-size: 1.25em;
		color: #777;
		.balance{
			font-weight: bold;
			color: #000;
		}
	}
	#paymentsTable{
		img{
			height: 2em;
		}
	}
}
div.creditCard{
	.logo-stripe{
		height: 2em;
	}
	.current-creditCard{
		margin-left: 3em;
		margin-top: 1.5em;
		.boldLabel{
			font-weight: bold;
		}
	}
	div{
		label{
			display: block;
		}
		#inputExpirationMonth{
			width: 4em;
			display: inline;
		}
		#inputExpirationYear{
			width: 6em;
			display: inline;
		}
		#inputCvc{
			width: 5em;
		}
		button{
			margin-bottom: 0.5em;
			margin-top: 0.5em;
		}
		#inputBigAmount{
			width: 7em;
		}
	}
}

//contact
#contact{
	textarea{
		height: 10em;
	}
}

//pref
#pref{
	label{
		color: #000;
	}
}

//parameters
#parameters{
	padding-bottom: 1em;
}

//profile
#profile{
	padding-bottom: 1em;
}

#forgotPassword{
	padding-bottom: 1em;
}

#recoverPassword{
	padding-bottom: 1em;
}

#distributeSummary{
	p.summaryList{
		font-size: 1.25em;
	}
	#nextSteps{
		list-style-type: none;
		padding-left: 0;
		li{
			i{
				padding: 0.5em;
			}
		}
	}
	#requiredActions{
		list-style-type: none;
		padding-left: 0;
		li{
			i{
				padding: 0.5em;
			}
		}
		div.paymentCard{
			border: 1px solid #aaa;
			border-radius: 1em;
			padding: 0.5em;
			background-color: #ddd;
		}
	}
	margin-bottom: 2em;
}

#onRequestZone{
	input[type="number"]{
		width: 7em;
		margin: 2em;
	}
	span[data-ng-bind="onRequest.initialAmount"]{
		font-size: 1.25em;
		font-weight: bold;
	}
}

#followup{
	#grantStatusZone{
		ul{
			list-style-type: none;
			li{
				display: inline-block;
				padding: 0.25em;
				margin: 0.25em;
				background-color: #ccc;
				> span{
					> img{
						height: 1.2em;
						margin-right: 0.5em;
					}	
					>i.glyphicon{
						height: 1.2em;
						margin-right: 0.5em;
					}
				} 
			}
		}
	}
	span[data-ng-bind="deal.benefit"]{
		font-size: 1.5em;
		margin-right: 0.5em;
	}
	table td{
		padding: 0.5em;
	}
	hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	ul.attribs{
		list-style-type: none;
		padding-left: 0;
		li{
			span:first-child{
				display: inline-block;
				width: 12em;
			}
		}
	}
}
#findDeals{
	p.location{
		font-size: 1.25em;
		font-weight: bold;
	}
	.dealList{
		p[data-ng-bind="deal.benefit"]{
			font-size: 2em;
		}
		img{
			width: 100%;
		}
		> a > img{
			width: initial;
			max-width: 100%;
		}
		> div > img{
			margin-bottom: 0.5em; 
		}
		p > span > img {
			width: 2em;
		}
		padding:0.5em;
		background-color: #fff;
		border: 1px solid #f7B89a;
		border-radius: 1em;
		margin-bottom: 0.5em;
		padding-left: 3em;
		padding-right: 3em;
		-webkit-box-shadow: 6px 4px 9px 0px #ccc;
		-moz-box-shadow: 6px 4px 9px 0px #ccc;
		box-shadow: 6px 4px 9px 0px #ccc;
	}
	.distance{
		font-size: 1.25em;
		margin-top: 0.5em;
		i{
			margin-right: 0.5em;
		}
	}
}
#order{
	table.price-table{
		width: 100%;
		td{
			border: 1px solid #888;
			text-align: center;
			padding: 1em;
			p.selectedSubscription{
				font-size: 1.25em;
				font-weight: bold;
				text-align: center;
			}
		}
		thead{
			tr{
				td{
					border: 2px solid #888;
					.price-col-title{
						font-size: 1.5em;
						font-weight: bold;
					}
					.price-col-month{
						font-size: 1em;
					}
				}
			}
		}
		td.current{
			border: 1px solid #fff;
			background-color: $honey;
			color: #fff;
		}
	}
	p.important{
		font-size: 1.25em;
		margin-top: 0.5em;
	}
	a.btn-primary{
		margin-bottom: 1em;
	}
	div.btn-group{
		margin-bottom: 1em;
	} 
	.undiscounted{
		text-decoration: line-through;
		font-size: 1.25em;
	}

}
a[data-dlb-localize="cancelButton"]{
	margin-right: 2em;
}
#underconstruction{
	img.workingbee{
		max-width: 20em;
	}
}
#basket{
	td.right{
		text-align: right;
	}
	tr.basketTableSubtitle td {
		font-weight: bold;
	}
}
#invoicingData{
	button.btn-primary{
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	#useEmitterAddressButton{
		margin-top: 1.75em;
		margin-bottom: 0.25em;
		margin-left: 1em;
	}
	.vatZone{
		margin-top: 1.75em;
	}
}
#scan{
	img.scanResultPic{
		width: 15em;
		max-width: 100%;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	div.scanResult{
		text-align: left;
		p.header{
			text-align: right;
			font-weight: bold;
		}
	}
}
.printOnly{
	visibility: hidden;
}
@media print {
	.notPrinted{
		display: none;
	}	
	#view{
		padding-bottom: 0;	
	}
	#viewDeal{
		margin-bottom: 0;

		#dealCard{
			vertical-align: top;
			> div:first-child{
				width: 40%;
				display: inline-block;
				vertical-align: top;
			}
			> div:last-child{
				width: 55%;
				display: inline-block;
			}
			#benefit{
				width: 100%;
			}
			#expirationPrint{
				display: inline-block;
				font-size: 2em;
			}
			#expiration{
				display: none;
			}
			.printOnly > .benefit{
				font-size: 2em;
			}
		}
	}
	a[href]:after {
		content: "";
	}
	.printOnly{
		 visibility: visible;
	}
}
#leanMenu{
	margin-top: 0.5em;		
	.fbLink{
		float: right;
		margin-right: 2em;
		img{
			height: 1.5em;
		}
	}
	.topLink{
		float: right;
		margin-right: 1.5em;
		margin-top: 1em;
		color: #222;
		&:link, &:visited{
			color: #666;
		}
		&:hover{
			color: #111;
		}
		&:active{
			color: #666;
		}
	}
	div.langSwitch{
		margin-top: 0.4em;
		float: right;
		margin-left: 2em;
		height: 100%;
		display: inline-block;
		a.activeLanguageButton{
			background-color: $honey;
			border-bottom-left-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
			color: #fff;						
			&:link, &:visited, &:hover, &:active{
				color: #fff;
				text-decoration: none;
			}
		}
		a{ 
			border-bottom-left-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
			padding: 1em;
			padding-top: 1.1em;
			background-color: #fff;
			color: $sweetText;						
			&:link, &:visited, &:hover, &:active{
				color: $sweetText;
				text-decoration: none;
			}
		}			
	}
	img{
		height: 2.5em;
	}
}
#find{
	#sideCta{
		position: fixed;
		top: 6em;
		left: 0;
		img{
			width: 100%;
		}
		> a > span{
			position: absolute;
			left: 0.5em;
			top: 4.5em;
			color: #fff;
			font-size: 2em;
			font-weight: bold;
			width: 4.6em;
		}
	}
	#geoloc{
		margin-bottom: 2em;
	}
	#queryModes{
		margin-bottom: 1em;
	}
}
#metadata{
	.input-keyword{
		width: 100%;		
	}
	#keywordsList{
		margin-top: 1em;
		.keywordGroup{
			padding: 0.25em;
			border: 1px solid #888;
			background-color: #bbb;
			margin-right: 1em;
		}
		.keyword{
			font-size: 1.2em;
			padding-right: 0.5em;
		}
	}
}

#managers{
	form {
		margin-top: 0.5em;
		margin-bottom: 1em;
		button{
			padding: 0.35em;
		}
	}
}

#emitterIdentity{
	margin-bottom: 1em;
}
#accept{
	#createProfileButton{
		margin-top: 1em;
	}
}
#grantsStatus{
	ul.attribs{
		margin-top: 1em;
		list-style-type: none;
		padding-left: 0;
		li span:first-child{
			width: 12em;
		}
	}
	span[data-ng-bind="deal.benefit"]{
		margin-right: 0.5em;
		font-weight: bold;
	}
	li span:first-child{
		display: inline-block;
		width: 12em;
	}
	tr.headerRow td{
		font-weight: bold;
		text-align: center;
		padding: 0.5em;
	}
	tr td{
		padding-right: 0.5em;
		padding-left: 0.5em;
		padding-top: 0.4em;		
		padding-bottom: 0.4em;
		white-space: nowrap;	
	}
	tr td.expand{
		width: 100%;
	}
	.table-striped > tbody > tr:nth-child(odd) > td{
		background-color: #ccc !important;
	}
}