<h2>Latest sessions</h2>
<table class="table table-striped" id="sessions">
	<thead>
		<tr>
			<th>id</th>
			<th>emitter</th>
			<th>created</th>
			<th>requests</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="sessionLog in sessions | orderBy: '-created'">
			<td data-ng-bind="sessionLog.id"></td>
			<td data-ng-bind="sessionLog.emitter.name"></td>
			<td data-ng-bind="sessionLog.created"></td>
			<td data-ng-bind="sessionLog.activities"></td>
			<td><a data-ng-href="#/session/{{sessionLog.id}}" class="btn btn-default">Detailed activity <i class="glyphicon glyphicon-zoom-in"></i></a></td>
		</tr>
	</tbody>
</table>
