<h1>Emitter details</h1>
<p>name: <span data-ng-bind="emitter.name"></span></p>
<p>id: <span data-ng-bind="emitter._id"></span></p>
<p>created: <span data-ng-bind="emitter.created"></span></p>
<p>lang: <span data-ng-bind="emitter.language"></span></p>
<p>Delete this emitter <input type="radio" data-ng-model="canDelete" value="false"/>No<input type="radio" data-ng-model="canDelete" value="true"/>Yes<button data-ng-show="canDelete" class="btn btn-default" data-ng-click="delete()">Delete</button></p>
<h2>Recent sessions</h2>
<table class="table table-striped" id="sessions">
	<thead>
		<tr>
			<th>id</th>
			<th>created</th>
			<th>requests</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="sessionLog in sessionLogs | orderBy: '-created'">
			<td data-ng-bind="sessionLog.id"></td>
			<td data-ng-bind="sessionLog.created"></td>
			<td data-ng-bind="sessionLog.activities"></td>
			<td><a data-ng-href="#/session/{{sessionLog.id}}" class="btn btn-default">Detailed activity <i class="glyphicon glyphicon-zoom-in"></i></a></td>
		</tr>
	</tbody>
</table>
<h2>Deals</h2>
<table class="table table-striped" id="deals">
	<thead>
		<tr>
			<th>id</th>
			<th>teaser</th>
			<th>benefit</th>
			<th>created</th>
			<th>beginDate</th>
			<th>expiration</th>
			<th>image</th>
			<th>terms of use</th>
			<th>To be sent</th>
			<th>Sent</th>
			<th>On Request</th>
			<th>Consumed</th>
			<th>private</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="deal in deals">
			<td data-ng-bind="deal._id"></td>
			<td data-ng-bind="deal.teaser"></td>
			<td data-ng-bind="deal.benefit"></td>
			<td data-ng-bind="deal.created"></td>
			<td data-ng-bind="deal.beginDate"></td>
			<td data-ng-bind="deal.expiration"></td>
			<td>
				<cl-image data-ng-show="deal.imageRef" public-id="{{ deal.imageRef.public_id }}" format="{{ deal.imageRef.format }}">
					<cl-transformation height="200" width="383" crop="fill" gravity="custom"/>
				</cl-image>
			</td>
			<td><p data-ng-repeat="termOfUse in deal.termsOfUse" data-ng-bind="termOfUse"></p></td>
			<td data-ng-bind="deal.toBeSent"></td>
			<td data-ng-bind="deal.sent"></td>
			<td data-ng-bind="deal.nbOnRequest"></td>
			<td data-ng-bind="deal.consumed"></td>
			<td data-ng-bind="deal.private"></td>
			<td><a data-ng-href="#/deal/{{deal._id}}" class="btn btn-default">Details <i class="glyphicon glyphicon-zoom-in"></i></a></td>
		</tr>
	</tbody>
</table>
