<h1>Packs / subscription</h1>
<p>name: <span data-ng-bind="emitter.name"></span></p>
<p>id: <span data-ng-bind="emitter._id"></span></p>
<p>balance: <span data-ng-bind="emitter.balance"></span></p>
<h2>Subscription</h2>
<p>subscription kind: <span data-ng-bind="emitter.subscription.kind"></span></p>
<p>latestRenewal: <span data-ng-bind="emitter.subscription.latestRenewal"></span></p>
<p>Switch to <select ng-options="subscription.type as subscription.type for subscription in prices.subscriptions" ng-model="newSubscription"></select><button data-ng-click="switchSubscription()">Switch</button></p>
<h2>Packs</h2>
<table class="table table-striped" id="packs">
	<thead>
		<tr>
			<th>id</th>
			<th>creation</th>
			<th>beginDate</th>
			<th>endDate</th>
			<th>amount</th>
			<th>remaining</th>
			<th>origin</th>
			<th>subscription kind</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="pack in emitter.packs">
			<td data-ng-bind="pack._id"></td>
			<td data-ng-bind="pack.created"></td>
			<td data-ng-bind="pack.begin"></td>
			<td data-ng-bind="pack.end"></td>
			<td data-ng-bind="pack.amount"></td>
			<td data-ng-bind="pack.remaining"></td>
			<td data-ng-bind="pack.origin"></td>
			<td data-ng-bind="pack.subscriptionKind"></td>
		</tr>
	</tbody>
</table>
<h2>Add a pack</h2>
<span>Pack type: </span><select ng-options="pack.type as pack.type for pack in prices.packs" ng-model="newPack"></select>
<p>
	<input type="checkbox" data-ng-model="scheduledBegin" data-ng-change="beginDate = null"><span>Begin in the future</span>
</p>

<datepicker data-ng-show="scheduledBegin" data-ng-model="beginDate" min-date="tomorrow" show-weeks="true" class="well well-sm"></datepicker>
<button data-ng-click="createPack()">Create pack</button>