<h1>Payments / invoices</h1>
<p>name: <span data-ng-bind="emitter.name"></span></p>
<p>id: <span data-ng-bind="emitter._id"></span></p>
<p>balance: <span data-ng-bind="emitter.balance"></span></p>
<h2>Payments</h2>
<table class="table table-striped" id="payments">
	<thead>
		<tr>
			<th>date</th>
			<th>amount</th>
			<th>description</th>
			<th>uuid</th>
			<th>invoice</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="payment in emitter.payments">
			<td data-ng-bind="payment.date"></td>
			<td data-ng-bind="payment.amount"></td>
			<td data-ng-bind="payment.description"></td>
			<td data-ng-bind="payment.uuid"></td>
			<td>
				<a data-ng-show="payment.invoice.lastDate" data-ng-href="{{ '/api/invoice/' + payment.uuid + '?sessionId=' + sessionId }}" data-ng-bind="payment.invoice.lastDate"></a>
				<button data-ng-click="generateInvoice(payment)">Generate</button><p class="invalid" data-ng-bind="payment.invoiceGenError"></p>
				<div data-ng-hide="payment.invoice.lastDate"><p>No invoice yet</p></div>
			</td>
		</tr>
	</tbody>
</table>