<h1>Payments / invoices</h1>
<h2>Client</h2>
<p>id: <span data-ng-bind="client._id"></span></p>
<p>balance: <span data-ng-bind="client.balance"></span></p>
<p>Identifiers: <a data-ng-repeat="identifier in client.identifiers" data-ng-href="#/identifier/{{ identifier._id }}" data-ng-bind="identifier.email" class="btn btn-default"></a></p>
<h2>Invoicing data</h2>
<p>Company name: <span data-ng-bind="client.invoicingData.companyName"></span></p>
<p>Juridical form: <span data-ng-bind="client.invoicingData.juridicalForm"></span></p>
<p>Lang: <span data-ng-bind="client.invoicingData.language"></span></p>
<p>Address: <span data-ng-bind="client.invoicingData.address.street"></span>, <span data-ng-bind="client.invoicingData.address.number"></span> - <span data-ng-bind="client.invoicingData.address.box"></span><br><span data-ng-bind="client.invoicingData.address.postcode"></span> <span data-ng-bind="client.invoicingData.address.city"></span><br><span data-ng-bind="client.invoicingData.address.country"></span></p>
<p>VAT: <span data-ng-bind="client.invoicingData.VATCountryCode"></span> <span data-ng-bind="client.invoicingData.VATNumber"></span></p>
<h2>Payments</h2>
<table class="table table-striped" id="payments">
	<thead>
		<tr>
			<th>date</th>
			<th>amount</th>
			<th>description</th>
			<th>uuid</th>
			<th>invoice</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="payment in client.payments">
			<td data-ng-bind="payment.date"></td>
			<td data-ng-bind="payment.amount"></td>
			<td data-ng-bind="payment.description"></td>
			<td data-ng-bind="payment.uuid"></td>
			<td>
				<a data-ng-show="payment.invoice.lastDate" data-ng-href="{{ '/api/invoice/' + payment.uuid + '?sessionId=' + sessionId }}" data-ng-bind="payment.invoice.lastDate"></a>
				<button data-ng-click="generateInvoice(payment)">Generate</button><p class="invalid" data-ng-bind="payment.invoiceGenError"></p>
				<div data-ng-hide="payment.invoice.lastDate"><p>No invoice yet</p></div>
			</td>
		</tr>
	</tbody>
</table>