<div data-ng-controller="EmailListCtrl" id="emailInvite">
	<script type="text/ng-template" id="uploadAddressesModalContent">
	    <div class="modal-header">
	        <h3 data-dlb-localize="emaillist.pasteEmailsLabel"></h3>
	    </div>
	    <div class="modal-body">
	        <input data-tooltip="{{ getRes('emaillist.pasteOnly') }}" type="text" id="inputPasteEmails" data-ng-paste="findEmailAddressesInContent($event)" placeholder="{{ getRes('emaillist.pasteHere') }}"><img data-ng-if="parsingEmails" src="assets/img/load.gif"/>
	        <p class="help-block" data-dlb-localize="emaillist.pasteEmailsHelp"></p>
	    </div>
	</script>
	<div class="row">
		<p class="col-sm-6" id="pasteList"><span data-dlb-localize="emaillist.alreadyHaveAList"></span> <button id="pasteListButton" data-ng-click="pasteAddressList()" class="btn btn-dark" data-dlb-localize="emaillist.addMultipleAddressesButton" tabindex="1"></button></p>
	</div>
	<form role="form" novalidate name="emailInviteForm" data-ng-submit="addEmail()">
		<p data-dlb-localize="emaillist.emailToAddLabel"></p>
		<div class="row">
			<div class="col-sm-6">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">@</span>
					<input id="inputEmailToAdd" type="email" ng-model="emailToAdd" name="email" class="form-control" data-ng-required="true" aria-describedby="basic-addon1" tabindex="2">
				</div>
				<p class="invalid" data-ng-show="emailSubmittedOnce && emailInviteForm.email.$error.required" data-dlb-localize="emailRequired"></p>  
				<p class="invalid" data-ng-show="emailSubmittedOnce && emailInviteForm.email.$error.email" data-dlb-localize="emailValid"></p>
				<div class="centered">
					<button id="addEmailButton" type="submit" class="btn btn-dark" data-dlb-localize="emaillist.addEmailButton" tabindex="3"></button>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-xs-12">
			<div id="emailList">
				<p data-ng-show="emailsToInvite.length == 0" data-dlb-localize="emaillist.noEmailYet"></p>
				<p class="emailToInvite" data-ng-repeat="email in emailsToInvite"><span data-ng-bind="email.email"></span><a href="" data-ng-click="removeEmail(email.email)" tabindex="4"><i class="glyphicon glyphicon-remove"></i></a></p>
			</div>
		</div>
	</div>
	<div id="blockedEmails">
		<div class="row" data-ng-show="blockedEmails.length > 0">
			<div class="col-xs-12">
				<button class="btn btn-default" href="" ng-click="blockedEmailsCollapsed = !blockedEmailsCollapsed" tabindex="5"><span data-ng-bind="blockedEmails.length"></span> <span data-dlb-localize="emaillist.blockedEmailsTitle"></span><span data-ng-show="blockedEmailsCollapsed" class="glyphicon glyphicon-chevron-down"></span><span data-ng-hide="blockedEmailsCollapsed" class="glyphicon glyphicon-chevron-up"></span></button>
				<div collapse="blockedEmailsCollapsed">
					<div class="well">
						<p data-dlb-localize="emaillist.blockedEmailsExplain"></p>
						<i data-ng-repeat="blockedEmail in blockedEmails" data-ng-bind="blockedEmail.email"></i>
					</div> 
				</div>
	  		</div>
		</div>
		<div class="row" data-ng-show="blockedEmitterEmails.length > 0">
			<div class="col-xs-12">
				<button class="btn btn-default" ng-click="blockedEmitterEmailsCollapsed = !blockedEmitterEmailsCollapsed" tabindex="6"><span data-ng-bind="blockedEmitterEmails.length"></span> <span data-dlb-localize="emaillist.blockedEmitterEmailsTitle"></span></span><span data-ng-show="blockedEmitterEmailsCollapsed" class="glyphicon glyphicon-chevron-down"></span><span data-ng-hide="blockedEmitterEmailsCollapsed" class="glyphicon glyphicon-chevron-up"></span></button>
				<div collapse="blockedEmitterEmailsCollapsed">
					<div class="well">
						<p data-dlb-localize="emaillist.blockedEmitterEmailsExplain"></p>
						<i data-ng-repeat="blockedEmail in blockedEmitterEmails" data-ng-bind="blockedEmail.email"></i>
					</div> 
				</div>
	  		</div>
		</div>
	</div>	
</div>