<div id="distributeFb" data-ng-controller="FriendListCtrl">
	<div class="centered" data-ng-hide="fbAccount">
		<img data-ng-if="connectingFacebook" src="assets/img/load.gif"/><a href="" class="btn btn-facebook" data-ng-click="fbConnect()" tabindex="1"><span data-dlb-localize="loginFbButton"></span></a>	
	</div>
	<div data-ng-show="fbAccount">
		<div class="centered">
			<div class="fbLoggedIn">
				<img ng-src="{{fbAccount.pic}}"/>
				<span data-ng-bind="fbAccount.name"></span><br>
				<a href="" data-dlb-localize="fbDisconnectButton" data-ng-click="disconnectFb()" tabindex="2"></a>		
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<label for="inputTaggedMessage" data-dlb-localize="taggedMessageLabel"></label>
				<textarea id="inputTaggedMessage" data-ng-model="facebookDistribution.taggedMessage" tabindex="3"></textarea>
				<p class="help-block catchier" data-dlb-localize="taggedMessageHelp"></p>	
			</div>
		</div>
		<div id="fbFriendsSelector">
			<a class="btn" data-ng-class="allShown ? 'btn-dark' : 'btn-default'" data-dlb-localize="friendList.allFriendsButton" data-ng-click="showAllFriends()" tabindex="4"></a>
			<a class="btn" data-ng-class="selectedShown ? 'btn-dark' : 'btn-default'" data-dlb-localize="friendList.selectedFriendsButton" data-ng-click="showSelectedFriends()" tabindex="5"></a>
			<a class="btn" data-ng-class="notSelectedShown ? 'btn-dark' : 'btn-default'" data-dlb-localize="friendList.nonSelectedFriendsButton" data-ng-click="showNotSelectedFriends()" tabindex="6"></a>
			<label for="inputFriendFilter" data-dlb-localize="friendList.filterFriendsLabel"></label>
			<input type="text" id="inputFriendFilter" data-ng-model="friendFilter" data-ng-keydown="filterFriends()" tabindex="7"/>
			<p class="friendsCounter"><span data-ng-bind="facebookDistribution.friends.length"></span> / <span data-ng-bind="allFriends.length"></span> <span data-dlb-localize="friendList.friendsSelected"></span></p>
		</div>
		<img data-ng-if="loadingFriends" src="assets/img/load.gif"/>
		<p class="invalid" data-ng-show="facebookError" data-dlb-localize="friendList.facebookError"></p>
		<div class="friendsList" data-ng-show="friendsShown.length > 0">
			<div data-ng-repeat="friend in friendsShown | orderBy:'name'">
				<a data-ng-click="toggleFriend(friend)" data-ng-class="friend.selected ? 'selected' : ''" tabindex="8">
					<img ng-src="{{friend.picture.data.url}}"/>
					<div>
						<span data-ng-bind="friend.name"></span>
					</div>
				</a>
			</div>
		</div>
	</div>	
</div>
