<div id="onRequestZone">
	<form novalidate name="onRequestForm">
		<p><span data-dlb-localize="OnRequestCtrl.youHave"></span><span data-ng-bind="onRequest.initialAmount"></span><span data-dlb-localize="OnRequestCtrl.onRequestDeals"></span></p>
		<label for="inputAmountDealsOnRequest" data-dlb-localize="OnRequestCtrl.amountLabel"></label>
		<input type="number" class="form-control" id="inputAmountDealsOnRequest" data-ng-model="onRequest.amount" name="amountDealsOnRequest" min="0" data-ng-min="0" tabindex="1">
		<p class="text-warning"><i class="glyphicon glyphicon-info-sign"></i> <span data-dlb-localize="OnRequestCtrl.onRequestRemark"></span></p>
		<p class="invalid" data-ng-show="onRequestForm.amountDealsOnRequest.$error.min" data-dlb-localize="OnRequestCtrl.amountInvalid"></p>
	</form>
	<p data-dlb-localize="OnRequestCtrl.explain"></p>
	<p data-dlb-localize="OnRequestCtrl.explainShare"></p>
</div>
