<div data-ng-controller="DistributeSummaryCtrl">
	<h1 data-dlb-localize="DistributeSummaryCtrl.title"></h1>
	<div data-ng-show="summary.missingFund > 0 || summary.publishRightsRequired">
		<h2 data-dlb-localize="DistributeSummaryCtrl.requiredActionsTitle"></h2>
		<ul id="requiredActions">
			<li data-ng-if="summary.missingFund > 0">
				<p class="summaryList">
					<i class="glyphicon glyphicon-exclamation-sign"></i><span data-ng-bind="summary.missingFund"></span><span data-dlb-localize="DistributeSummaryCtrl.missingCreditsLabel"></span>
				</p>
				<div data-ng-include="'template/order/order.html'" class="paymentCard"></div>
			</li>
			<li data-ng-show="summary.publishRightsRequired">
				<p class="summaryList">
					<i class="glyphicon glyphicon-exclamation-sign"></i><span data-dlb-localize="DistributeSummaryCtrl.publishRightsRequired"></span>
				</p>
				<img data-ng-show="connectingFacebook" src="assets/img/load.gif"/><a class="btn btn-facebook" href="" data-ng-click="ensurePublishRights()"><span data-dlb-localize="publishWithFbButton"></span></a>
				<p data-dlb-localize="DistributeSummaryCtrl.publishRightsExplain"></p>
			</li>
		</ul>
	</div>
	<h2 data-dlb-localize="DistributeSummaryCtrl.nextStepsTitle"></h2>
	<ul id="nextSteps">
		<li data-ng-show="summary.nbEmailDistribution > 0">
			<p class="summaryList">
				<i class="glyphicon glyphicon-tag"></i><span data-ng-bind="summary.nbEmailDistribution"></span><span data-dlb-localize="DistributeSummaryCtrl.dealsPerEmail"></span>
			</p>
		</li>
		<li data-ng-show="summary.nbFacebookDistribution > 0">
			<p class="summaryList">
				<i class="glyphicon glyphicon-tag"></i><span data-ng-bind="summary.nbFacebookDistribution"></span><span data-dlb-localize="DistributeSummaryCtrl.dealsPerFacebook"></span>
			</p>
		</li>
		<li data-ng-show="summary.nbOnRequestDistribution != 0">
			<p class="summaryList">
				<i class="glyphicon glyphicon-tag"></i><span data-ng-bind="summary.nbOnRequestDistribution"></span><span data-dlb-localize="DistributeSummaryCtrl.dealsOnRequest" data-ng-show="summary.nbOnRequestDistribution > 0"></span><span data-dlb-localize="DistributeSummaryCtrl.dealsOnRequestRemoved" data-ng-show="summary.nbOnRequestDistribution < 0"></span>
			</p>
		</li>
		<li>
			<p class="summaryList">
				<i class="glyphicon glyphicon-euro"></i><span data-ng-bind="summary.creditsUsed"></span><span data-dlb-localize="DistributeSummaryCtrl.creditsUsedExplain"></span>
			</p>
		</li>
	</ul>
</div>