<div id="load" class="container">
	<div class="row">
		<h1 data-dlb-localize="load.title" class="col-xs-12"></h1>	
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 data-dlb-localize="load.accountTitle"></h2>
			<p class="balanceLine"><span data-dlb-localize="load.youHave"></span><span class="balance" data-ng-bind="account.client.balance"></span><span data-dlb-localize="load.credits"></p>
			<a class="btn btn-primary" data-dlb-localize="load.buyButton" href="/pricing"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2 data-dlb-localize="load.paymentsAndInvoicesTitle"></h2>
			<img data-ng-if="loadingPayments" src="assets/img/load.gif"/>
			<p data-ng-show="payments.length === 0" data-dlb-localize="load.noPaymentToDisplay"></p>
			<table class="table" data-ng-hide="loadingPayments || payments.length === 0" id="paymentsTable">
				<thead>
					<th data-dlb-localize="load.paymentDateColumnHeader"></th>
					<th data-dlb-localize="load.paymentAmountColumnHeader"></th>
					<th data-dlb-localize="load.invoiceColumnHeader"></th>
				</thead>
				<tbody>
					<tr data-ng-repeat="payment in payments">
						<td data-ng-bind="payment.date | dlbdatetime"></td>
						<td data-ng-bind="payment.amount | dlbPrice"></td>
						<td><a target="_blank" data-ng-href="{{ '/api/invoice/' + payment.uuid + '?sessionId=' + sessionId }}" data-ng-show="payment.invoice.lastDate"><img src="/assets/img/pdf-icon.png"/></a><span data-ng-hide="payment.invoice.lastDate" data-dlb-localize="load.noInvoiceYet"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<h2 data-dlb-localize="load.invoicingDataTitle"></h2>
		<div class="well" data-ng-include="'template/emitter/invoicing.html'"></div>
	</div>
	<div class="row">
		<h2 data-dlb-localize="load.creditCardTitle"></h2>
		<div class="well" data-ng-include="'template/emitter/creditcard.html'"></div>
	</div>
</div>