<div class="container" id="find">
	<div id="sideCta" class="notOnMobile">
		<a href="/splash">
			<img src="/assets/img/halfhexa.png"/>
			<span data-dlb-localize="find.createDealButton"></span>
		</a>
	</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-10 col-md-offset-3 col-md-9 col-sm-offset-4 col-sm-8">
			<h1 data-dlb-localize="find.title"></h1>
			<div class="row">
				<div class="btn-group col-sm-6" role="group" id="queryModes">
					<button tabindex="0" type="button" class="btn btn-default" data-ng-class="queryMode == 'latestcreated' ? 'active' : ''" data-ng-click="search('latestcreated')"><span data-dlb-localize="find.latestCreatedDealsButton"></span> <i class="glyphicon glyphicon-exclamation-sign"></i></button>
					<button tabindex="1" type="button" class="btn btn-default" data-ng-class="queryMode == 'expiresoon' ? 'active' : ''" data-ng-click="search('expiresoon')"><span data-dlb-localize="find.expiringSoonDealsButton"></span> <i class="glyphicon glyphicon-time"></i></button>
					<button tabindex="2" type="button" class="btn btn-default" data-ng-class="queryMode == 'nearest' ? 'active' : ''" data-ng-click="search('nearest')"><span data-dlb-localize="find.dealsNearMeButton"></span> <i class="glyphicon glyphicon-map-marker"></i></button>
				</div>
				<form class="input-group col-sm-6" data-ng-submit="search()">
					<input tabindex="4" type="text" class="form-control" data-ng-model="keywords">
					<span class="input-group-btn">
						<button tabindex="5" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</span>
				</form>
			</div>
			<img data-ng-if="loading" src="/assets/img/load.gif"/>
			<div id="findDeals" data-ng-hide="loading">
				<p class="invalid" data-dlb-localize="find.pleaseEnableGeolocation" data-ng-show="pleaseEnableGeolocation"></p>
				<p data-ng-show="!myDeals || myDeals.length == 0" data-dlb-localize="find.noDealsFound"></p>
				<div class="row dealList" data-ng-repeat="deal in myDeals">
					<div class="col-xs-12 col-sm-4">
						<a data-ng-href="{{ '/viewdeal/onrequest/' + deal._id }}">
							<cl-image alt="{{ deal.benefit + ' ' + deal.teaser | dlbescape }}" data-ng-show="deal.imageRef" public-id="{{ deal.imageRef.public_id }}" format="{{ deal.imageRef.format }}">
								<cl-transformation crop="crop" gravity="custom"/>
							</cl-image>
						</a>
						<p class="centered distance" data-ng-show="deal.distance"><i class="glyphicon glyphicon-road"></i><span data-ng-bind="deal.distance | dlbdistance"></span></p>
					</div>
					<div class="col-xs-12 col-sm-5">
						<p data-ng-bind="deal.benefit"></p>
						<p data-ng-bind="deal.teaser"></p>
						<p>
							<span class="expiration" data-ng-if="deal.beginDate <= now"><img class="vertAlignCenter" src="assets/img/expicon.png"/> <span data-ng-bind="deal.remainingDays"></span> <span data-dlb-localize="viewDeal.days"></span> <span data-ng-bind="deal.remainingHours | trailzeroes:2"></span>:<span data-ng-bind="deal.remainingMinutes | trailzeroes:2"></span>:<span data-ng-bind="deal.remainingSeconds | trailzeroes:2"></span></span>
							<span data-ng-show="deal.expiration && deal.beginDate > now"><span data-dlb-localize="viewDeal.beginsOn"></span><span data-ng-bind="deal.beginDate | dlbdate"></span><span data-dlb-localize="viewDeal.endsOn"></span><span data-ng-bind="deal.expiration | dlbdate"></span></span>
						</p>
						<a tabindex="{{ 6 + $index }}" class="btn btn-cta" data-ng-href="{{ '/viewdeal/onrequest/' + deal._id }}" data-dlb-localize="find.viewDealButton"></a>
					</div>
					<a class="col-xs-12 col-sm-3" data-ng-href="{{ deal.emitter.website ? (deal.emitter.website | dlbemitterwebsite) : '' }}" target="_blank">
						<cl-image alt="{{ deal.emitter.name | dlbescape }}" data-ng-show="deal.emitter.imageRef" public-id="{{ deal.emitter.imageRef.public_id }}" format="{{ deal.emitter.imageRef.format }}">
							<cl-transformation height="150" crop="fit"/>
						</cl-image>
					</a>
				</div>
			</div>			
		</div>
	</div>
</div>