<div class="container">
	<h1 data-dlb-localize="howItWorks.title"></h1>
	<p data-dlb-localize="howItWorks.p1"></p>
	<p data-dlb-localize="howItWorks.p2"></p>
	<ol>
		<li data-dlb-localize="howItWorks.feature1"></li>
		<li data-dlb-localize="howItWorks.feature2"></li>
		<li data-dlb-localize="howItWorks.feature3"></li>
		<li data-dlb-localize="howItWorks.feature4"></li>
		<li data-dlb-localize="howItWorks.feature5"></li>
	</ol>
</div>