html, body {
  height: 100%; }

#footer {
  margin-top: -150px;
  /* negative value of footer height */
  height: 150px;
  clear: both;
  background-color: #2a2728; }
  #footer div.standardFooter {
    height: 100%;
    position: relative; }
    #footer div.standardFooter img {
      padding-bottom: 1em;
      position: absolute;
      bottom: 0;
      right: 0; }
    #footer div.standardFooter #footerLinks {
      padding-top: 2em; }
      #footer div.standardFooter #footerLinks a {
        color: #fff;
        padding-right: 1em; }
        #footer div.standardFooter #footerLinks a:link, #footer div.standardFooter #footerLinks a:visited, #footer div.standardFooter #footerLinks a:hover, #footer div.standardFooter #footerLinks a:active {
          color: #fff; }

#footer.lean, #footer.leaner {
  margin-top: -90px;
  /* negative value of footer height */
  height: 90px;
  background-color: transparent; }

#about {
  padding-bottom: 1em; }
  #about img {
    width: 100%; }

nav.navbar-default {
  background-color: transparent;
  border: 0; }
  nav.navbar-default ul.langSwitch {
    margin-left: 3em; }
    nav.navbar-default ul.langSwitch > li a.activeLanguageButton {
      background-color: #F48222;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      color: #fff; }
      nav.navbar-default ul.langSwitch > li a.activeLanguageButton:link, nav.navbar-default ul.langSwitch > li a.activeLanguageButton:visited, nav.navbar-default ul.langSwitch > li a.activeLanguageButton:hover, nav.navbar-default ul.langSwitch > li a.activeLanguageButton:active {
        color: #fff; }
    nav.navbar-default ul.langSwitch > li a {
      background-color: #fff;
      color: #f25e17; }
      nav.navbar-default ul.langSwitch > li a:link, nav.navbar-default ul.langSwitch > li a:visited, nav.navbar-default ul.langSwitch > li a:hover, nav.navbar-default ul.langSwitch > li a:active {
        color: #f25e17; }
    nav.navbar-default ul.langSwitch > li:focus {
      border: 1px solid #C94622;
      outline: 0; }
  nav.navbar-default ul > li > button {
    margin-right: 1em; }

nav a.navbar-brand {
  height: auto; }
  nav a.navbar-brand img {
    height: 50px;
    display: inline-block; }
  nav a.navbar-brand span {
    color: #fff;
    background-color: red;
    padding: 0.5em; }

nav li.homeLink {
  background-color: #F48222;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em; }
  nav li.homeLink > a {
    font-weight: bold;
    font-size: 1.25em;
    color: #fff; }
    nav li.homeLink > a:link, nav li.homeLink > a:visited, nav li.homeLink > a:hover, nav li.homeLink > a:active {
      color: #fff; }
  nav li.homeLink i {
    padding-right: 1em; }

nav .fbTopLink {
  padding: 5px; }

#connectedEmitterName {
  text-align: right;
  margin-top: 8px;
  margin-left: 1em;
  font-size: 1.25em;
  background-color: #fff;
  color: #666; }

#emitterMenu .glyphicon {
  width: 2em; }

@media (max-width: 768px) {
  ul.langSwitch {
    display: none; }
  li.fbTopLink {
    display: none; } }

.mobileOnly {
  display: none; }

.notOnMobile {
  display: inherit; }

@media (max-width: 768px) {
  .mobileOnly {
    display: inherit; }
  .notOnMobile {
    display: none; } }

.breadcrumb > li + li:before {
  content: '\003E';
  color: #f25e17;
  font-style: italic; }

.breadcrumb {
  background-color: #fffde5; }
  .breadcrumb a {
    color: #f25e17;
    font-weight: bold; }
    .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover, .breadcrumb a:active {
      color: #f25e17; }

#sessionButtons {
  float: right; }
  #sessionButtons #loginButton {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 1em; }
  #sessionButtons #subscribeButton {
    margin-right: 1em;
    color: #000; }
    #sessionButtons #subscribeButton:link, #sessionButtons #subscribeButton:visited, #sessionButtons #subscribeButton:hover, #sessionButtons #subscribeButton:active {
      color: #000; }

.ruler {
  background-color: #F48222;
  height: 0.5em; }

img.emitterLogo {
  max-height: 200px;
  max-width: 200px; }

a.fbLink {
  background-color: #36599e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4667a6) color-stop(100%, #3f5d96));
  background: -webkit-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: -o-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: -ms-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: linear-gradient(to bottom, #4667a6 0%, #3f5d96 100%);
  color: #fff;
  text-shadow: 0 -1px 0 #2d4a83;
  border-radius: 0.5em;
  padding: 10px; }
  a.fbLink img {
    height: 1.5em; }

#localizationWrap {
  overflow: auto;
  float: right;
  width: 330px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0; }
  #localizationWrap div.left {
    background-color: transparent;
    display: table-cell; }
    #localizationWrap div.left p i {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      padding: 0.5em;
      padding-top: 2em;
      padding-bottom: 2em;
      background-color: #555;
      color: #AAA; }
      #localizationWrap div.left p i:hover {
        background-color: #222;
        color: #DDD; }
  #localizationWrap #localizationPane {
    display: table-cell;
    padding: 1em;
    padding-top: 2em;
    border: 2px solid #DDD;
    background-color: #FFF;
    width: 100%;
    height: 100%; }
    #localizationWrap #localizationPane p {
      font-size: 1.5em; }
    #localizationWrap #localizationPane ul {
      list-style-type: none;
      padding: 0; }
    #localizationWrap #localizationPane li:hover {
      background-color: #DDD;
      cursor: pointer; }
    #localizationWrap #localizationPane li.selected {
      border: 1px solid red; }
    #localizationWrap #localizationPane li.hovered {
      background-color: #DDD; }
    #localizationWrap #localizationPane input {
      width: 100%; }
    #localizationWrap #localizationPane #pickFromScreenButton.active {
      color: #000;
      background-color: #fff; }

#localizationWrap.collapsed {
  width: 30px;
  overflow: visible; }

#wrap {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 150px; }

#view {
  padding-bottom: 2em; }

#wrap.lean, #wrap.leaner {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 90px;
  background-image: url("../img/grey-triangle.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 200px 200px; }

.clear {
  clear: both; }

div[data-ng-view].lean, div[data-ng-view].leaner {
  height: 100%; }

.invalid {
  color: #f00;
  font-size: 1.25em;
  font-weight: bold; }

.white-bg {
  background-color: #fff; }

.alert-success {
  font-size: 1.5em;
  font-weight: bold; }

div.alert .close {
  opacity: .7; }

label {
  color: #f25e17; }

label.black {
  color: #000; }

input[type="text"], input[type="email"], input[type="password"] {
  width: 30em; }

input[type="text"].small {
  width: 7em; }

input[type="date"] {
  width: 15em; }

@media (max-width: 400px) {
  input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 100%; } }

a.btn-default.imageButton i {
  padding: 0;
  color: red; }

#splashBanner {
  background-color: #f58220; }
  #splashBanner p > span {
    color: #fff;
    font-size: 1.75em; }
  #splashBanner h1 {
    color: #fff;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em; }
  #splashBanner span.italic {
    font-style: italic; }
  #splashBanner span.bold {
    font-weight: bold; }
  #splashBanner img {
    float: right; }
  #splashBanner #innerBanner {
    display: table; }
    #splashBanner #innerBanner #splashText {
      padding-bottom: 1em;
      padding-top: 1em;
      display: table-cell;
      vertical-align: middle; }
      #splashBanner #innerBanner #splashText .freeOffer {
        font-size: 1.5em;
        color: #fff;
        display: inline-block; }
      #splashBanner #innerBanner #splashText .fb-like {
        display: block; }

#latestDeals {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.2em; }
  #latestDeals h2 {
    color: #f25e17;
    font-size: 1.5em;
    font-weight: bold; }
  #latestDeals #dealStream div.dealStreamCard {
    padding: 0.5em;
    background-color: #fff;
    border: 1px solid #f7B89a;
    border-radius: 1em;
    margin-bottom: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    -webkit-box-shadow: 6px 4px 9px 0px #ccc;
    -moz-box-shadow: 6px 4px 9px 0px #ccc;
    box-shadow: 6px 4px 9px 0px #ccc;
    transition: all 0.2s ease-in-out; }
    #latestDeals #dealStream div.dealStreamCard a img {
      vertical-align: top;
      width: 100%; }
    #latestDeals #dealStream div.dealStreamCard p[data-ng-bind="deal.benefit"] {
      font-size: 2em; }
    #latestDeals #dealStream div.dealStreamCard:hover {
      cursor: pointer;
      transform: scale(1.1); }

.launchZone {
  padding-left: 2em; }

@media (min-width: 50px) {
  #splashBanner #splash-img-lg {
    display: none; }
  #splashBanner #splash-img-md {
    display: none; }
  #splashBanner #splash-img-sm {
    display: none; } }

@media (min-width: 500px) {
  #splashBanner #splash-img-lg {
    display: none; }
  #splashBanner #splash-img-md {
    display: none; }
  #splashBanner #splash-img-sm {
    display: block; } }

@media (min-width: 700px) {
  #splashBanner #splash-img-lg {
    display: none; }
  #splashBanner #splash-img-md {
    display: block; }
  #splashBanner #splash-img-sm {
    display: none; } }

@media (min-width: 1000px) {
  #splashBanner #splash-img-lg {
    display: block; }
  #splashBanner #splash-img-md {
    display: none; }
  #splashBanner #splash-img-sm {
    display: none; } }

#benefits {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  font-family: arial;
  line-height: 2em;
  font-size: 1.2em; }
  #benefits h2 {
    color: #f25e17;
    font-size: 1.5em;
    font-weight: bold; }
  #benefits ul {
    list-style-image: url("../img/checkmark.png");
    text-align: left; }

#noDealYet {
  margin-top: 1em;
  font-size: 1.25em; }

#emitterName .radio-inline {
  color: #000; }

@media (min-width: 990px) {
  #wrap.subscribe {
    background-image: url("../img/bees-subscribe-p1.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 30%; }
  #wrap.createDeal {
    background-image: url("../img/bees-deal.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 30%; }
  #wrap.home {
    background-image: url("../img/bees-hive.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20%; } }

.angular-google-map-container {
  height: 15em;
  width: 100%;
  margin-bottom: 1em; }

@media (min-width: 400px) {
  .angular-google-map-container {
    height: 30em; } }

.btn-facebook {
  background-color: #36599e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4667a6) color-stop(100%, #3f5d96));
  background: -webkit-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: -o-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: -ms-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: linear-gradient(to bottom, #4667a6 0%, #3f5d96 100%);
  color: #fff;
  font-size: .9em;
  line-height: normal;
  padding: 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 -1px 0 #2d4a83; }
  .btn-facebook span {
    border-left: 1px solid #2d4a83;
    box-shadow: inset 1px 0 0 #6580b7;
    display: inline-block;
    margin-left: 34px;
    padding: 0.5em 0.75em; }

.btn-facebook:active {
  background-color: #36599e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4667a6) color-stop(100%, #3f5d96));
  background: -webkit-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: -o-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: -ms-linear-gradient(top, #4667a6 0, #3f5d96 100%);
  background: linear-gradient(to bottom, #4667a6 0%, #3f5d96 100%); }

.btn-facebook:hover {
  color: #fff; }

.btn-facebook:focus {
  color: #fff; }

.btn-facebook::before {
  background: url(../img/facebook-button-icon-f.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  content: ' ';
  display: inline-block;
  height: 80%;
  padding-left: 1.5em;
  position: absolute;
  top: 20%;
  left: .8em; }

.btn-cta {
  color: #fff;
  font-size: 2em;
  background: #e73e37;
  background-image: url("../img/white-triangle.png");
  background-repeat: no-repeat;
  background-position: 95% 0.5em;
  background-size: 1em 1em;
  padding-right: 1.5em;
  border-radius: 0;
  margin-bottom: 0.5em; }
  .btn-cta:hover {
    color: #ddd; }
  .btn-cta:active, .btn-cta:focus {
    color: #fff; }

.btn-primary {
  background-color: #F48222;
  font-size: 1.5em;
  border-radius: 0.5em;
  border-color: #F48222; }

.btn-primary:hover {
  color: #eee;
  background-color: #F48222;
  border-color: #F48222; }

.btn-primary:active {
  background-color: #F48222;
  border-color: #F48222;
  outline: 0; }

.btn-primary:focus {
  background-color: #F48222;
  border-color: #F48222; }

@media (max-width: 1300px) {
  input.halfscreen {
    width: 20em; } }

#login {
  padding-bottom: 1em; }

#home .table .label {
  font-size: 1em; }

#home i {
  margin-right: 0.5em; }

#home .dealRow {
  border-top: 1px solid #AAA;
  padding-bottom: 0.25em;
  padding-top: 0.25em; }
  #home .dealRow div.dealButtons {
    margin-top: 1em;
    margin-bottom: 1em; }

#home #dealList {
  margin-top: 3em; }
  #home #dealList a.previewButton {
    margin-left: 1em; }
  #home #dealList .bg-primary {
    background-color: #22ABF4; }

#home .dealNumbers > div.row:first-child {
  border-bottom: 1px solid #ccc; }

#home span[data-ng-bind="deal.benefit"] {
  font-size: 1.5em; }

@media (min-width: 768px) {
  #home .dealSummary {
    background-color: #fff; } }

.glyphicon-exclamation-sign {
  color: red;
  margin-left: 0.5em; }

button .glyphicon {
  padding: 0.25em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

a.btn-default i, a.btn-dark i {
  padding-left: 0.5em; }

.ng-hide {
  opacity: 0; }

.btn-important {
  color: #fff;
  font-size: 1.7em;
  background: #a81000;
  border-radius: 1em;
  margin-bottom: 0.5em; }
  .btn-important:hover {
    color: #ddd; }
  .btn-important:active, .btn-important:focus {
    color: #fff; }

.btn-dark {
  color: #fff;
  background-color: #222;
  border: 1px solid #444; }

.btn-dark:active, .btn-dark:hover, .btn-dark:focus {
  color: #ddd; }

.centered {
  text-align: center; }

div[ng-view].lean, div[ng-view].leaner {
  height: 100%;
  overflow: auto; }

#titleForm #inputBenefit {
  width: 20em; }

#titleForm #inputTeaser {
  width: 50em; }

#imageForm .outOfTheBoxImagesSelector div {
  float: left;
  text-align: center; }
  #imageForm .outOfTheBoxImagesSelector div img {
    height: 100%; }
  #imageForm .outOfTheBoxImagesSelector div img.selected {
    border: 0.3em solid #F48222; }
  #imageForm .outOfTheBoxImagesSelector div a {
    text-align: center;
    height: 15em; }
    #imageForm .outOfTheBoxImagesSelector div a p {
      color: #fff;
      background-color: #F48222;
      border-bottom-right-radius: 0.5em;
      border-bottom-left-radius: 0.5em; }
    #imageForm .outOfTheBoxImagesSelector div a:link, #imageForm .outOfTheBoxImagesSelector div a:visited, #imageForm .outOfTheBoxImagesSelector div a:hover, #imageForm .outOfTheBoxImagesSelector div a:active {
      color: #000;
      text-decoration: none; }

#imageForm img {
  max-width: 500px;
  max-height: 300px; }

#createDeal #contentForm {
  padding-bottom: 1em; }
  #createDeal #contentForm #inputDescription {
    height: 15em; }
  #createDeal #contentForm > div:first-child {
    margin-bottom: 2em; }
  #createDeal #contentForm #visibilitySwitch {
    margin-top: 1em;
    margin-bottom: 1em; }
  #createDeal #contentForm label i.glyphicon {
    margin-right: 1em; }
  #createDeal #contentForm #visibilityZone .blurred {
    opacity: 0.7; }
  #createDeal #contentForm #visibilityZone .selected {
    font-weight: bold; }

#createDeal .important-remark {
  margin-top: 3em; }

.important-remark {
  font-size: 1.25em;
  font-style: italic; }

.dealHeading {
  z-index: 1;
  padding-bottom: 1em; }
  .dealHeading h1 {
    color: #fff;
    background-color: #222;
    font-size: 3em;
    padding: 0.3em;
    padding-right: 0.6em;
    display: inline-block;
    margin-top: 0.1em; }
  .dealHeading .dealTitle {
    color: #fff;
    background-color: #e73e37;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: -3em;
    background-image: url("../img/white-triangle.png");
    background-repeat: no-repeat;
    background-position: 95% 95%;
    background-size: 50px 50px; }
    .dealHeading .dealTitle .benefit {
      font-size: 1em;
      font-weight: bold; }
    .dealHeading .dealTitle .teaser {
      font-size: 2em;
      word-wrap: break-word; }

#viewDeal .expired {
  margin-top: 2em;
  font-size: 2em; }

#viewDeal .sectionTitle {
  font-size: 2em;
  font-weight: bold;
  color: #ed6d6a;
  padding-top: 0.3em; }

#viewDeal .dealExpiresTitle {
  color: #fff;
  background-color: #222;
  font-size: 3em;
  padding: 0.3em;
  padding-right: 0.6em;
  display: inline-block;
  margin-top: 0.1em;
  width: 100%;
  text-align: center; }

#viewDeal .dealNumber {
  font-size: 1.25em; }

#viewDeal .expiration {
  font-size: 1em; }
  #viewDeal .expiration img {
    height: 1em; }

#viewDeal #dealImageZone img {
  width: 100%; }

#viewDeal #dealImageZone #imagePreview * {
  width: 100%; }

#viewDeal #previewInfo {
  background-color: #F48222;
  color: #fff;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 0.5em; }

#viewDeal #dealImage canvas {
  max-width: 100%; }

#viewDeal .angular-google-map-container {
  max-width: 30em;
  max-height: 20em; }

#viewDeal .emitterName {
  font-size: 2em; }

#viewDeal #seller {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #cccccc; }

#viewDeal #description #collapseButton {
  position: static;
  background-image: none;
  margin-top: -1.5em;
  text-align: right; }
  #viewDeal #description #collapseButton img {
    height: 2em;
    margin-right: 1em;
    margin-bottom: 1em; }

#viewDeal #description.short #collapseButton {
  margin-top: 0; }

#viewDeal #description.collapsed #collapseButton {
  position: relative;
  background-image: url("../img/vertical-gradient-white.png");
  background-repeat: repeat-x;
  background-size: 2em;
  margin-top: -2em;
  text-align: right; }
  #viewDeal #description.collapsed #collapseButton img {
    height: 2em;
    margin-right: 1em;
    margin-bottom: 1em; }

#viewDeal #description.collapsed p {
  max-height: 6.5em;
  overflow: hidden; }

#viewDeal #description > p {
  margin: 0; }

#viewDeal .remaining {
  font-size: 2em; }

#viewDeal .btn-facebook {
  font-size: 1.5em;
  margin-bottom: 1em; }

#viewDeal #expirationPrint {
  display: none; }

#viewDealFooter {
  clear: both;
  height: 90px;
  text-align: right; }
  #viewDealFooter .logo {
    height: 30px; }
  #viewDealFooter .brand {
    padding-top: 45px;
    padding-right: 5px;
    line-height: 0; }

@media (max-width: 400px) {
  #viewDeal .benefit {
    font-size: 1.25em; } }

#distributeDeal li a {
  color: #555; }

#distributeDeal .facebook-distribution-tab-heading {
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #36599e;
  color: #fff; }
  #distributeDeal .facebook-distribution-tab-heading img {
    height: 1.5em; }

#distributeDeal .fbColor {
  background-color: #36599e; }

#distributeDeal .badge {
  margin-left: 0.5em; }

#distributeDeal #addEmailButton {
  margin-top: 0.5em; }

#distributeDeal .nav-tabs li {
  font-size: 1.25em;
  background-color: #eee; }
  #distributeDeal .nav-tabs li.active {
    background-color: transparent; }
  #distributeDeal .nav-tabs li:hover {
    background-color: #ccc; }
    #distributeDeal .nav-tabs li:hover a {
      background-color: inherit; }
  #distributeDeal .nav-tabs li.active:hover {
    background-color: transparent; }

#distributeDeal .nav
.badge {
  font-size: 1.25em; }

#distributeDeal .tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0.5em; }

#distributeDeal #inputTaggedMessage {
  width: 100%;
  height: 6em; }

.catchier {
  font-size: 1.25em; }

#emailInvite h2 {
  font-size: 1.5em; }

#emailInvite #inputPasteEmails {
  margin-left: 0.5em;
  margin-right: 0.5em; }

#emailInvite #emailList {
  border: 1px solid #ddd;
  font-size: 1.25em;
  margin-bottom: 1em;
  margin-top: 1em; }
  #emailInvite #emailList > p {
    margin: 1em; }
  #emailInvite #emailList .emailToInvite {
    display: inline-block;
    padding: 0.25em;
    margin: 2px;
    background-color: #ddd; }
    #emailInvite #emailList .emailToInvite i {
      margin-left: 0.25em; }

#emailInvite #pasteList {
  margin-top: 2em;
  margin-bottom: 2em; }
  #emailInvite #pasteList #pasteListButton {
    margin-left: 1em; }

.fbLoggedIn {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #36599e;
  border-radius: 0.5em;
  color: #fff;
  display: inline-block; }
  .fbLoggedIn a {
    color: #fff;
    font-size: 1.25em; }

#distributeFb {
  margin-bottom: 1em; }
  #distributeFb .friendsCounter {
    margin-top: 1em;
    font-weight: bold; }
  #distributeFb .friendsList {
    border: 1px solid #aaa;
    overflow: hidden; }
    #distributeFb .friendsList > div {
      float: left; }
    #distributeFb .friendsList a {
      height: 55px;
      width: 15em;
      color: #000;
      cursor: pointer;
      display: table; }
      #distributeFb .friendsList a img {
        padding: 0.2em;
        display: table-cell;
        width: 55px; }
      #distributeFb .friendsList a div {
        text-align: left;
        margin-left: 0.2em;
        display: table-cell;
        vertical-align: middle;
        width: 100%; }
      #distributeFb .friendsList a:link, #distributeFb .friendsList a:visited, #distributeFb .friendsList a:hover, #distributeFb .friendsList a:active {
        color: #000;
        text-decoration: none; }
    #distributeFb .friendsList a.selected {
      color: #fff;
      background-color: #F48222;
      border-radius: 0.3em; }
  #distributeFb a.btn-facebook {
    margin-top: 1.5em;
    margin-bottom: 1.5em; }

#consumeByNumberForm {
  padding-top: 1em; }

#dealHolders > div > div {
  clear: both;
  vertical-align: middle;
  padding: 0.25em; }
  #dealHolders > div > div img {
    height: 50px; }
  #dealHolders > div > div #dealholderList {
    padding: 0; }
    #dealHolders > div > div #dealholderList > div {
      float: left;
      padding: 0.5em;
      margin: 0.5em;
      border-radius: 0.5em;
      background-color: #eee; }
      #dealHolders > div > div #dealholderList > div a {
        float: right;
        margin-left: 1em; }
      #dealHolders > div > div #dealholderList > div .dealNumber {
        font-size: 0.75em; }
      #dealHolders > div > div #dealholderList > div .dealSummary {
        font-size: 1.5em; }

#giveDeal .buttonImg {
  height: 7em;
  width: 7em;
  cursor: pointer; }
  #giveDeal .buttonImg img {
    height: 100%; }

#giveDeal div.selected {
  background-color: #DDD; }

#giveDeal > div {
  padding: 0.5em; }

#giveDeal #allowPublishFbButton {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

#giveDeal textarea {
  height: 6em; }

#createIdentity .buttonImg {
  height: 7em;
  width: 7em;
  cursor: pointer; }
  #createIdentity .buttonImg img {
    height: 100%; }

#createIdentity div.selected {
  background-color: #DDD; }

#createIdentity > div {
  padding: 0.5em; }

#createIdentity #connectButtonZone {
  margin-top: 2em; }

#load .balanceLine {
  font-size: 1.25em;
  color: #777; }
  #load .balanceLine .balance {
    font-weight: bold;
    color: #000; }

#load #paymentsTable img {
  height: 2em; }

div.creditCard .logo-stripe {
  height: 2em; }

div.creditCard .current-creditCard {
  margin-left: 3em;
  margin-top: 1.5em; }
  div.creditCard .current-creditCard .boldLabel {
    font-weight: bold; }

div.creditCard div label {
  display: block; }

div.creditCard div #inputExpirationMonth {
  width: 4em;
  display: inline; }

div.creditCard div #inputExpirationYear {
  width: 6em;
  display: inline; }

div.creditCard div #inputCvc {
  width: 5em; }

div.creditCard div button {
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

div.creditCard div #inputBigAmount {
  width: 7em; }

#contact textarea {
  height: 10em; }

#pref label {
  color: #000; }

#parameters {
  padding-bottom: 1em; }

#profile {
  padding-bottom: 1em; }

#forgotPassword {
  padding-bottom: 1em; }

#recoverPassword {
  padding-bottom: 1em; }

#distributeSummary {
  margin-bottom: 2em; }
  #distributeSummary p.summaryList {
    font-size: 1.25em; }
  #distributeSummary #nextSteps {
    list-style-type: none;
    padding-left: 0; }
    #distributeSummary #nextSteps li i {
      padding: 0.5em; }
  #distributeSummary #requiredActions {
    list-style-type: none;
    padding-left: 0; }
    #distributeSummary #requiredActions li i {
      padding: 0.5em; }
    #distributeSummary #requiredActions div.paymentCard {
      border: 1px solid #aaa;
      border-radius: 1em;
      padding: 0.5em;
      background-color: #ddd; }

#onRequestZone input[type="number"] {
  width: 7em;
  margin: 2em; }

#onRequestZone span[data-ng-bind="onRequest.initialAmount"] {
  font-size: 1.25em;
  font-weight: bold; }

#followup #grantStatusZone ul {
  list-style-type: none; }
  #followup #grantStatusZone ul li {
    display: inline-block;
    padding: 0.25em;
    margin: 0.25em;
    background-color: #ccc; }
    #followup #grantStatusZone ul li > span > img {
      height: 1.2em;
      margin-right: 0.5em; }
    #followup #grantStatusZone ul li > span > i.glyphicon {
      height: 1.2em;
      margin-right: 0.5em; }

#followup span[data-ng-bind="deal.benefit"] {
  font-size: 1.5em;
  margin-right: 0.5em; }

#followup table td {
  padding: 0.5em; }

#followup hr {
  margin-top: 10px;
  margin-bottom: 10px; }

#followup ul.attribs {
  list-style-type: none;
  padding-left: 0; }
  #followup ul.attribs li span:first-child {
    display: inline-block;
    width: 12em; }

#findDeals p.location {
  font-size: 1.25em;
  font-weight: bold; }

#findDeals .dealList {
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid #f7B89a;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  -webkit-box-shadow: 6px 4px 9px 0px #ccc;
  -moz-box-shadow: 6px 4px 9px 0px #ccc;
  box-shadow: 6px 4px 9px 0px #ccc; }
  #findDeals .dealList p[data-ng-bind="deal.benefit"] {
    font-size: 2em; }
  #findDeals .dealList img {
    width: 100%; }
  #findDeals .dealList > a > img {
    width: initial;
    max-width: 100%; }
  #findDeals .dealList > div > img {
    margin-bottom: 0.5em; }
  #findDeals .dealList p > span > img {
    width: 2em; }

#findDeals .distance {
  font-size: 1.25em;
  margin-top: 0.5em; }
  #findDeals .distance i {
    margin-right: 0.5em; }

#order table.price-table {
  width: 100%; }
  #order table.price-table td {
    border: 1px solid #888;
    text-align: center;
    padding: 1em; }
    #order table.price-table td p.selectedSubscription {
      font-size: 1.25em;
      font-weight: bold;
      text-align: center; }
  #order table.price-table thead tr td {
    border: 2px solid #888; }
    #order table.price-table thead tr td .price-col-title {
      font-size: 1.5em;
      font-weight: bold; }
    #order table.price-table thead tr td .price-col-month {
      font-size: 1em; }
  #order table.price-table td.current {
    border: 1px solid #fff;
    background-color: #F48222;
    color: #fff; }

#order p.important {
  font-size: 1.25em;
  margin-top: 0.5em; }

#order a.btn-primary {
  margin-bottom: 1em; }

#order div.btn-group {
  margin-bottom: 1em; }

#order .undiscounted {
  text-decoration: line-through;
  font-size: 1.25em; }

a[data-dlb-localize="cancelButton"] {
  margin-right: 2em; }

#underconstruction img.workingbee {
  max-width: 20em; }

#basket td.right {
  text-align: right; }

#basket tr.basketTableSubtitle td {
  font-weight: bold; }

#invoicingData button.btn-primary {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

#invoicingData #useEmitterAddressButton {
  margin-top: 1.75em;
  margin-bottom: 0.25em;
  margin-left: 1em; }

#invoicingData .vatZone {
  margin-top: 1.75em; }

#scan img.scanResultPic {
  width: 15em;
  max-width: 100%;
  margin-top: 2em;
  margin-bottom: 2em; }

#scan div.scanResult {
  text-align: left; }
  #scan div.scanResult p.header {
    text-align: right;
    font-weight: bold; }

.printOnly {
  visibility: hidden; }

@media print {
  .notPrinted {
    display: none; }
  #view {
    padding-bottom: 0; }
  #viewDeal {
    margin-bottom: 0; }
    #viewDeal #dealCard {
      vertical-align: top; }
      #viewDeal #dealCard > div:first-child {
        width: 40%;
        display: inline-block;
        vertical-align: top; }
      #viewDeal #dealCard > div:last-child {
        width: 55%;
        display: inline-block; }
      #viewDeal #dealCard #benefit {
        width: 100%; }
      #viewDeal #dealCard #expirationPrint {
        display: inline-block;
        font-size: 2em; }
      #viewDeal #dealCard #expiration {
        display: none; }
      #viewDeal #dealCard .printOnly > .benefit {
        font-size: 2em; }
  a[href]:after {
    content: ""; }
  .printOnly {
    visibility: visible; } }

#leanMenu {
  margin-top: 0.5em; }
  #leanMenu .fbLink {
    float: right;
    margin-right: 2em; }
    #leanMenu .fbLink img {
      height: 1.5em; }
  #leanMenu .topLink {
    float: right;
    margin-right: 1.5em;
    margin-top: 1em;
    color: #222; }
    #leanMenu .topLink:link, #leanMenu .topLink:visited {
      color: #666; }
    #leanMenu .topLink:hover {
      color: #111; }
    #leanMenu .topLink:active {
      color: #666; }
  #leanMenu div.langSwitch {
    margin-top: 0.4em;
    float: right;
    margin-left: 2em;
    height: 100%;
    display: inline-block; }
    #leanMenu div.langSwitch a.activeLanguageButton {
      background-color: #F48222;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      color: #fff; }
      #leanMenu div.langSwitch a.activeLanguageButton:link, #leanMenu div.langSwitch a.activeLanguageButton:visited, #leanMenu div.langSwitch a.activeLanguageButton:hover, #leanMenu div.langSwitch a.activeLanguageButton:active {
        color: #fff;
        text-decoration: none; }
    #leanMenu div.langSwitch a {
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      padding: 1em;
      padding-top: 1.1em;
      background-color: #fff;
      color: #f25e17; }
      #leanMenu div.langSwitch a:link, #leanMenu div.langSwitch a:visited, #leanMenu div.langSwitch a:hover, #leanMenu div.langSwitch a:active {
        color: #f25e17;
        text-decoration: none; }
  #leanMenu img {
    height: 2.5em; }

#find #sideCta {
  position: fixed;
  top: 6em;
  left: 0; }
  #find #sideCta img {
    width: 100%; }
  #find #sideCta > a > span {
    position: absolute;
    left: 0.5em;
    top: 4.5em;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    width: 4.6em; }

#find #geoloc {
  margin-bottom: 2em; }

#find #queryModes {
  margin-bottom: 1em; }

#metadata .input-keyword {
  width: 100%; }

#metadata #keywordsList {
  margin-top: 1em; }
  #metadata #keywordsList .keywordGroup {
    padding: 0.25em;
    border: 1px solid #888;
    background-color: #bbb;
    margin-right: 1em; }
  #metadata #keywordsList .keyword {
    font-size: 1.2em;
    padding-right: 0.5em; }

#managers form {
  margin-top: 0.5em;
  margin-bottom: 1em; }
  #managers form button {
    padding: 0.35em; }

#emitterIdentity {
  margin-bottom: 1em; }

#accept #createProfileButton {
  margin-top: 1em; }

#grantsStatus ul.attribs {
  margin-top: 1em;
  list-style-type: none;
  padding-left: 0; }
  #grantsStatus ul.attribs li span:first-child {
    width: 12em; }

#grantsStatus span[data-ng-bind="deal.benefit"] {
  margin-right: 0.5em;
  font-weight: bold; }

#grantsStatus li span:first-child {
  display: inline-block;
  width: 12em; }

#grantsStatus tr.headerRow td {
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

#grantsStatus tr td {
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  white-space: nowrap; }

#grantsStatus tr td.expand {
  width: 100%; }

#grantsStatus .table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #ccc !important; }
