<h1>Grant details</h1>
<a href="" data-ng-click="load()" class="btn btn-default">Refresh <i class="glyphicon glyphicon-refresh"></i></a> 
<p>Id <span data-ng-bind="grant._id"></span></p>
<p>Type <span data-ng-bind="grant.channelType === 0 ? 'Facebook' : 'Email'"></span></p>
<p>Destinator <span data-ng-bind="grant.channelType === 0 ? grant.fbDestinatorUser.name : grant.email"></span></p>
<p>uuid <span data-ng-bind="grant.uuid"></span></p>
<p>Created <span data-ng-bind="grant.created"></span></p>
<p>Sent <span data-ng-bind="grant.sent"></span></p>
<p>Consumed <span data-ng-bind="grant.consumed"></span></p>
<p>Number <span data-ng-bind="grant.number"></span></p>
<h2>Previous holders</h2>
<table class="table table-striped">
	<thead>
		<th>Date given</th>
		<th>Holder identifier</th>
	</thead>
	<tbody>
		<tr data-ng-repeat="previousHolder in grant.previousHolders">
			<td data-ng-bind="previousHolder.given"></td>
			<td data-ng-bind="previousHolder.email ? previousHolder.email : previousHolder.fbUser.name"></td>
		</tr>
	</tbody>
</table>
<h2>Send errors</h2>
<a href="" data-ng-click="resend(grant)" class="btn btn-default" data-ng-show="!grant.consumed">(Re)send deal <i class="glyphicon glyphicon-send"></i></a>
<table class="table table-striped">
	<thead>
		<th>Date</th>
		<th>Error</th>
	</thead>
	<tbody>
		<tr data-ng-repeat="sendError in grant.sendErrors">
			<td data-ng-bind="sendError.date"></td>
			<td data-ng-bind="sendError.error"></td>
		</tr>
	</tbody>
</table>
<h2>Gift requests by mail</h2>
<table class="table table-striped">
	<thead>
		<th>Created</th>
		<th>Sent</th>
		<th>Expires</th>
		<th>Confirmed</th>
		<th>uuid</th>
		<th>Send errors</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<tr data-ng-repeat="giftEmailConfirmation in grant.giftEmailConfirmations">
			<td data-ng-bind="giftEmailConfirmation.created"></td>
			<td data-ng-bind="giftEmailConfirmation.sent"></td>
			<td data-ng-bind="giftEmailConfirmation.expires"></td>
			<td data-ng-bind="giftEmailConfirmation.confirmed"></td>
			<td data-ng-bind="giftEmailConfirmation.uuid"></td>
			<td>
				<p data-ng-repeat="sendError in giftEmailConfirmation.sendErrors">
					<span data-ng-bind="sendError.date"></span>: <span data-ng-bind="sendError.error"></span>
				</p>
			</td>
			<td><a href="" data-ng-click="resendGiftConfirmationEmail(giftEmailConfirmation)" class="btn btn-default" data-ng-show="!giftEmailConfirmation.confirmed">(Re)send confirmation request <i class="glyphicon glyphicon-send"></i></a></td>
		</tr>
	</tbody>
</table>
