<div class="container">
	<h1 data-dlb-localize="ourCommitment.title"></h1>
	<ul>
		<li>
			<h2 data-dlb-localize="ourCommitment.commitment1Title"></h2>
			<p data-dlb-localize="ourCommitment.commitment1"></p>
		</li>
		<li>
			<h2 data-dlb-localize="ourCommitment.commitment2Title"></h2>
			<p data-dlb-localize="ourCommitment.commitment2"></p>
		</li>
		<li>
			<h2 data-dlb-localize="ourCommitment.commitment3Title"></h2>
			<p><span data-dlb-localize="ourCommitment.commitment3s1"></span><a data-dlb-localize="ourCommitment.commitment3ContactLink" href="/contact"></a><span data-dlb-localize="ourCommitment.commitment3s2"></span></p>
		</li>
		<li>
			<h2 data-dlb-localize="ourCommitment.commitment4Title"></h2>
			<p data-dlb-localize="ourCommitment.commitment4p1"></p>
			<p data-dlb-localize="ourCommitment.commitment4p2"></p>
		</li>
	</ul>
	<h2 data-dlb-localize="ourCommitment.whyChooseDealbee"></h2>
	<p data-dlb-localize="ourCommitment.whyChooseDealbeeP1"></p>	
	<p data-dlb-localize="ourCommitment.whyChooseDealbeeP2"></p>	
	<p data-dlb-localize="ourCommitment.whyChooseDealbeeP3"></p>	
	<p data-dlb-localize="ourCommitment.whyChooseDealbeeP4"></p>	
	<p data-dlb-localize="ourCommitment.whyChooseDealbeeP5"></p>	
	<p data-dlb-localize="ourCommitment.whyChooseDealbeeP6"></p>	
	<p data-dlb-localize="ourCommitment.whyChooseDealbeeP7"></p>	
</div>