<div class="container" id="pricing">
	<h1 data-dlb-localize="pricing.title"></h1>
	<img data-ng-if="loadingPrices" src="/assets/img/load.gif"/>
	<div data-ng-include="'template/order/order.html'"></div>
	<div data-ng-hide="account">
		<p class="important" data-dlb-localize="pricing.subscribeToBenefit"></p>
		<a class="btn btn-primary" data-dlb-localize="pricing.subscribeButton" href="subscribe"></a>
	</div>
</div>