<div class="well">
	<cl-image data-ng-show="emitter.imageRef" class="emitterLogo" public-id="{{ emitter.imageRef.public_id }}" format="{{ emitter.imageRef.format }}">
		<cl-transformation height="300" crop="fit"/>
	</cl-image>
	<p data-ng-bind="emitter.name"></p>
	<p data-ng-if="emitter.address"><span data-ng-bind="emitter.address.street"></span>, <span data-ng-bind="emitter.address.number"></span> <span data-ng-bind="emitter.address.postcode"></span> <span data-ng-bind="emitter.address.city"></span></p>
	<a data-ng-if="emitter.website" data-ng-href="{{ emitter.website }}" data-ng-bind="emitter.website"></a>
</div>