<div id="createIdentity" data-ng-controller="CreateIdentityCtrl">
	<div class="row" data-ng-class="byFacebook ? 'selected': ''">
		<div class="col-sm-2">
			<p data-dlb-localize="createIdentity.withFacebook"></p>
			<div class="buttonImg" id="byFacebookButton" data-ng-click="selectFacebook()">
				<img tabindex="10" data-dlb-localize-alt="createIdentity.withFacebookButtonAlt" src="assets/img/FB-f-Logo__blue_512.png"/>
			</div>
		</div>
		<div class="col-sm-10" data-ng-show="byFacebook" data-ng-submit="createByFacebook()">
			<div data-ng-show="!fbAccount" id="connectButtonZone">
				<button class="btn btn-facebook" data-ng-click="fbConnect()" tabindex="11"><span data-dlb-localize="signUpFbButton"></span></button>
			</div>
			<div data-ng-show="fbAccount">
				<div class="fbLoggedIn centered">
					<img ng-src="{{fbAccount.pic}}"/>
					<span data-ng-bind="fbAccount.name"></span><br>
					<a tabindex="12" href="" data-dlb-localize="fbDisconnectButton" data-ng-click="disconnectFb()"></a>
				</div>
				<form name="identityFbForm" data-ng-show="fbAccount" data-ng-submit="createWithFb()">
					<div class="form-group" data-ng-class="identityFbForm.emailFb.$invalid && submittedOnce ? 'has-error' : ''">
						<label for="inputEmailFb" data-dlb-localize="emailLabel"></label>
						<input tabindex="13" type="email" class="form-control" id="inputEmailFb" data-ng-model="emailFb" name="emailFb" data-ng-required="fbAccount">
						<span class="invalid" data-ng-show="submittedOnce && identityFbForm.emailFb.$error.required" data-dlb-localize="emailRequired"></span>
						<span class="invalid" data-ng-show="submittedOnce && identityFbForm.emailFb.$error.email" data-dlb-localize="emailValid"></span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<hr>
	<div class="row" data-ng-class="byEmail ? 'selected': ''">
		<div class="col-sm-2">
			<p data-dlb-localize="createIdentity.withEmail"></p>
			<div class="buttonImg" data-ng-click="selectEmail()">
				<img tabindex="50" data-dlb-localize-alt="createIdentity.withEmailButtonAlt" src="assets/img/mail.png"/>
			</div>
		</div>
		<form class="col-sm-10" data-ng-show="byEmail" role="form" novalidate name="identityByMailForm" data-ng-submit="createWithEmail()">
			<div class="form-group" data-ng-class="identityByMailForm.email.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputEmail" data-dlb-localize="emailLabel"></label>
				<input type="email" class="form-control" id="inputEmail" data-ng-model="email" name="email" data-ng-required="true" tabindex="51">
				<span class="invalid" data-ng-show="submittedOnce && identityByMailForm.email.$error.required" data-dlb-localize="emitterIdentityControl.emailRequired"></span>
				<span class="invalid" data-ng-show="submittedOnce && identityByMailForm.email.$error.email" data-dlb-localize="emailValid"></span>
			</div>
			<div class="form-group" data-ng-class="identityByMailForm.password.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputPassword" data-dlb-localize="passwordLabel"></label>
				<input type="password" class="form-control" id="inputPassword" data-ng-model="password" name="password" data-ng-required="true" data-ng-minlength="10" data-tooltip="{{ getRes('emitterIdentityControl.passwordMinLengthTip') }}" tabindex="52">
				<span class="invalid" data-ng-show="submittedOnce && identityByMailForm.password.$error.required" data-dlb-localize="passwordRequired"></span>
				<span class="invalid" data-ng-show="submittedOnce && identityByMailForm.password.$error.minlength" data-dlb-localize="passwordMin10Chars"></span>
			</div>
			<div class="form-group" data-ng-class="identityByMailForm.repeatPassword.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputPasswordRepeat" data-dlb-localize="passwordRepeatLabel"></label>
				<input type="password" class="form-control" id="inputPasswordRepeat" data-ng-model="repeatPassword" name="repeatPassword" data-repeat-password="password" data-ng-required="true" tabindex="53">
				<span class="invalid" data-ng-show="submittedOnce && identityByMailForm.repeatPassword.$error.required" data-dlb-localize="repeatPasswordRequired"></span>
				<span class="invalid" data-ng-show="submittedOnce && identityByMailForm.repeatPassword.$error.repeat" data-dlb-localize="repeatPasswordNoMatch"></span>
			</div>
			<p class="invalid" data-ng-show="duplicateEmail" data-dlb-localize="emitterIdentityControl.duplicateEmail"></p>
			<p class="invalid" data-ng-show="fbAccountAlreadyLinked" data-dlb-localize="emitterIdentityControl.fbAccountAlreadyLinked"></p>
		</form>
	</div>
	<p class="invalid" data-ng-show="submittedOnce && byFacebook && !fbAccount" data-dlb-localize="emitterIdentityControl.mustLogin"></p>
</div>