<div class="creditCard" data-ng-controller="CreditCardCtrl">
	<div class="row">
		<div class="col-xs-12">
			<img data-ng-if="loadingCreditCard" src="assets/img/load.gif"/>
			<p><span data-dlb-localize="load.paymentSecuredWith"></span> <a href="http://www.stripe.com"><img class="logo-stripe" src="assets/img/stripe-logo.png"/></a></p>
		</div>
	</div>
	<div class="row current-creditCard" data-ng-show="creditCard.cardNumber">
		<div class="col-xs-12">
			<p><span class="boldLabel" data-dlb-localize="creditCardCtrl.cardNumberLabel"></span> : **** **** **** <span data-ng-bind="creditCard.cardNumber"></span></p>
			<p><span class="boldLabel" data-dlb-localize="creditCardCtrl.expirationLabel"></span> : <span data-ng-bind="creditCard.expirationMonth"></span> / <span data-ng-bind="creditCard.expirationYear"></span></p>
			<button class="btn btn-default" data-ng-click="changeCard()" data-dlb-localize="creditCardCtrl.changeCreditCardButton"></button>
		</div>
	</div>
	<form role="form" name="creditCardForm" data-ng-submit="saveCreditCard()" novalidate data-ng-hide="creditCard.cardNumber || loadingCreditCard">
		<div class="row">
			<div class="col-sm-6">
				<label for="inputCardNumber" data-dlb-localize="load.cardNumberLabel"></label>
				<input type="text" class="form-control" id="inputCardNumber" data-ng-model="cardNumber" name="cardNumber" data-ng-required="true" data-ng-pattern="/^\d{16}$/" data-stripe="number">
				<p class="invalid" data-ng-show="submittedOnce && creditCardForm.cardNumber.$error.required" data-dlb-localize="load.cardNumberRequired"></p>
				<p class="invalid" data-ng-show="submittedOnce && creditCardForm.cardNumber.$error.pattern" data-dlb-localize="load.cardNumberValid"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<label for="inputExpirationMonth" data-dlb-localize="load.expirationLabel"></label>
				<input type="text" class="form-control" id="inputExpirationMonth" data-ng-model="expirationMonth" name="expirationMonth" data-ng-required="true" data-ng-pattern="/^\d{1,2}$/" data-stripe="exp-month" placeholder="{{ getRes('load.expirationMonthPlaceholder') }}">
				<input type="text" class="form-control" id="inputExpirationYear" data-ng-model="expirationYear" name="expirationYear" data-ng-required="true" data-ng-pattern="/^\d{4}$/" data-stripe="exp-year" placeholder="{{ getRes('load.expirationYearPlaceholder') }}">
				<p class="invalid" data-ng-show="submittedOnce && ( creditCardForm.expirationMonth.$error.required || creditCardForm.expirationYear.$error.required )" data-dlb-localize="load.expirationRequired"></p>
				<p class="invalid" data-ng-show="submittedOnce && ( creditCardForm.expirationMonth.$error.pattern || creditCardForm.expirationYear.$error.pattern )" data-dlb-localize="load.expirationValid"></p>
			</div>
			<div class="col-sm-3">
				<label for="inputCvc" data-dlb-localize="load.cvcLabel"></label>
				<input type="text" class="form-control" id="inputCvc" data-ng-model="cvc" name="cvc" data-ng-required="true" data-dlb-cardNumber data-stripe="cvc">
				<p class="invalid" data-ng-show="submittedOnce && creditCardForm.cvc.$error.required" data-dlb-localize="load.cvcRequired"></p>
				<p class="invalid" data-ng-show="submittedOnce && creditCardForm.cvc.$error.cvc" data-dlb-localize="load.cvcValid"></p>
			</div>
		</div>
		<div class="row">
			<div class="centered">
	      		<a href="" data-ng-show="creditCard.cardNumber" data-dlb-localize="cancelButton" data-ng-click="resetPreviousCard()"></a><img data-ng-if="savingCreditCard" src="assets/img/load.gif"/><button class="btn btn-primary" type="submit" data-dlb-localize="creditCardCtrl.saveCardButton"></button>
	      		<p class="invalid" data-ng-show="creditCardSaveFailed" data-dlb-localize="creditCardCtrl.technicalError"></p>
	      	</div>			
		</div>
	</form>	
</div>
