<div data-ng-controller="EmitterIdentityCtrl" id="emitterIdentity">
	<h2 data-dlb-localize="emitterIdentityControl.title"></h2>
	<ul>
		<li data-dlb-localize="emitterIdentityControl.explain1"></li>
		<li data-dlb-localize="emitterIdentityControl.explain2"></li>
		<li data-dlb-localize="emitterIdentityControl.explain3"></li>
	</ul>
	<div data-ng-include="'template/emitter/createIdentity.html'"></div>
</div>