<div data-ng-controller="InvoicingCtrl" id="invoicingData">
	<div data-ng-hide="editMode">
		<p data-dlb-localize="InvoicingCtrl.invoicesAreSentTo"></p>
		<p><span data-ng-bind="invoicingData.juridicalForm"></span> <span data-ng-bind="invoicingData.companyName"></span></p>
		<p><span data-ng-bind="invoicingData.VATCountryCode"></span><span data-ng-bind="invoicingData.VATNumber"></span></p>
		<p><span data-ng-bind="invoicingData.address.street"></span>, <span data-ng-bind="invoicingData.address.number"></span><span data-ng-show="invoicingData.address.box"> - <span data-ng-bind="invoicingData.address.box"></span></span></p>
		<p><span data-ng-bind="invoicingData.address.postcode"></span> <span data-ng-bind="invoicingData.address.city"></span></p>
		<button class="btn btn-default" data-ng-click="editMode = true" data-dlb-localize="InvoicingCtrl.editButton"></button>
	</div>
	<form name="invoicingDataForm" data-ng-submit="saveInvoicingData()" novalidate data-ng-show="editMode">
		<div class="row">
			<div class="col-sm-6" data-ng-class="invoicingDataForm.companyName.$invalid && invoicingDataSumittedOnce ? 'has-error' : ''">
				<label for="inputCompanyName"><span data-dlb-localize="InvoicingCtrl.companyNameLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
				<input type="text" class="form-control halfscreen" id="inputCompanyName" data-ng-model="invoicingData.companyName" name="companyName" data-ng-required="true">
				<span class="invalid" data-ng-show="invoicingDataSumittedOnce && invoicingDataForm.companyName.$error.required" data-dlb-localize="InvoicingCtrl.companyNameRequired"></span>
			</div>
			<div class="col-sm-6">
				<label for="inputJuridicalForm" data-dlb-localize="InvoicingCtrl.juridicalFormLabel"></label>
				<input type="text" class="form-control small" id="inputJuridicalForm" data-ng-model="invoicingData.juridicalForm" name="juridicalForm">
			</div>
		</div>
		<div class="row" data-ng-show="account.emitter.address.street">
			<div class="col-sm-12">
				<a href="" id="useEmitterAddressButton" class="btn btn-default" data-dlb-localize="InvoicingCtrl.useEmitterAddress" data-ng-click="setEmitterAddress()"></a>
			</div>
		</div>
		<div>
			<div class="row">
				<div class="col-sm-6" data-ng-class="invoicingDataForm.street.$invalid && invoicingDataSumittedOnce ? 'has-error' : ''">
					<label for="inputStreet"><span data-dlb-localize="emitterLocationControl.streetLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
					<input type="text" class="form-control halfscreen" id="inputStreet" data-ng-model="invoicingData.address.street" name="street" data-ng-required="true" placeholder="{{ getRes('emitterLocationControl.streetPlaceHolder') }}">
					<span class="invalid" data-ng-show="invoicingDataSumittedOnce && invoicingDataForm.street.$error.required" data-dlb-localize="emitterLocationControl.streetRequired"></span>
				</div>
				<div class="col-sm-3">
					<label for="inputNumber" data-dlb-localize="emitterLocationControl.numberLabel"></label>
					<input type="text" class="form-control small" id="inputNumber" data-ng-model="invoicingData.address.number" name="number">              
				</div>
				<div class="col-sm-3">
					<label for="inputBox" data-dlb-localize="emitterLocationControl.boxLabel"></label>
					<input type="text" class="form-control small" id="inputBox" data-ng-model="invoicingData.address.box" name="box">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" data-ng-class="invoicingDataForm.postcode.$invalid && invoicingDataSumittedOnce ? 'has-error' : ''">
					<label for="inputPostcode"><span data-dlb-localize="emitterLocationControl.postcodeLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
					<input type="text" class="form-control halfscreen" id="inputPostcode" data-ng-model="invoicingData.address.postcode" name="postcode" data-ng-required="true">
					<span class="invalid" data-ng-show="invoicingDataSumittedOnce && invoicingDataForm.postcode.$error.required" data-dlb-localize="emitterLocationControl.postcodeRequired"></span>
				</div>
				<div class="col-sm-6" data-ng-class="invoicingDataForm.city.$invalid && invoicingDataSumittedOnce ? 'has-error' : ''">
					<label for="inputCity"><span data-dlb-localize="emitterLocationControl.cityLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
					<input type="text" class="form-control halfscreen" id="inputCity" data-ng-model="invoicingData.address.city" name="city" data-ng-required="true">
					<span class="invalid" data-ng-show="invoicingDataSumittedOnce && invoicingDataForm.city.$error.required" data-dlb-localize="emitterLocationControl.cityRequired"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label for="inputCountry" data-dlb-localize="emitterLocationControl.countryLabel"></label>
					<input type="text" class="form-control halfscreen" id="inputCountry" data-ng-model="invoicingData.address.country">
				</div>
			</div>
		</div>
		<div class="row vatZone">
			<div class="col-sm-12">
				<label class="black">
					<input id="inputHasNoVATNumber" type="checkbox" data-ng-model="invoicingData.hasNoVATNumber"><span data-dlb-localize="InvoicingCtrl.haveNoVATNumber"></span>
				</label>
			</div>
		</div>
		<div class="row" data-ng-hide="invoicingData.hasNoVATNumber">
			<div class="col-sm-4 col-md-2">
				<label for="inputVATCountry"><span data-dlb-localize="InvoicingCtrl.VATCountryLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
				<input type="text" class="form-control small" id="inputVATCountry" data-ng-model="invoicingData.VATCountryCode" name="VATcountry" data-ng-pattern="/^\w{1,3}$/" data-ng-required="!invoicingData.hasNoVATNumber">
				<span class="invalid" data-ng-show="invoicingDataSumittedOnce && invoicingDataForm.VATcountry.$error.required" data-dlb-localize="InvoicingCtrl.VATCountryRequired"></span>
				<span class="invalid" data-ng-show="invoicingDataSumittedOnce && invoicingDataForm.VATcountry.$error.pattern" data-dlb-localize="InvoicingCtrl.VATCountryValid"></span>
			</div>
			<div class="col-sm-8 col-md-10">
				<label for="inputVATNumber"><span data-dlb-localize="InvoicingCtrl.vatNumberLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
				<input type="text" class="form-control" id="inputVATNumber" data-ng-model="invoicingData.VATNumber" name="VATNumber" data-ng-pattern="/^[0-9]{5,11}$/" data-ng-required="!invoicingData.hasNoVATNumber">
				<span class="invalid" data-ng-show="invoicingDataSumittedOnce && invoicingDataForm.VATNumber.$error.required" data-dlb-localize="InvoicingCtrl.VATNumberRequired"></span>
				<span class="invalid" data-ng-show="invoicingDataSumittedOnce && invoicingDataForm.VATNumber.$error.pattern" data-dlb-localize="InvoicingCtrl.VATNumberValid"></span>
			</div>
		</div>
		<div class="centered">
			<a data-ng-show="account.client.invoicingData && account.client.invoicingData.companyName" href="" data-ng-click="initInvoicingDataFromSession()" data-dlb-localize="cancelButton"></a>
			<img data-ng-if="savingInvoicingData" src="assets/img/load.gif"/><button type="submit" class="btn btn-primary" data-dlb-localize="load.saveInvoicingDataButton"></button>
		</div>
	</form>
</div>