<div data-ng-controller="EmitterLocationCtrl">
	<h2 data-dlb-localize="emitterLocationControl.title"></h2>
	<p data-dlb-localize="emitterLocationControl.locationExplain"></p>
	<form name="locationForm" id="locationForm">
		<h3 data-dlb-localize="emitterLocationControl.addressTitle"></h3>
			<div class="row">
				<div class="col-sm-6" data-ng-class="locationForm.street.$invalid && submittedOnce ? 'has-error' : ''">
					<label for="inputStreet" data-dlb-localize="emitterLocationControl.streetLabel"></label>
					<input type="text" class="form-control halfscreen" id="inputStreet" data-ng-model="address.street" name="street" data-ng-required="anyAddressFieldProvided()" data-on-change="geocode()" placeholder="{{ getRes('emitterLocationControl.streetPlaceHolder') }}" tabindex="10">
					<span class="invalid" data-ng-show="submittedOnce && locationForm.street.$error.required" data-dlb-localize="emitterLocationControl.streetRequired"></span>
				</div>
				<div class="col-sm-3">
					<label for="inputNumber" data-dlb-localize="emitterLocationControl.numberLabel"></label>
					<input type="text" class="form-control small" id="inputNumber" data-ng-model="address.number" name="number" data-on-change="geocode()" tabindex="11">
				</div>
				<div class="col-sm-3">
					<label for="inputBox" data-dlb-localize="emitterLocationControl.boxLabel"></label>
					<input type="text" class="form-control small" id="inputBox" data-ng-model="address.box" name="box" tabindex="12">              
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" data-ng-class="locationForm.postcode.$invalid && submittedOnce ? 'has-error' : ''">
					<label for="inputPostcode" data-dlb-localize="emitterLocationControl.postcodeLabel"></label>
					<input type="text" class="form-control halfscreen" id="inputPostcode" data-ng-model="address.postcode" name="postcode" data-ng-required="anyAddressFieldProvided()" data-on-change="geocode()" tabindex="13">
					<span class="invalid" data-ng-show="submittedOnce && locationForm.postcode.$error.required" data-dlb-localize="emitterLocationControl.postcodeRequired"></span>
				</div>
				<div class="col-sm-6" data-ng-class="locationForm.city.$invalid && submittedOnce ? 'has-error' : ''">
					<label for="inputCity" data-dlb-localize="emitterLocationControl.cityLabel"></label>
					<input type="text" class="form-control halfscreen" id="inputCity" data-ng-model="address.city" name="city" data-ng-required="anyAddressFieldProvided()" data-on-change="geocode()" tabindex="14">
					<span class="invalid" data-ng-show="submittedOnce && locationForm.city.$error.required" data-dlb-localize="emitterLocationControl.cityRequired"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<label for="inputCountry" data-dlb-localize="emitterLocationControl.countryLabel"></label>
					<input type="text" class="form-control halfscreen" id="inputCountry" data-ng-model="address.country" name="country" data-on-change="geocode()" tabindex="15">
				</div>
			</div>
			<div class="form-group">
				<label class="black">
					<input type="checkbox" name="useMap" data-ng-model="address.useMap" data-ng-click="geocode()" tabindex="16">
					<span data-dlb-localize="emitterLocationControl.useMapLabel"></span>
				</label>
			</div>
			<div class="row" data-ng-show="address.useMap">
				<p class="help-block" data-dlb-localize="emitterLocationControl.mapInstructions"></p>
				<ui-gmap-google-map center="map.center" zoom="map.zoom">
					<ui-gmap-marker coords="map.marker.location" options="map.marker.options" idkey="map.marker.id" events="map.marker.events">
				</ui-gmap-google-map>
			</div>
		</div>
	</form>
</div>