<div id="login" data-ng-controller="EmitterLoginCtrl">
	<div class="centered" id="fbLoginRow">
		<img data-ng-if="loggingInFacebook" src="assets/img/load.gif"/><button class="btn btn-facebook" data-ng-click="fbConnect()" tabindex="1"><span data-dlb-localize="loginFbButton"></span></button>
	</div>
	<div class="row">
		<span class="invalid col-sm-offset-4 col-sm-8" data-ng-show="fbAccountUnknown" data-dlb-localize="login.fbAccountNotEmitter"></span>
	</div>
	<div class="centered">
		<h2 data-dlb-localize="or"></h2>
	</div>
	<form role="form" novalidate class="form-horizontal" name="loginForm" data-ng-submit="login()">
		<div>
			<div class="form-group" data-ng-class="loginForm.email.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputEmail" data-dlb-localize="emailLabel" class="control-label col-sm-4"></label>
				<div class="col-sm-8">
					<input type="email" class="form-control" id="inputEmail" data-ng-model="newSession.email" name="email" data-ng-required="true" tabindex="2">
				</div>
				<span class="invalid col-sm-offset-4 col-sm-8" data-ng-show="submittedOnce && loginForm.email.$error.required" data-dlb-localize="emailRequired"></span>
		        <span class="invalid col-sm-offset-4 col-sm-8" data-ng-show="submittedOnce && loginForm.email.$error.email" data-dlb-localize="emailValid"></span>
			</div>
			<div class="form-group" data-ng-class="loginForm.password.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputPassword" data-dlb-localize="passwordLabel" class="control-label col-sm-4"></label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="inputPassword" data-ng-model="newSession.password" name="password" data-ng-required="true" tabindex="3">
				</div>
				<span class="invalid col-sm-offset-4 col-sm-8" data-ng-show="submittedOnce && loginForm.password.$error.required" data-dlb-localize="passwordRequired"></span>
			</div>
		</div>
		<div class="centered">
			<p class="invalid" data-ng-show="loginFailed" data-dlb-localize="login.loginFailed"></p>
			<img data-ng-if="loggingInPassword" src="assets/img/load.gif"/><button id="createSessionButton" type="submit" class="btn btn-primary" data-dlb-localize="login.loginButton" tabindex="4"></button>
		</div>
		<div class="centered">
			<a href="forgotpassword" data-dlb-localize="login.forgotPasswordButton" data-ng-click="forgotPassword()" tabindex="5"></a>
		</div>
	</form>	
</div>
