<div data-ng-controller="EmitterNameCtrl" id="emitterName">
	<h2 data-dlb-localize="emitterNameControl.title"></h2>
	<p data-dlb-localize="emitterNameControl.nameExplain"></p>
	<form name="nameForm">
		<div class="form-group">
			<label for="inputName"><span data-dlb-localize="emitterNameControl.nameLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
			<input type="text" class="form-control" id="inputName" name="name" data-ng-model="name" data-ng-required="true" data-ng-minlength="2" data-ng-maxlength="200" tabindex="1">
		    <p class="invalid" data-ng-show="submittedOnce && nameForm.name.$error.required" data-dlb-localize="emitterNameControl.nameRequired"></p>  
		    <p class="invalid" data-ng-show="submittedOnce && nameForm.name.$error.minlength" data-dlb-localize="emitterNameControl.nameMin2Chars"></p>  
		    <p class="invalid" data-ng-show="submittedOnce && nameForm.name.$error.maxlength" data-dlb-localize="emitterNameControl.nameMax200Chars"></p>
		</div>
		<div class="form-group">
	        <label data-dlb-localize="emitterNameControl.businessImageLabel"></label>
			<p>
				<img data-ng-if="loadingImageSelector" src="assets/img/load.gif"/>
				<a class="btn btn-default" href="" data-ng-click="openUploadBox()" tabindex="2">
					<span data-dlb-localize="selectFileToUploadButton"></span>
					<i class="glyphicon glyphicon-upload"></i>
				</a>
				<a data-ng-show="imageRef" class="btn btn-default imageButton" href="" data-ng-click="removeImage()" tabindex="3"><i class="glyphicon glyphicon-remove"></i></a>
			</p>
			<cl-image data-ng-show="imageRef" public-id="{{ imageRef.public_id }}" format="{{ imageRef.format }}">
				<cl-transformation height="200" crop="fit"/>
			</cl-image>
	        <p class="help-block" data-dlb-localize="emitterNameControl.businessImageHelp"></p>
	        <p class="invalid" data-ng-show="fileTooBig" data-dlb-localize="imageTooBig"></p>
	        <p class="invalid" data-ng-show="notAnImage" data-dlb-localize="notAnImage"></p>
		</div>
	    <div class="form-group">
		    <label for="inputWebsite" data-dlb-localize="emitterNameControl.websiteLabel"></label>
		    <input type="text" class="form-control" id="inputWebsite" data-ng-model="website" name="website" data-ng-pattern="/^((http)?(s)?\:\/\/)?(www\.)?([a-z\d-\.]+)\.([a-z\d-]{2,6})([\/a-zA-Z\d\?\#=/-]*)$/" tabindex="4">
		    <p class="invalid" data-ng-show="submittedOnce && nameForm.website.$error.pattern" data-dlb-localize="emitterNameControl.websitePattern"></p>
	    </div>
	    <div class="form-group">
	    	<p><label data-dlb-localize="emitterNameControl.languageLabel"></label></p>
			<label class="radio-inline" data-ng-repeat="language in languages">
				<input type="radio" name="radioLanguages" data-ng-value="language.code" data-ng-model="$parent.emitterLanguage" tabindex="{{ 5 + $index }}"><span data-ng-bind="language.name">
			</label>
	    </div>
	</form>
</div>
