<div class="container" id="consumptions">
	<h1 data-dlb-localize="consumptions.title"></h1>
	<div class="btn-group btn-group-lg" role="group">
		<button type="button" class="btn btn-default" data-ng-repeat="month in monthes" data-ng-bind="month | dblMonth" data-ng-click="queryConsumptions(month)"></button>
	</div>
</div>