<div class="dealHeading centered" data-ng-controller="ViewdealTitleCtrl">
	<h1 data-ng-hide="displayMode && displayMode == 'onrequest'" data-dlb-localize="viewdealTitleCtrl.title"></h1>
	<h1 data-ng-show="displayMode && displayMode == 'onrequest'" data-dlb-localize="viewdealTitleCtrl.dealPageTitle"></h1>
	<div class="dealTitle">
		<div class="centered">
			<p class="dealNumber"><span data-ng-hide="!number"><span data-dlb-localize="viewdealTitleCtrl.dealNumberLabel"></span><span data-ng-bind="number"></span></span></p>
		</div>
		<div class="row">
			<div id="benefit" class="col-xs-12 notPrinted">
				<span class="benefit" data-ng-bind="deal.benefit || benefit"></span>
			</div>
			<div class="col-xs-12 printOnly">
				<span class="benefit" data-ng-bind="deal.benefit || benefit"></span>
			</div>
		</div>
		<div class="row">
			<div id="teaser" class="col-xs-12 centered">
				<span class="teaser"><span data-ng-bind="deal.teaser || teaser"></span><span data-ng-hide="previewMode || !channelType"> *</span></span>
			</div>
		</div>
	</div>
</div>
