<div class="container" id="contact">
	<h1 data-dlb-localize="contact.title"></h1>
	<form role="form" name="messageForm" data-ng-submit="sendMessage()" novalidate>
		<div class="form-group" data-ng-hide="account">
			<label for="inputEmail" data-dlb-localize="emailLabel"></label>
			<input type="email" class="form-control" id="inputEmail" data-ng-model="email" data-ng-required="!account">
		</div>
		<div class="form-group">
			<label for="inputSubject" data-dlb-localize="contact.subjectLabel"></label>
			<input type="text" class="form-control" id="inputSubject" data-ng-model="subject">
		</div>
		<div class="form-group">
			<label for="inputBody" data-dlb-localize="contact.bodyLabel"></label>
			<textarea class="form-control" id="inputBody" data-ng-model="body"></textarea>
		</div>
		<button type="submit" class="btn btn-important" data-dlb-localize="contact.sendMessageButton"></button>
  	</form>
</div>