<div class="container" id="about">
	<h1 data-dlb-localize="about.title"></h1>
	<h2 data-dlb-localize="about.theCompany"></h2>
	<p data-dlb-localize="about.companyP1"></p>
	<p data-dlb-localize="about.companyP2"></p>
	<p data-dlb-localize="about.companyP3"></p>
	<h2 data-dlb-localize="about.whoAreWe"></h2>
	<h3>Bertrand Larsy</h3>
	<h4 data-dlb-localize="about.roleBertrand"></h4>
	<div class="row">
		<div class="col-sm-2">
			<img src="assets/img/bertrand.jpg"/>
		</div>
		<div class="col-sm-10">
			<p data-dlb-localize="about.bertrandP1"></p>
			<p data-dlb-localize="about.bertrandP2"></p>
		</div>
	</div>
	<h3>Stephanie Vanhouche</h3>
	<h4 data-dlb-localize="about.roleStephanie"></h4>
	<div class="row">
		<div class="col-sm-2">
			<img src="assets/img/stephanie.jpg"/>
		</div>
		<div class="col-sm-10">
			<p data-dlb-localize="about.stephanieP1"></p>
		</div>
	</div>
	<h3>Cassandra Vermeulen</h3>
	<h4 data-dlb-localize="about.roleCassandra"></h4>
	<div class="row">
		<div class="col-sm-2">
			<img src="assets/img/cassandra.jpg"/>
		</div>
		<div class="col-sm-10">
			<p data-dlb-localize="about.cassandraP1"></p>
		</div>
	</div>
</div>