<div class="container standardFooter" data-ng-if="mode !== 'lean' && mode !== 'leaner'">
	<div id="footerLinks">
		<a href="/pricing" data-dlb-localize="footer.pricingLink"></a>
		<a href="/how-does-it-work" data-dlb-localize="footer.howItWorksLink"></a>
		<a href="/privacy" data-dlb-localize="footer.privacyLink"></a>
		<a href="/about" data-dlb-localize="footer.aboutLink"></a>
		<a href="/our-commitment" data-dlb-localize="footer.ourCommitment"></a>
		<a href="/faq" data-dlb-localize="footer.faqLink"></a>
		<a href="/contact" data-dlb-localize="footer.contactLink"></a>
	</div>
	<img src="assets/img/logo-black.png"/>	
</div>
<div id="viewDealFooter" data-ng-if="mode === 'lean' || mode === 'leaner'">
	<div class="brand"> 
		<p data-dlb-localize="viewDeal.poweredBy"></p>
		<a href="/splash"><img src="assets/img/logo.png" class="logo"/></a>
	</div>
</div>
