<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" data-ng-app="Dealbee" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" data-ng-app="Dealbee" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" data-ng-app="Dealbee" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ currentLang }}" data-ng-app="Dealbee" class="no-js"> <!--<![endif]-->
  <head>
    <base href="/">
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title data-dlb-localize="{{ metaTitle }}"></title>
    <meta name="description" content="{{ getRes(metaDescription) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1510408322550284" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.dealbee.net/" />
    <meta property="og:title" content="Dealbee" />
    <meta property="og:description" content="{{ getRes('about.companyP1') }}"/>
    <meta property="og:image" content="https://www.dealbee.net/assets/img/tagline.jpg" />
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap" data-ng-class="mode">
      <div class="notPrinted" data-ng-if="mode !== 'lean' && mode !== 'leaner'" data-ng-include="'topmenu.html'"></div>
      <div data-ng-if="mode == 'lean'" data-ng-include="'teaser.html'"></div>
      <a id="alerts"></a>
      <div class="container" data-ng-repeat="alert in alerts" data-ng-class="'alert alert-' + alert.type + ' alert-dismissable'">
        <span data-dlb-localize="{{alert.message}}"></span>
        <button type="button" class="close" data-ng-click="dismissAlert(alert.id)"><span data-dlb-localize="close"></span> <span>&times;</span></button>
      </div>
      <div id="view" data-ng-view data-ng-class="mode"></div>
    </div>
    <div class="notPrinted" data-ng-class="mode" data-ng-include="'footer.html'" id="footer"></div>
    <div class="notPrinted" data-ng-if="localizeMode" data-ng-include="'localizer.html'"></div>
    <script type="text/ng-template" id="loginModalContent">
        <div class="modal-header">
            <h3 data-dlb-localize="sessionExpired"></h3>
        </div>
        <div class="modal-body">
            <div data-ng-include="'template/emitter/login.html'"></div>
        </div>
    </script>
    <script>
    // include angular loader, which allows the files to load in any order
    //@@NG_LOADER_START@@
    // You need to run `npm run update-index-async` to inject the angular async code here
    //@@NG_LOADER_END@@

    // include a third-party async loader library
    /*!
     * $script.js v1.3
     * https://github.com/ded/script.js
     * Copyright: @ded & @fat - Dustin Diaz, Jacob Thornton 2011
     * Follow our software http://twitter.com/dedfat
     * License: MIT
     */
    !function(a,b,c){function t(a,c){var e=b.createElement("script"),f=j;e.onload=e.onerror=e[o]=function(){e[m]&&!/^c|loade/.test(e[m])||f||(e.onload=e[o]=null,f=1,c())},e.async=1,e.src=a,d.insertBefore(e,d.firstChild)}function q(a,b){p(a,function(a){return!b(a)})}var d=b.getElementsByTagName("head")[0],e={},f={},g={},h={},i="string",j=!1,k="push",l="DOMContentLoaded",m="readyState",n="addEventListener",o="onreadystatechange",p=function(a,b){for(var c=0,d=a.length;c<d;++c)if(!b(a[c]))return j;return 1};!b[m]&&b[n]&&(b[n](l,function r(){b.removeEventListener(l,r,j),b[m]="complete"},j),b[m]="loading");var s=function(a,b,d){function o(){if(!--m){e[l]=1,j&&j();for(var a in g)p(a.split("|"),n)&&!q(g[a],n)&&(g[a]=[])}}function n(a){return a.call?a():e[a]}a=a[k]?a:[a];var i=b&&b.call,j=i?b:d,l=i?a.join(""):b,m=a.length;c(function(){q(a,function(a){h[a]?(l&&(f[l]=1),o()):(h[a]=1,l&&(f[l]=1),t(s.path?s.path+a+".js":a,o))})},0);return s};s.get=t,s.ready=function(a,b,c){a=a[k]?a:[a];var d=[];!q(a,function(a){e[a]||d[k](a)})&&p(a,function(a){return e[a]})?b():!function(a){g[a]=g[a]||[],g[a][k](b),c&&c(d)}(a.join("|"));return s};var u=a.$script;s.noConflict=function(){a.$script=u;return this},typeof module!="undefined"&&module.exports?module.exports=s:a.$script=s}(this,document,setTimeout)

    // load all of the dependencies asynchronously.
    $script([
      'https://connect.facebook.net/fr_FR/all.js',
      'https://js.stripe.com/v2/'
    ], function() {
    });
  </script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/tinymce/tinymce.min.js"></script>
    <!-- scripts to minify -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script> 
    <script src="bower_components/bigtext/src/bigtext.js"></script>
    <script src="components/util.js"></script>
    <script src="components/jquery.ba-throttle-debounce.js"></script>
    <!-- ngFiles -->
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/ngGeolocation/ngGeolocation.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="app.js"></script>
    <script src="localizer.js"></script>
    <script src="topmenu.js"></script>
    <script src="components/services.js"></script>
    <script src="components/directives.js"></script>
    <script src="components/facebook.js"></script>
    <script src="components/filters.js"></script>
    <script src="components/interceptors.js"></script>
    <script src="components/exception.js"></script>
    <script src="routes/splash/splash.js"></script>
    <script src="routes/login/login.js"></script>
    <script src="routes/home/home.js"></script>
    <script src="routes/deal/deal.js"></script>
    <script src="routes/deal/distribute.js"></script>
    <script src="routes/deal/give.js"></script>
    <script src="routes/deal/dealgiven.js"></script>
    <script src="routes/deal/request.js"></script>
    <script src="routes/deal/metadata.js"></script>
    <script src="routes/deal/dealrequested.js"></script>
    <script src="routes/deal/giftconfirmed.js"></script>
    <script src="routes/deal/followup.js"></script>
    <script src="routes/deal/grants-status.js"></script>
    <script src="routes/subscribe/subscribe.js"></script>
    <script src="routes/viewdeal/viewdeal.js"></script>
    <script src="routes/consume/consume.js"></script>
    <script src="routes/consume/scan.js"></script>
    <script src="routes/parameters/parameters.js"></script>
    <script src="routes/load/load.js"></script>
    <script src="routes/find/find.js"></script>
    <script src="routes/pref/pref.js"></script>
    <script src="routes/contact/contact.js"></script>    
    <script src="routes/account/account.js"></script>    
    <script src="routes/login/forgotpassword.js"></script>    
    <script src="routes/login/recoverpassword.js"></script>    
    <script src="routes/pricing/pricing.js"></script>    
    <script src="routes/consumptions/consumptions.js"></script>    
    <script src="routes/managers/managers.js"></script>    
    <script src="routes/managers/accept.js"></script>    
    <script src="template/emitter/name.js"></script>
    <script src="template/emitter/location.js"></script>
    <script src="template/emitter/identity.js"></script>
    <script src="template/emitter/creditcard.js"></script>
    <script src="template/emitter/invoicing.js"></script>
    <script src="template/emitter/createIdentity.js"></script>
    <script src="template/deal/title.js"></script>
    <script src="template/deal/image.js"></script>
    <script src="template/deal/validity.js"></script>
    <script src="template/deal/content.js"></script>
    <script src="template/viewdeal/title.js"></script>
    <script src="template/distribute/emaillist.js"></script>
    <script src="template/distribute/friendlist.js"></script>
    <script src="template/emitter/login.js"></script>
    <script src="template/distribute/summary.js"></script>
    <script src="template/distribute/onrequest.js"></script>
    <script src="template/order/order.js"></script>    
    <script src="template/order/basket.js"></script>
    <!-- end ngfiles -->
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/cloudinary_js/js/jquery.cloudinary.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script> 
    <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
    <script src="bower_components/date-utils/lib/date-utils.js"></script>
    <script src="lib/tinymce.js"></script>
    <!-- end scripts to minify -->
    <script src="https://widget.cloudinary.com/global/all.js"></script>
    <script>
        try{
            $.cloudinary.config('cloud_name', 'dealbee');   
            cloudinary.setCloudName('dealbee');
        } catch(ex){}

        $(document).ajaxComplete(function(){
            try{
                FB.XFBML.parse(); 
            }catch(ex){}
        });

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61158782-1', 'auto');
        ga('send', 'pageview');
    </script>
    <div id="fb-root"></div>
  </body>
</html>
