<div id="localizationWrap" data-ng-class="collapsed ? 'collapsed' : ''" data-ng-controller="LocalizerCtrl">
	<div class="left">
		<p data-ng-if="!collapsed" data-ng-click="collapsePane(true)"><i class="glyphicon glyphicon-chevron-right"></i></p>
		<p data-ng-if="collapsed" data-ng-click="collapsePane(false)"><i class="glyphicon glyphicon-chevron-left"></i></p>
	</div>
	<div id="localizationPane">
		<button id="pickFromScreenButton" data-ng-click="togglePickFromScreen()" class="btn btn-dark" data-ng-class="picking ? 'active' : ''">Pick from screen <i class="glyphicon glyphicon-search"></i></button>
		<form role="form" novalidate name="localizeForm" data-ng-submit="saveResources()">
			<p data-ng-bind="selectedResource.code"></p>
			<div class="form-group" data-ng-repeat="language in languages">
				<label data-ng-bind="language.code"></label>
				<input type="text" class="form-control" data-ng-model="selectedResource.translations[language.code]">
			</div>
			<img data-ng-if="saving" src="assets/img/load.gif"/><button type="submit" class="btn btn-important">Save all changes</button>
			<p data-ng-if="saveStatus" data-ng-bind="saveStatus"></p>
	  	</form>
		<ul>
			<li data-ng-repeat="resource in displayedResources | orderBy : 'code'" data-ng-class="selectedResource.code === resource.code ? 'selected' : (hoveredResource.code === resource.code ? 'hovered' : '')" data-ng-click="selectResource(resource)">
				<span data-ng-bind="resource.code"/>
			</li>
		</ul>
	</div>	
</div>

