<div class="container-fluid">
	<div class="row ruler"></div>
</div>
<div id="leanMenu" class="container notOnMobile">
	<a href="/splash">
		<img src="/assets/img/logo.png"/>
	</a>
	<div class="langSwitch">
		<a data-ng-repeat="language in languages" href="" data-ng-click="switchLang(language.code)" data-ng-class="currentLang ===language.code ? 'activeLanguageButton' : ''">{{language.name}}</a>
	</div>
	<a class="fbLink" target="_blank" href="https://www.facebook.com/dealbee.official"><img src="/assets/img/facebook-button-icon-f.png"/></a>
	<a href="/about" class="topLink"><span data-dlb-localize="footer.aboutLink"></span></a>
	<a href="/login" class="topLink"><span data-dlb-localize="loginButton"></span></a>
</div>