<div class="container-fluid">
  <div class="row ruler"></div>
</div>
<nav class="navbar navbar-default" role="navigation" data-ng-controller="TopMenuCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">
        <img class="logo" src="assets/img/logo.png"/>
        <span class="environment" data-ng-if="environment" data-ng-bind="environment"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right langSwitch">
        <li data-ng-repeat="language in languages"><a href="" data-ng-click="switchLang(language.code)" data-ng-class="currentLang ===language.code ? 'activeLanguageButton' : ''">{{language.name}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li data-ng-if="account" class="homeLink"><a href="" data-ng-href="/home"><i class="glyphicon glyphicon-tags"></i><span data-dlb-localize="topMenu.dashboardMenu"></span></a></li>
        <li>
          <a href="/pricing" data-dlb-localize="topMenu.pricingLink"></a>
        </li>
        <li>
          <a href="/contact" data-dlb-localize="topMenu.contactLink"></a>
        </li>
        <li>
          <a href="/how-does-it-work" data-dlb-localize="topMenu.howItWorksLink"></a>
        </li>
        <li data-ng-if="!account">
          <button id="subscribeButtonTop" data-ng-hide="account" class="btn btn-dark navbar-btn" data-ng-click="navigateToSubscribe()" data-dlb-localize="subscribeButton"></button>
        </li>
        <li data-ng-if="!account">
          <button id="loginButton" data-ng-hide="account" class="btn btn-default navbar-btn" data-ng-click="navigateToLogin()" data-dlb-localize="loginButton"></button>
        </li>
        <li class="dropdown" data-ng-if="account">
          <a id="emitterMenuHead" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span data-ng-bind="account.identifier.name || account.identifier.email"></span><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" id="emitterMenu">
            <li><a href="/parameters"><i class="glyphicon glyphicon-cog"></i><span data-dlb-localize="topMenu.parameters"></span></a></li>
            <li><a href="/subscribe"><i class="glyphicon glyphicon-plus"></i><span data-dlb-localize="topMenu.createAnotherCompany"></span></a></li>
            <li><a href="/load"><i class="glyphicon glyphicon glyphicon-euro"></i><span data-dlb-localize="topMenu.credits"></span></a></li>
            <li><a href="" data-ng-click="disconnect()"><i class="glyphicon glyphicon-off"></i><span data-dlb-localize="topMenu.disconnectMenu"></span></a></li>
            <li class="dropdown-header" data-ng-bind="account.emitter.name"></li>
            <li><a href="/account"><i class="glyphicon glyphicon-list-alt"></i><span data-dlb-localize="topMenu.account"></span></a></li>
            <li><a href="/managers"><i class="glyphicon glyphicon-user"></i><span data-dlb-localize="topMenu.managers"></span></a></li>
            <li data-ng-show="account.identifier.emitters.length > 1" class="dropdown-header" data-dlb-localize="topMenu.switchEmitter"></li>
            <li data-ng-repeat="emitter in account.identifier.emitters" data-ng-if="emitter._id != account.emitter._id && account.identifier.emitters.length > 1">
              <a href="" data-ng-click="switchToEmitter(emitter)" data-ng-bind="emitter.name"></a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" data-ng-if="showBreadCrumb">
  <div class="row">
    <ol class="breadcrumb col-sm-10">
      <li data-ng-repeat="node in breadCrumb">
        <a data-ng-href="{{ node.url }}" data-dlb-localize="{{ node.name }}"></a>
      </li>
    </ol>
    <p id="connectedEmitterName" clas="col-sm-3 col-md-2" data-ng-bind="account.emitter.name"></p>
  </div>
</div>