<div id="basket" data-ng-controller="BasketCtrl">
	<table class="table">
			<tr data-ng-show="subscription.data" class="basketTableSubtitle">
				<td colspan="2" data-dlb-localize="basketCtrl.subscriptionTitle"></td>
				<td data-dlb-localize="basketCtrl.quantityColumnHeader"></td>
				<td data-dlb-localize="basketCtrl.priceColumnHeader"></td>
				<td class="right" data-dlb-localize="basketCtrl.totalColumnHeader"></td>
			</tr>
			<tr data-ng-if="subscription.data">
				<td><button class="btn btn-default" data-ng-click="clearSubscription()"><i class="glyphicon glyphicon-trash"></i></button></td>
				<td>
					<p data-dlb-localize="basketCtrl.endPreviousSubscription"></p>
					<p><span data-dlb-localize="basketCtrl.beginNewSubscription"></span><span data-ng-bind="subscription.data.coupons"></span> <span data-dlb-localize="deals"></span> / <span data-dlb-localize="month"></span></p>
					<p data-ng-show="nbMonthsDiscount == 1" data-dlb-localize="basketCtrl.2MonthPaidAtSubscriptionTime"></p>
					<p data-ng-hide="nbMonthsDiscount == 1"><span data-ng-bind="nbMonthsDiscount"></span> <span data-dlb-localize="basketCtrl.months"></span></p>
				</td>
				<td data-ng-bind="subscription.nbMonthPaid == 1 ? 2 : subscription.nbMonthPaid"></td>
				<td><span data-ng-bind="subscription.data.price | dlbPrice"></span> €</td>
				<td class="right"><span data-ng-bind="subscription.price | dlbPrice"></span> €</td>
			</tr>
			<tr data-ng-show="packs.length > 0" class="basketTableSubtitle">
				<td colspan="5" class="basketTableSubtitle" data-dlb-localize="packsTitle"></td>
			</tr>
			<tr data-ng-show="packs.length > 0">
				<td></td>
				<td data-dlb-localize="basketCtrl.articleColumnHeader"></td>
				<td data-dlb-localize="basketCtrl.quantityColumnHeader"></td>
				<td data-dlb-localize="basketCtrl.priceColumnHeader" colspan="2"></td>
			</tr>
			<tr data-ng-repeat="pack in packs">
				<td><button class="btn btn-default" data-ng-click="removePack(pack.type)"><i class="glyphicon glyphicon-trash"></i></button></td>
				<td><span data-dlb-localize="basketCtrl.pack"></span> <span data-ng-bind="pack.data.coupons"></span> <span data-dlb-localize="deals"></span></td>
				<td data-ng-bind="pack.quantity"></td>
				<td><span data-ng-bind="pack.data.price | dlbPrice"></span> €</td>
				<td class="right"><span data-ng-bind="pack.data.price * pack.quantity | dlbPrice"></span> €</td>
			</tr>
			<tr class="basketTableSubtitle">
				<td colspan="4" class="right" data-dlb-localize="basketCtrl.orderTotal"></td>
				<td class="right"><span data-ng-bind="getBasketTotal() | dlbPrice"></span> €</td>
			</tr>
	</table>
</div>