<div id="order" data-ng-controller="OrderCtrl">
    <script type="text/ng-template" id="confirmPaymentModalContent">
        <div class="modal-header">
            <h3><span data-dlb-localize="orderCtrl.confirmPayment"></span> : <span data-ng-bind="totalPrice | dlbPrice"></span> € <span data-dlb-localize="orderCtrl.taxExcluded"</h3>
        </div>
        <div class="modal-body">
			<div data-ng-if="!account.client.invoicingData.companyName">
				<h4 data-dlb-localize="orderCtrl.missingInvoicingData"></h4>
				<div data-ng-include="'template/emitter/invoicing.html'"></div>
			</div>
			<h4 data-dlb-localize="orderCtrl.creditCardTitle"></h4>
			<div data-ng-include="'template/emitter/creditcard.html'"></div>
		</div>
        <div id="confirmPaymentFooter" class="modal-footer centered">
        	<p class="invalid" data-ng-show="mustProvideInvoicingData" data-dlb-localize="orderCtrl.mustProvideInvoicingData"></p>
        	<p class="invalid" data-ng-show="mustProvideCreditCardInfo" data-dlb-localize="orderCtrl.mustProvideCreditCardInfo"></p>
        	<p class="invalid" data-ng-show="technicalError" data-dlb-localize="technicalError"></p>
        	<a href="" data-dlb-localize="cancelButton" data-ng-click="dismissConfirmPaymentModal()"></a>
        	<img data-ng-if="paying" src="/assets/img/load.gif"/>
            <button class="btn btn-primary" data-dlb-localize="orderCtrl.confirmPaymentButton" data-ng-click="confirmPayment()"></button>
        </div>
    </script>
	<img data-ng-if="loadingPrices" src="/assets/img/load.gif"/>
	<div data-ng-hide="loadingPrices">
		<div data-ng-if="packs.length > 0 || subscription.data">
			<a id="basket"></a>
			<h2 data-dlb-localize="orderCtrl.basketTitle"></h2>
			<div class="well">
				<div data-ng-include="'template/order/basket.html'"></div>
				<p class="centered">
					<img data-ng-if="loadingBuyModal" src="/assets/img/load.gif"/><button class="btn btn-primary" data-dlb-localize="orderCtrl.buyButton" data-ng-click="buy()"></button>
				</p>
			</div>
		</div>
		<h2 data-dlb-localize="packsTitle"></h2>
		<div class="well">
			<p data-dlb-localize="orderCtrl.packsExplain"></p>
			<table class="table-responsive">
				<table class="price-table">
					<thead>
						<tr>
							<td data-ng-repeat="pack in prices.packs">
								<span class="price-col-title" data-ng-bind="pack.price | dlbPrice"></span> <sup>€</sup>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-ng-repeat="pack in prices.packs">
								<b><span class="price-col-title" data-ng-bind="pack.coupons"></span></b> <span data-dlb-localize="deals"></span>
							</td>
						</tr>
						<tr>
							<td data-ng-repeat="pack in prices.packs">
								<span data-dlb-localize="orderCtrl.distributedWithin"></span> <span data-ng-bind="pack.daysValid"></span> <span data-dlb-localize="orderCtrl.days"></span>
							</td>
						</tr>
						<tr data-ng-show="account">
							<td data-ng-repeat="pack in prices.packs">
								<button data-dlb-localize="orderCtrl.buyPackButton" class="btn btn-success" data-ng-click="addPack(pack.type)"></button>
							</td>
						</tr>
					</tbody>
				</table>
			</table>
		</div>
		<h2 data-dlb-localize="orderCtrl.subscriptionsTitle"></h2>
		<div class="well">
			<p data-dlb-localize="orderCtrl.paymentFrequencyLabel"></p>
			<div class="btn-group">
				<label class="btn btn-warning" data-ng-model="paymentFrequency" btn-radio="'1'" data-dlb-localize="orderCtrl.monthlyPricesButton" data-ng-click="setDiscount(1)"></label>
				<label class="btn btn-warning" data-ng-model="paymentFrequency" btn-radio="'6'" data-dlb-localize="orderCtrl.6MonthPricesButton" data-ng-click="setDiscount(6)"></label>
				<label class="btn btn-warning" data-ng-model="paymentFrequency" btn-radio="'12'" data-dlb-localize="orderCtrl.12MonthPricesButton" data-ng-click="setDiscount(12)"></label>
			</div>
			<p class="important" data-dlb-localize="orderCtrl.subscriptionsAreNonCumulative"></p>
			<table class="table-responsive">
				<table class="price-table">
					<thead>
						<tr>
							<td data-ng-repeat="subscription in prices.subscriptions" data-ng-class="account.emitter.subscription.kind == subscription.type ? 'current' : ''">
								<p data-ng-show="discount != 1 && subscription.price > 0" class="undiscounted"><span data-ng-bind="subscription.price"></span> €</p>
								<span class="price-col-title" data-ng-bind="subscription.price * discount | dlbPrice"></span> <sup>€</sup> <sub>/ <span data-dlb-localize="month"></span></sub>
								<p data-ng-show="paymentFrequency == 1 && subscription.price > 0" data-dlb-localize="orderCtrl.atLeast2Months"></p>
								<p data-ng-show="discount != 1 && subscription.price > 0"><b><span data-dlb-localize="orderCtrl.saving"></span><span data-ng-bind="(subscription.price - (subscription.price * discount)) * nbMonthsDiscount | dlbPrice"></span></b> €</p>
							</td>
							<td>
								<p class="price-col-title" data-dlb-localize="orderCtrl.customColumnTitle"></p>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-ng-repeat="subscription in prices.subscriptions" data-ng-class="account.emitter.subscription.kind === subscription.type ? 'current' : ''">
								<b><span data-ng-bind="subscription.coupons"></span></b> <span data-dlb-localize="deals"></span> <sub>/ <span data-dlb-localize="month"></span></sub>
							</td>
							<td>
								<span data-dlb-localize="orderCtrl.customMonthlyCoupon"></span> <sub>/ <span data-dlb-localize="month"></span></sub>
							</td>
						</tr>
						<tr data-ng-show="account">
							<td data-ng-repeat="subscription in prices.subscriptions" data-ng-class="account.emitter.subscription.kind == subscription.type ? 'current' : ''">
								<button data-ng-hide="account.emitter.subscription.kind == subscription.type" data-dlb-localize="orderCtrl.chooseButton" class="btn btn-success" data-ng-click="setSubscription(subscription.type)"></button>
								<p class="selectedSubscription" data-ng-show="account.emitter.subscription.kind == subscription.type" data-dlb-localize="orderCtrl.selectedSubscription"></p>
							</td>
							<td>
								<a data-dlb-localize="orderCtrl.contactUsLink" href="contact"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</table>	
		</div>
		<p class="important" data-dlb-localize="orderCtrl.vatNote"></p>
	</div>
</div>