<div class="container" id="home">
	<div data-ng-show="noDealYet">
		<p id="noDealYet" data-dlb-localize="home.noDealYet"></p>
	</div>
	<a href="" id="createDealButton" data-ng-click="createDeal()" class="btn btn-primary" data-dlb-localize="home.newDealButton" tabindex="1"></a>
	<a data-ng-hide="noDealYet" href="/consume" class="btn btn-primary" data-dlb-localize="home.consumeButton" tabindex="2"></a>
	<div data-ng-hide="noDealYet" id="dealList">
		<h1 data-dlb-localize="home.title"></h1>
		<h2 data-dlb-localize="home.dealsToDistributeTitle"></h2>
		<p data-ng-show="dealsToDistribute.length === 0" data-dlb-localize="home.noDealsInHere"></p>
		<div class="row dealRow" data-ng-repeat="deal in dealsToDistribute" id="dealsToDistribute">
			<div class="col-md-2 col-sm-2">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="{{ 3 + ($index * 2) }}">
					<span data-dlb-localize="home.actionsDropDownButton"></span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a data-ng-disabled="deal.expiration < now" href="" data-ng-click="navigateToDistributeDeal(deal)">
								<i class="glyphicon glyphicon-tags"></i>
								<span data-dlb-localize="home.distributeDealButton"></span>
							</a>
						</li>
						<li data-ng-show="isNew(deal)">
							<img data-ng-if="deal.deleting" src="assets/img/load.gif"/>
							<a href="" data-ng-click="deleteDeal(deal)">
								<i class="glyphicon glyphicon-remove"></i>
								<span data-dlb-localize="home.deleteButton"></span>
							</a>
						</li>
						<li data-ng-show="isNew(deal)">
							<a href="" data-ng-click="modifyDeal(deal)">
								<i class="glyphicon glyphicon-pencil"></i>
								<span data-dlb-localize="home.modifyButton"></span>
							</a>
						</li>
						<li data-ng-show="!isNew(deal)">
							<a data-ng-href="{{ '/deal/' + deal._id + '/followup' }}">
								<i class="glyphicon glyphicon-check"></i>
								<span data-dlb-localize="home.followUpDeal"></span>
							</a>
						</li>
						<li>
							<a data-ng-href="{{ '/deal/' + deal._id + '/metadata' }}">
								<i class="glyphicon glyphicon-eye-open"></i>
								<span data-dlb-localize="home.metadataDeal"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5 col-sm-10">
				<span data-ng-bind="deal.benefit"></span>
				<span data-ng-bind="deal.teaser"></span>
				<a class="previewButton" href="" data-ng-click="preview(deal)" data-tooltip="{{ getRes('home.previewDealButton') }}" tabindex="{{ 3 + ($index * 2) + 1 }}">
					<i class="glyphicon glyphicon-search"></i>
				</a>
				<p data-ng-show="deal.nbOnRequest > 0" class="bg-primary" data-dlb-localize="home.shareDealExplain"></p>
			</div>
			<div class="col-md-5 col-sm-12 centered dealNumbers">
				<div class="row">
					<div class="col-xs-3"><span data-dlb-localize="home.numberOfDealsToBeSent"></span></div>
					<div class="col-xs-3"><span data-ng-class="deal.nbOnRequest > 0 ? 'bg-primary' : ''" data-dlb-localize="home.numberOfDealsOnRequest"></span></div>
					<div class="col-xs-3"><span data-dlb-localize="home.numberOfDealsSent"></span></div>
					<div class="col-xs-3"><span data-dlb-localize="home.numberOfDealsConsumed"></span></div>
				</div>
				<div class="row">
					<div class="col-xs-3"><span data-ng-bind="deal.notSent"></span></div>
					<div class="col-xs-3"><p data-ng-class="deal.nbOnRequest > 0 ? 'bg-primary' : ''" data-ng-bind="deal.nbOnRequest"></p></div>
					<div class="col-xs-3"><span data-ng-bind="deal.sent"></span></div>
					<div class="col-xs-3"><span data-ng-bind="deal.consumed"></span></div>
				</div>
			</div>
		</div>
		<h2 data-dlb-localize="home.dealsRunningTitle"></h2>
		<p data-ng-show="dealsRunning.length === 0" data-dlb-localize="home.noDealsInHere"></p>
		<div class="row dealRow" data-ng-repeat="deal in dealsRunning">
			<div class="col-md-2 col-sm-2">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="{{ 500 + ($index * 2) }}">
					<span data-dlb-localize="home.actionsDropDownButton"></span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a data-ng-disabled="deal.expiration < now" href="" data-ng-click="navigateToDistributeDeal(deal)">
								<i class="glyphicon glyphicon-tags"></i>
								<span data-dlb-localize="home.distributeDealButton"></span>
							</a>
						</li>
						<li data-ng-show="isNew(deal)">
							<img data-ng-if="deal.deleting" src="assets/img/load.gif"/>
							<a href="" data-ng-click="deleteDeal(deal)">
								<i class="glyphicon glyphicon-remove"></i>
								<span data-dlb-localize="home.deleteButton"></span>
							</a>
						</li>
						<li data-ng-show="isNew(deal)">
							<a href="" data-ng-click="modifyDeal(deal)">
								<i class="glyphicon glyphicon-pencil"></i>
								<span data-dlb-localize="home.modifyButton"></span>
							</a>
						</li>
						<li data-ng-show="!isNew(deal)">
							<a data-ng-href="{{ '/deal/' + deal._id + '/followup' }}">
								<i class="glyphicon glyphicon-check"></i>
								<span data-dlb-localize="home.followUpDeal"></span>
							</a>
						</li>
						<li>
							<a data-ng-href="{{ '/deal/' + deal._id + '/metadata' }}">
								<i class="glyphicon glyphicon-eye-open"></i>
								<span data-dlb-localize="home.metadataDeal"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5 col-sm-10">
				<span data-ng-bind="deal.benefit"></span>
				<span data-ng-bind="deal.teaser"></span>
				<a class="previewButton" href="" data-ng-click="preview(deal)" data-tooltip="{{ getRes('home.previewDealButton') }}" tabindex="{{ 500 + ($index * 2) + 1 }}">
					<i class="glyphicon glyphicon-search"></i>
				</a>
				<p data-ng-show="deal.nbOnRequest > 0" class="bg-primary" data-dlb-localize="home.shareDealExplain"></p>
			</div>
			<div class="col-md-5 col-sm-12 centered dealNumbers">
				<div class="row">
					<div class="col-xs-3"><span data-dlb-localize="home.numberOfDealsToBeSent"></span></div>
					<div class="col-xs-3"><span data-ng-class="deal.nbOnRequest > 0 ? 'bg-primary' : ''" data-dlb-localize="home.numberOfDealsOnRequest"></span></div>
					<div class="col-xs-3"><span data-dlb-localize="home.numberOfDealsSent"></span></div>
					<div class="col-xs-3"><span data-dlb-localize="home.numberOfDealsConsumed"></span></div>
				</div>
				<div class="row">
					<div class="col-xs-3"><span data-ng-bind="deal.notSent"></span></div>
					<div class="col-xs-3"><p data-ng-class="deal.nbOnRequest > 0 ? 'bg-primary' : ''" data-ng-bind="deal.nbOnRequest"></p></div>
					<div class="col-xs-3"><span data-ng-bind="deal.sent"></span></div>
					<div class="col-xs-3"><span data-ng-bind="deal.consumed"></span></div>
				</div>
			</div>
		</div>
	</div>
</div>