<div id="pref" class="container">
	<h1 data-dlb-localize="pref.title"></h1>
	<img data-ng-if="loadingPref" src="assets/img/load.gif"/>
	<form role="form" novalidate name="preferencesForm" data-ng-submit="savePreferences()">
		<div class="checkbox">
			<label>
				<input type="checkbox" data-ng-model="unsubscribedFromEmitter"><span data-dlb-localize="pref.unsubscribeFromEmitter"></span><span data-ng-bind="emitterName"></span>
			</label>
		</div>
		<div data-ng-include="'template/emitter/card.html'"></div>
		<div class="checkbox">
			<label>
				<input type="checkbox" data-ng-model="unsubscribedFromDealbee"><span data-dlb-localize="pref.unsubscribeFromDealbee"></span>
			</label>
			<span class="help-block" data-dlb-localize="pref.unsubscribeRemark"></span>
		</div>
			<img data-ng-if="savingPref" src="assets/img/load.gif"/>
			<button type="submit" class="btn btn-important" data-dlb-localize="pref.savePreferencesButton"></button>
	</form>	
</div>
