<div data-ng-controller="DealContentCtrl">
	<h1 data-dlb-localize="dealContentControl.title"></h1>
	<p data-dlb-localize="dealContentControl.contentExplain"></p>
	<form name="contentForm" id="contentForm">
		<div class="row" data-ng-class="contentForm.description.$invalid && submittedOnce ? 'has-error' : ''">
			<div class="col-sm-8">
				<label for="inputDescription" data-dlb-localize="dealContentControl.descriptionLabel"></label>
				<textarea data-ui-tinymce="mceDescriptionOptions" class="form-control" id="inputDescription" name="description" data-ng-model="description" data-ng-required="true" data-ng-change="syncWithDeal()" tabindex="1"></textarea>	
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label data-dlb-localize="dealContentControl.visibilityLabel" for="visibilitySwitch"></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" id="visibilityZone">
				<p data-dlb-localize="dealContentControl.tooltipVisibilityLimited" data-ng-class="visibility != 'limited' ? 'blurred' : 'selected'"></p>
				<div class="btn-group-vertical" id="visibilitySwitch">
					<label class="btn btn-default" data-ng-model="visibility" btn-radio="'limited'" data-ng-click="syncWithDeal()" tabindex="2"><i class="glyphicon glyphicon glyphicon-lock"></i><span data-dlb-localize="dealContentControl.visibilityLimited"></span></label>
					<label class="btn btn-default" data-ng-model="visibility" btn-radio="'public'" data-ng-click="syncWithDeal()" tabindex="3"><i class="glyphicon glyphicon-eye-open"></i><span data-dlb-localize="dealContentControl.visibilityPublic"></span></label>
				</div>
				<p data-dlb-localize="dealContentControl.tooltipVisibilityPublic" data-ng-class="visibility != 'public' ? 'blurred' : 'selected'"></p>
   			</div>
		</div>
		<div data-ng-show="submittedOnce && contentForm.description.$error.required">
			<span class="invalid" data-dlb-localize="dealContentControl.descriptionRequired"></span>
		</div>
	</form>
</div>