<div data-ng-controller="DealImageCtrl">
	<h1 data-dlb-localize="dealImageControl.title"></h1>
	<p data-dlb-localize="dealImageControl.imageExplain"></p>
	<form id="imageForm" name="imageForm">
		<h2 data-dlb-localize="dealImageControl.uploadImageTitle"></h2>
		<p>
			<a class="btn btn-default" href="" data-ng-click="openUploadBox()" tabindex="1">
				<span data-dlb-localize="selectFileToUploadButton"></span>
				<i class="glyphicon glyphicon-upload"></i>
			</a>
		</p>
		<cl-image data-ng-show="imageRef && !oobImageSelected" public-id="{{ imageRef.public_id }}" format="{{ imageRef.format }}">
			<cl-transformation crop="crop" gravity="custom"/>
		</cl-image>
		<p class="help-block" data-dlb-localize="dealImageControl.dealImageHelp"></p>
		<span class="invalid" data-ng-show="fileTooBig" data-dlb-localize="imageTooBig"></span>
		<span class="invalid" data-ng-show="notAnImage" data-dlb-localize="notAnImage"></span>
		<h2>
			<span data-dlb-localize="dealImageControl.orChooseImageTitle"></span>
			<button class="btn btn-default" href="" ng-click="toggleOobImages()" tabindex="2"><span data-dlb-localize="dealImageControl.suggestedImagesButton"></span> <span data-ng-show="bundledImagesCollapsed" class="glyphicon glyphicon-chevron-down"></span><span data-ng-hide="bundledImagesCollapsed" class="glyphicon glyphicon-chevron-up"></span></button>
		</h2>
		<div data-ng-show="!bundledImagesCollapsed">
			<p data-dlb-localize="dealImageControl.dealImagePurpose"></p>
			<div class="outOfTheBoxImagesSelector">
				<div data-ng-repeat="image in outOfTheBoxImages">
					<span data-dlb-localize="{{image.label}}"></span>
					<a href="" class="thumbnail" data-ng-click="setImage(image)" tabindex="3">
						<cl-image public-id="{{ image.public_id }}" format="{{ image.format }}" data-ng-class="image.active ? 'selected' : ''">
							<cl-transformation height="200" crop="fit"/>
						</cl-image>
						<p data-dlb-localize="dealImageControl.imgSelected" data-ng-show="image.active"></p>
					</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<span class="invalid" data-ng-show="mustProvideImg" data-dlb-localize="dealImageControl.imageRequired"></span>
	</form>
</div>