<div data-ng-controller="DealTitleCtrl">
	<h1 data-dlb-localize="dealTitleControl.title"></h1>
	<p data-dlb-localize="dealTitleControl.titleExplain"></p>
	<form name="titleForm" id="titleForm" novalidate>
		<div class="form-group" data-ng-class="titleForm.benefit.$invalid && submittedOnce ? 'has-error' : ''">
			<label for="inputBenefit"><span data-dlb-localize="dealTitleControl.benefitLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
			<input type="text" class="form-control" id="inputBenefit" name="benefit" data-ng-model="benefit" data-ng-required="true" data-ng-maxlength="20" data-ng-change="resizeBenefit()" placeholder="{{getRes('dealTitleControl.benefitExample')}}" tabindex="1">    
			<span class="invalid" data-ng-show="submittedOnce && titleForm.benefit.$error.required" data-dlb-localize="dealTitleControl.benefitRequired"></span>  
			<span class="invalid" data-ng-show="titleForm.benefit.$error.maxlength" data-dlb-localize="dealTitleControl.benefitMax20Chars"></span>
		</div>
		<div class="form-group" data-ng-class="titleForm.teaser.$invalid && submittedOnce ? 'has-error' : ''">
			<label for="inputTeaser"><span data-dlb-localize="dealTitleControl.teaserLabel"></span><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i></label>
			<input type="text" class="form-control" id="inputTeaser" name="teaser" data-ng-model="teaser" data-ng-required="true" data-ng-maxlength="200" placeholder="{{getRes('dealTitleControl.teaserExample')}}" tabindex="2">    
			<span class="invalid" data-ng-show="submittedOnce && titleForm.teaser.$error.required" data-dlb-localize="dealTitleControl.teaserRequired"></span>  
			<span class="invalid" data-ng-show="submittedOnce && titleForm.teaser.$error.maxlength" data-dlb-localize="dealTitleControl.teaserMax200Chars"></span>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 data-dlb-localize="dealTitleControl.previewTitle"></h2>
				</div>
				<div class="panel-body">
					<p class="invalid" data-ng-show="!benefit || benefit.length < 3" data-dlb-localize="dealTitleControl.needsABenefitOf3Chars"></p>
					<div data-ng-hide="!benefit || benefit.length < 3" data-ng-include="'template/viewdeal/title.html'">
					</div>	
				</div>
			</div>
		</div>		
	</div>
</div>