<div data-ng-controller="DealValidityCtrl">
	<h1 data-dlb-localize="dealValidityControl.title"></h1>
	<p data-dlb-localize="dealValidityControl.validityExplain"></p>
	<form id="validityForm" name="validityForm">
		<div class="form-group" data-ng-class="validityForm.beginDate.$invalid && submittedOnce ? 'has-error' : ''">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3">
					<label for="inputBeginDate" data-dlb-localize="dealValidityControl.beginDateLabel"></label>
					<p class="input-group">
						<input type="text" class="form-control" id="inputBeginDate" data-ng-model="beginDate" data-ng-required="true" name="beginDate" data-datepicker-popup="{{dateFormat()}}" data-is-open="beginDateDtpOpened" data-clear-text="{{getRes('clearDtpButton')}}" data-current-text="{{getRes('todayDtpButton')}}" data-close-text="{{getRes('closeDtpButton')}}" data-min-date="today" data-max-date="expiration" data-ng-change="calculateOneYearAfter()" tabindex="5">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" data-ng-click="openBeginDateDtp($event)" tabindex="6"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<timepicker tabindex="7" data-ng-model="beginTime" name="beginTime" show-spinners="false" data-ng-required="true" show-meridian="false"></timepicker>
					</p>
				</div>
			</div>
			<span class="invalid" data-ng-show="submittedOnce && (validityForm.beginDate.$error.required || validityForm.beginTime.$error.time) && !validityForm.beginDate.$error.date" data-dlb-localize="dealValidityControl.beginDateRequired"></span>
			<span class="invalid" data-ng-show="submittedOnce && validityForm.beginDate.$error.date" data-dlb-localize="dealValidityControl.dateMalformed"></span>
		</div>
		<div class="form-group" data-ng-class="validityForm.expiration.$invalid && submittedOnce ? 'has-error' : ''">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3">
					<label for="inputExpiration" data-dlb-localize="dealValidityControl.expirationLabel"></label>
					<p class="input-group">
						<input type="text" class="form-control" id="inputExpiration" data-ng-model="expiration" data-ng-required="true" name="expiration" data-datepicker-popup="{{dateFormat()}}" data-is-open="expirationDtpOpened" data-clear-text="{{getRes('clearDtpButton')}}" data-current-text="{{getRes('todayDtpButton')}}" data-close-text="{{getRes('closeDtpButton')}}" data-max-date="oneYearAfter" data-min-date="beginDate" tabindex="10"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" data-ng-click="openExpirationDtp($event)" tabindex="11"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<timepicker data-ng-model="expirationTime" name="expirationTime" show-spinners="false" data-ng-required="true" show-meridian="false"></timepicker>
					</p>						
				</div>
			</div>
			<span class="invalid" data-ng-show="submittedOnce && (validityForm.expiration.$error.required || validityForm.expirationTime.$error.time) && !validityForm.expiration.$error.date" data-dlb-localize="dealValidityControl.expirationRequired"></span>
			<span class="invalid" data-ng-show="submittedOnce && validityForm.expiration.$error.date" data-dlb-localize="dealValidityControl.dateMalformed"></span>
			<span class="invalid" data-ng-show="submittedOnce && validityForm.$error['date-disabled'] && !validityForm.beginDate.$error.date && !validityForm.expiration.$error.date" data-dlb-localize="dealValidityControl.datesInvalid"></span>
		</div>
		<div class="form-group">
			<label data-dlb-localize="dealValidityControl.termsOfUseLabel"></label>
			<p class="white-bg" data-dlb-localize="dealValidityControl.termsOfUseExplain"></p>
			<table class="table" data-ng-show="termsOfUse.length > 0">
				<tr data-ng-repeat="termOfUse in termsOfUse">
					<td>
						<textarea class="form-control" data-ng-model="termOfUse.text" tabindex="{{ 15 + ($index * 2)}}"></textarea>
					</td>
					<td>
						<a href="" class="btn btn-default" data-dlb-localize-alt="dealValidityControl.deleteTermOfUseAltText" data-ng-click="deleteTermOfUse(termOfUse)" tabindex="{{ 15 + ($index * 2) + 1}}">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
			</table>
			<p data-ng-show="termsOfUse.length == 0" data-dlb-localize="dealValidityControl.noTermOfUse"></p>
			<a class="btn btn-default" href="" data-dlb-localize="dealValidityControl.addTermOfUseButton" data-ng-click="addTermOfUse()" tabindex="99"></a>
		</div>
	</form>
</div>