<div class="container" id="consume">
	<h1 data-dlb-localize="consume.title"></h1>
	<h2 data-dlb-localize="consume.byNumber"></h2>
  	<form id="consumeByNumberForm" class="form-horizontal" role="form" novalidate name="consumeByNumberForm" data-ng-submit="consumeByNumber()">
		<div class="form-group">
			<label for="inputDealNumber" class="col-sm-2 control-label" data-dlb-localize="consume.dealNumberLabel"></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputDealNumber" data-ng-pattern="/^[0-9]{1,10}$/" data-ng-model="dealNumber" data-ng-required="true" name="dealNumber" tabindex="1">
				<p class="help-block" data-dlb-localize="consume.dealNumberExplain"></p>
          		<p class="invalid" data-ng-show="numberSubmittedOnce && consumeByNumberForm.dealNumber.$error.pattern" data-dlb-localize="consume.dealNumberInvalid"></p>
          		<p class="invalid" data-ng-show="numberSubmittedOnce && consumeByNumberForm.dealNumber.$error.required" data-dlb-localize="consume.dealNumberRequired"></p>
   			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-10">
				<img data-ng-if="consuming" src="assets/img/load.gif"/>
				<button type="submit" class="btn btn-primary" data-dlb-localize="consume.consumeButton" tabindex="2"></button>		
			</div>
		</div>
   	</form>
	<h2 data-dlb-localize="consume.orContactName"></h2>
  	<form id="consumeForm" class="form-horizontal" role="form" novalidate name="consumeForm">
	  	<div class="form-group">
			<label for="inputIdentifier" class="col-sm-2 control-label" data-dlb-localize="consume.identifierLabel"></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputIdentifier" data-ng-model="dealHolderFilterCriteria" data-ng-keydown="filterDealHolders()" tabindex="3">
				<p class="help-block" data-dlb-localize="consume.identifierExplain"></p>
			</div>
		</div>
		<div class="row">
			<p data-ng-show="noDealHolderFound" class="col-sm-offset-2 col-sm-10 invalid" data-dlb-localize="consume.noDealHolder"></p>
			<p data-ng-show="!dealHolderFilterCriteria || dealHolderFilterCriteria.length == 0" class="col-sm-offset-2 col-sm-10" data-dlb-localize="consume.pleaseTypeAFilterCriteria"></p>
		</div>
	  	<div id="dealHolders" class="row">
			<div class="col-xs-12">
				<img data-ng-if="loadingDealHolders" src="assets/img/load.gif"/>
				<div data-ng-repeat="dealHolder in dealHoldersDisplayed" data-ng-show="dealHoldersDisplayed.length > 0">
					<img data-ng-show="dealHolder.channelType == 0" data-ng-src="{{dealHolder.picUrl}}"/><img data-ng-show="dealHolder.channelType == 1" src="assets/img/mail.jpg"/> <span data-ng-bind="dealHolder.holder"></span> <span data-ng-hide="dealHolder.deals.length == 1">(<span data-ng-bind="dealHolder.deals.length"></span> <span data-dlb-localize="consume.validDeals"></span>)</span>
					<div class="row" id="dealholderList">
						<div data-ng-repeat="deal in dealHolder.deals" class="col-sm-6 col-md-4 col-lg-3">
							<p><span class="dealNumber">#<span data-ng-bind="deal.number | trailzeroes:10"></span></span> <a class="btn btn-default" target="_blank" href="/viewdeal/{{deal.uuid}}"><span data-dlb-localize="consume.viewDealButton"></span><i class="glyphicon glyphicon-search"></i></a></p>
							<p class="dealSummary"><span data-ng-bind="deal.deal.teaser"></span> <span data-ng-bind="deal.deal.benefit"></span></p>
							<p><span data-dlb-localize="consume.expireLabel"></span> <span data-ng-bind="deal.deal.expiration | dlbdate"></span></p>
							<div class="centered">
								<button type="submit" class="btn btn-primary" data-dlb-localize="consume.consumeButton" data-ng-click="consumeSelectedDeal(deal)"></button><img data-ng-if="deal.consuming" src="assets/img/load.gif"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>