<div class="container centered" id="scan">
	<div data-ng-hide="account">
		<p data-dlb-localize="scan.pleaseLogin"></p>
		<a href="/login" data-dlb-localize="login.loginButton" class="btn btn-primary"></a>
	</div>
	<div data-ng-if="account">
		<p data-ng-show="scanning">
			<span data-dlb-localize="scan.scanningMessage"></span><img src="/assets/img/load.gif"/>
		</p>
		<div data-ng-hide="scanning">
			<div data-ng-hide="error">
				<img data-ng-hide="scanResult.scanDate" src="/assets/img/scan-ok.png" class="scanResultPic"/>
				<div data-ng-show="scanResult.scanDate">
					<img src="/assets/img/scan-failed.png" class="scanResultPic"/>
					<div class="row scanResult">
						<p class="col-xs-6 header" data-dlb-localize="scan.scanDateLabel"></p>
						<p class="col-xs-6" data-ng-bind="scanResult.scanDate | dlbdatetime"></p>
					</div>
				</div>
				<div class="row scanResult">
					<p class="col-xs-6 header" data-dlb-localize="scan.holderLabel"></p>
					<p class="col-xs-6"><span data-ng-bind="scanResult.dealHolder.name"></span><img data-ng-show="scanResult.dealHolder.picUrl" data-ng-src="{{ dealHolder.picUrl }}"/></p>
					<p class="col-xs-6 header" data-dlb-localize="scan.grantNumberLabel"></p>
					<p class="col-xs-6"><span data-ng-bind="scanResult.grantNumber"></span></p>
					<p class="col-xs-6 header" data-dlb-localize="scan.dealSummaryLabel"></p>
					<p class="col-xs-6"><span data-ng-bind="scanResult.benefit"></span> <span data-ng-bind="scanResult.teaser"></span></p>
				</div>			
			</div>
			<div data-ng-show="error">
				<img src="/assets/img/scan-problem.png" class="scanResultPic"/>
				<p class="invalid" data-dlb-localize="scan.manualConsumeExplain"></p>
				<a class="btn btn-primary" href="/consume" data-dlb-localize="scan.manualConsumeButton"></a>
			</div>
		</div>		
	</div>
</div>