<h1>Database</h1>
<h2>Backups on-site</h2>
<table class="table">
	<thead>
		<tr>
			<th>File name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="backup in backups">
			<td data-ng-bind="backup.fileName"></td>
			<td><button class="btn btn-default" data-ng-click="deleteBackupFile(backup)">Delete</button></td>
		</tr>
	</tbody>
</table>
<button class="btn btn-default" data-ng-click="takeBackup()">Take backup</button>
<button class="btn btn-default" data-ng-click="fullBackup()">Trigger full backup job</button>
