<div class="container" id="account">
	<h1 data-dlb-localize="account.title"></h1>
	<div data-ng-include="'template/emitter/name.html'"></div>
	<div data-ng-include="'template/emitter/location.html'"></div>
	<div class="centered">
		<img data-ng-if="savingAccount" src="assets/img/load.gif"/><button class="btn btn-primary" data-dlb-localize="account.saveAccountButton" data-ng-click="saveAccount()"></button>
	</div>
</div>