<h1>Jobs status</h1>
<table class="table">
	<thead>
		<tr>
			<th data-ng-repeat="column in columns" data-ng-bind="column.name"></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="job in jobs">
			<td data-ng-repeat="column in columns" data-ng-bind="job[column.name]"></td>
		</tr>
	</tbody>
</table>
<button class="btn btn-default" data-ng-click="renewSubscriptions()">Trigger renew subscriptions job</button>