<h1>Session activity</h1>
<p>id : <span data-ng-bind="session.id"></span></p>
<p>created : <span data-ng-bind="session.created"></span></p>
<p>identifier type : <span data-ng-bind="session.identifierType == 0 ? 'Facebook' : 'Password'"></span></p>
<h2>Activity</h2>
<table class="table">
	<thead>
		<tr>
			<th>Time</th>
			<th>Route</th>
			<th>Request</th>
			<th>Response</th>
			<th>Error</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="activityItem in session.activity | orderBy: '-time'">
			<td data-ng-bind="activityItem.time"></td>
			<td data-ng-bind="activityItem.route"></td>
			<td data-ng-bind="activityItem.req"></td>
			<td data-ng-bind="activityItem.res"></td>
			<td data-ng-bind="activityItem.err"></td>
		</tr>
	</tbody>
</table>
