<div class="container" id="createDeal">
	<div id="step1" data-ng-if="step === 1" data-ng-include="'template/deal/title.html'"></div>
	<div id="step2" data-ng-if="step === 2" data-ng-include="'template/deal/image.html'"></div>
	<div id="step3" data-ng-if="step === 3" data-ng-include="'template/deal/validity.html'"></div>
	<div id="step4" data-ng-if="step === 4" data-ng-include="'template/deal/content.html'"></div>
	<div class="row centered">
		<p data-ng-show="step === 4" data-dlb-localize="deal.afterSaveExplain" class="important-remark"></p>
		<button id="previewButton" data-ng-show="step === 4" class="btn btn-important" href="" data-ng-click="preview()" tabindex="100"><span data-dlb-localize="home.previewDealButton"></span><i class="glyphicon glyphicon-search"></i></button>
		<button data-ng-show="step !== 1" class="btn btn-important" data-ng-click="previous()"><i class="glyphicon glyphicon-chevron-left" tabindex="101"></i> <span data-dlb-localize="previousStepButton"></span></button>
		<button data-ng-show="step !== 4" class="btn btn-important" data-ng-click="next()"><span data-dlb-localize="nextStepButton" tabindex="102"></span> <i class="glyphicon glyphicon-chevron-right"></i></button>
		<img data-ng-if="creating" src="assets/img/load.gif"/><button data-ng-show="step === 4" class="btn btn-important" data-dlb-localize="finishButton" data-ng-click="finish()" tabindex="103"></button>
	</div>
</div>