<div class="container" id="distributeDeal" data-ng-show="!confirming">
	<h1 data-dlb-localize="distribute.title"></h1>
	<div class="row">
		<div class="col-xs-12">
			<tabset justified="false" id="distribute-tabset">
				<tab tabindex="50">
					<tab-heading>
						<span data-dlb-localize="distribute.onRequestTabTitle"></span>  <i class="glyphicon glyphicon-bullhorn"></i>
						<span class="badge" data-ng-bind="onRequest.amount || 0"></span>
					</tab-heading>
					<div data-ng-include="'template/distribute/onrequest.html'"></div>
				</tab>
				<tab tabindex="51">
					<tab-heading>
						<span data-dlb-localize="distribute.emailTabTitle"></span>  <i class="glyphicon glyphicon-envelope"></i>
						<span class="badge" data-ng-bind="emailsToInvite.length"></span>
					</tab-heading>
					<div data-ng-include="'template/distribute/emaillist.html'"></div>
				</tab>
				<tab tabindex="52">
					<tab-heading>
						<span class="facebook-distribution-tab-heading">
							<img src="assets/img/facebook-button-icon-f.png"/>
							<span data-dlb-localize="distribute.facebookTabTitle"></span>
						</span>
						<span class="badge fbColor" data-ng-bind="friends.length"></span>
					</tab-heading>
					<div data-ng-include="'template/distribute/friendlist.html'"></div>
				</tab>
			</tabset>
		</div>
	</div>
	<div class="row centered">
		<p class="invalid" data-ng-show="pleaseSelectSomeContactToSendTo" data-dlb-localize="distribute.pleaseSelectSomeContactToSendTo"></p>
		<p class="invalid" data-ng-show="mustProvideTaggedMessage" data-dlb-localize="taggedMessageNeeded"></p>
		<button class="btn btn-important" data-ng-click="confirmDistribute()" tabindex="100"><span data-dlb-localize="nextStepButton"></span> <i class="glyphicon glyphicon-chevron-right"></i></button>
	</div>
</div>
<div class="container" data-ng-show="confirming">
	<div data-ng-include="'template/distribute/summary.html'" id="distributeSummary"></div>
	<div class="row centered">
		<p class="invalid" data-ng-show="invalid" data-dlb-localize="DistributeSummaryCtrl.summaryInvalid"></p>
		<button class="btn btn-important" data-ng-click="previous()" tabindex="101"><i class="glyphicon glyphicon-chevron-left"></i> <span data-dlb-localize="previousStepButton"></span></button>
		<img data-ng-if="distributing" src="assets/img/load.gif"/><button class="btn btn-important" data-ng-click="distribute()" data-dlb-localize="distribute.distributeButton" id="distributeButton" tabindex="102"></button>
	</div>
</div>
