<div id="followup" class="container">
	<h1 data-dlb-localize="followup.title"></h1>
	<img data-ng-if="loading" src="assets/img/load.gif"/>
	<div data-ng-hide="loading">
		<h2 data-dlb-localize="followup.dealSummaryTitle"></h2>
		<hr>
		<span data-ng-bind="deal.benefit"></span><span data-ng-bind="deal.teaser"></span>
		<ul class="attribs">
			<li>
				<span data-dlb-localize="followup.fromLabel"></span>
				<span data-ng-bind="deal.beginDate | dlbdatetime"></span>
			</li>
			<li>
				<span data-dlb-localize="followup.expiresLabel"></span>
				<span data-ng-bind="deal.expiration | dlbdatetime"></span>
			</li>
		</ul>
		<hr>
		<p>
			<a class="btn btn-default" data-ng-disabled="deal.expiration < now" data-ng-href="{{ '/deal/' + deal._id + '/distribute' }}">
				<span data-dlb-localize="home.distributeDealButton"></span>
				<i class="glyphicon glyphicon-tags"></i>
			</a>
			<a class="btn btn-default" href="" data-ng-click="preview(deal)">
				<span data-dlb-localize="home.previewDealButton"></span>
				<i class="glyphicon glyphicon-search"></i>
			</a>
			<a class="btn btn-default" href="" data-ng-click="navigateToGrantsStatus()">
				<span data-dlb-localize="followup.grantsStatusButton"></span>
				<i class="glyphicon glyphicon-print"></i>
			</a>
		</p>
		<h2 data-dlb-localize="followup.statusTitle"></h2>
		<accordion id="grantStatusZone" data-close-others="false">
			<accordion-group data-is-open="toSendAccordionOpen">
				<accordion-heading>
					<div data-ng-click="toSendAccordionOpen = !toSendAccordionOpen">
						<span>
							<span data-dlb-localize="followup.toSendAccordionHeaderLabel"></span>
							<span class="badge" data-ng-bind="deal.grants.toSend.length || 0"></span>
						</span>
						<i class="glyphicon glyphicon-chevron-right" data-ng-hide="toSendAccordionOpen"></i>
						<i class="glyphicon glyphicon-chevron-down" data-ng-show="toSendAccordionOpen"></i>
					</div>
				</accordion-heading>
				<ul>
					<li data-ng-repeat="grant in deal.grants.toSend">
						<span>
							<img src="/assets/img/FB-f-Logo__blue_29.png" data-ng-show="grant.channelType == 0"/><i class="glyphicon glyphicon-envelope" data-ng-show="grant.channelType == 1"></i><span data-ng-bind="grant.channelType == 0 ? grant.fbDestinatorUser.name : grant.email"></span>
						</span>
					</li>
				</ul>
			</accordion-group>
			<accordion-group data-is-open="onRequestAccordionOpen">
				<accordion-heading>
					<div data-ng-click="onRequestAccordionOpen = !onRequestAccordionOpen">
						<span>
							<span data-dlb-localize="followup.onRequestAccordionHeaderLabel"></span>
							<span class="badge" data-ng-bind="deal.nbOnRequest"></span>
						</span>
						<i class="glyphicon glyphicon-chevron-right" data-ng-hide="onRequestAccordionOpen"></i>
						<i class="glyphicon glyphicon-chevron-down" data-ng-show="onRequestAccordionOpen"></i>
					</div>
				</accordion-heading>
				<p data-ng-show="deal.nbOnRequest > 0" data-dlb-localize="followup.shareDealPageExplain"></p>
				<p>
					<a data-ng-show="deal.nbOnRequest > 0" class="btn btn-default" target="_blank" data-ng-href="{{ '/viewdeal/onrequest/' + deal._id }}" data-dlb-localize="followup.dealPageButton"></a>
					<a data-ng-show="deal.nbOnRequest > 0" data-ng-href="{{ shareDealPageUrl }}" target="_blank" class="btn btn-facebook"><span data-dlb-localize="followup.shareDealPageButton"></span></a>
				</p>
			</accordion-group>
			<accordion-group data-is-open="sentAccordionOpen">
				<accordion-heading>
					<div data-ng-click="sentAccordionOpen = !sentAccordionOpen">
						<span>
							<span data-dlb-localize="followup.sentAccordionHeaderLabel"></span>
							<span class="badge" data-ng-bind="deal.grants.sent.length || 0"></span>
						</span>
						<i class="glyphicon glyphicon-chevron-right" data-ng-hide="sentAccordionOpen"></i>
						<i class="glyphicon glyphicon-chevron-down" data-ng-show="sentAccordionOpen"></i>
					</div>
				</accordion-heading>
				<ul>
					<li data-ng-repeat="grant in deal.grants.sent">
						<span>
							<img src="/assets/img/FB-f-Logo__blue_29.png" data-ng-show="grant.channelType == 0"/><i class="glyphicon glyphicon-envelope" data-ng-show="grant.channelType == 1"></i><span data-ng-bind="grant.channelType == 0 ? grant.fbDestinatorUser.name : grant.email"></span>
						</span>
					</li>
				</ul>
			</accordion-group>
			<accordion-group data-is-open="errorAccordionOpen">
				<accordion-heading>
					<div data-ng-click="errorAccordionOpen = !errorAccordionOpen">
						<span>
							<span data-dlb-localize="followup.errorAccordionHeaderLabel"></span>
							<span class="badge" data-ng-bind="deal.grants.error.length || 0"></span>
						</span>
						<i class="glyphicon glyphicon-chevron-right" data-ng-hide="errorAccordionOpen"></i>
						<i class="glyphicon glyphicon-chevron-down" data-ng-show="errorAccordionOpen"></i>
					</div>
				</accordion-heading>
				<ul>
					<li data-ng-repeat="grant in deal.grants.error">
						<span>
							<img src="/assets/img/FB-f-Logo__blue_29.png" data-ng-show="grant.channelType == 0"/><i class="glyphicon glyphicon-envelope" data-ng-show="grant.channelType == 1"></i><span data-ng-bind="grant.channelType == 0 ? grant.fbDestinatorUser.name : grant.email"></span>
						</span>
					</li>
				</ul>
			</accordion-group>
			<accordion-group data-is-open="consumedAccordionOpen">
				<accordion-heading>
					<div data-ng-click="consumedAccordionOpen = !consumedAccordionOpen">
						<span>
							<span data-dlb-localize="followup.consumedAccordionHeaderLabel"></span>
							<span class="badge" data-ng-bind="deal.grants.consumed.length || 0"></span>
						</span>
						<i class="glyphicon glyphicon-chevron-right" data-ng-hide="consumedAccordionOpen"></i>
						<i class="glyphicon glyphicon-chevron-down" data-ng-show="consumedAccordionOpen"></i>
					</div>
				</accordion-heading>
				<ul>
					<li data-ng-repeat="grant in deal.consumed.error">
						<span>
							<img src="/assets/img/FB-f-Logo__blue_29.png" data-ng-show="grant.channelType == 0"/><i class="glyphicon glyphicon-envelope" data-ng-show="grant.channelType == 1"></i><span data-ng-bind="grant.channelType == 0 ? grant.fbDestinatorUser.name : grant.email"></span>
						</span>
					</li>
				</ul>
			</accordion-group>
		</accordion>
	</div>	
</div>
