<div class="container-fluid">
	<div class="col-sm-offset-3 col-sm-9">
		<h1 data-dlb-localize="giftConfirmed.title"></h1>
		<img data-ng-if="status == 'processing'" src="assets/img/load.gif"/>
		<p data-ng-if="status == 'success'" data-dlb-localize="giftConfirmed.success"></p>
		<p class="invalid" data-ng-bind="getRes(errorMessage)" data-ng-if="status == 'failed'"></p>	
	</div>
</div>
