<div class="container" id="giveDeal">
	<h1 data-dlb-localize="give.title"></h1>
	<div class="row" data-ng-class="byEmail ? 'selected': ''">
		<div class="col-sm-2">
			<p data-dlb-localize="give.byEmail"></p>
			<div class="buttonImg" data-ng-click="selectEmail()">
				<img data-dlb-localize-alt="give.byEmailButtonAlt" src="assets/img/mail.png"/>
			</div>
		</div>
		<form class="col-sm-10" data-ng-show="byEmail" role="form" novalidate name="giveByEmailForm" data-ng-submit="giveByEmail()">
			<div class="form-group">
				<label for="inputEmail" data-dlb-localize="give.friendEmailAddressLabel"></label><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i>
				<input type="email" class="form-control" id="inputEmail" name="friendEmail" data-ng-model="friendEmail"  data-ng-required="true"/>
	            <span class="invalid" data-ng-show="submittedOnce && giveByEmailForm.friendEmail.$error.required" data-dlb-localize="emailRequired"></span>
	            <span class="invalid" data-ng-show="submittedOnce && giveByEmailForm.friendEmail.$error.email" data-dlb-localize="emailValid"></span>
			</div>
			<p data-dlb-localize="give.emailIsSafe"></p>
			<div class="form-group">
				<label for="inputSenderName" data-dlb-localize="give.senderNameLabel"></label>
				<input type="text" class="form-control" id="inputSenderName" name="senderName" data-ng-model="senderName"/>
			</div>
			<img data-ng-if="givingByEmail" src="assets/img/load.gif"/>
			<button class="btn btn-primary" type="submit" data-dlb-localize="give.giveByEmailButton"></button>
		</form>
	</div>
	<hr>
	<div class="row" data-ng-class="byFacebook ? 'selected': ''">
		<div class="col-sm-2">
			<p data-dlb-localize="give.byFacebook"></p>
			<div class="buttonImg" id="byFacebookButton" data-ng-click="selectFacebook()">
				<img data-dlb-localize-alt="give.byFacebookButtonAlt" src="assets/img/FB-f-Logo__blue_512.png"/>
			</div>
		</div>
		<form class="col-sm-10" data-ng-show="byFacebook" role="form" novalidate name="giveByFacebookForm" data-ng-submit="giveByFacebook()">
			<div data-ng-show="!fbAccount">
				<img data-ng-if="loggingInFacebook" src="assets/img/load.gif"/>
				<a href="" class="btn btn-facebook" data-ng-click="fbConnect()"><span data-dlb-localize="loginFbButton"></span></a>
			</div>
			<div data-ng-show="fbAccount">
				<div class="centered">
					<div class="fbLoggedIn">
						<img ng-src="{{fbAccount.pic}}"/>
						<span data-ng-bind="fbAccount.name"></span><br>	
						<a href="" data-dlb-localize="fbDisconnectButton" data-ng-click="disconnectFb()"></a>
					</div>
				</div>
				<div class="form-group">
					<label for="inputFacebookName" data-dlb-localize="give.friendFacebookNameLabel"></label><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i>
					<input id="inputFacebookName" data-ng-model="facebookAccountName" name="friendFacebookName" type="text" typeahead="friend.name for friend in friends | filter:{ name: $viewValue } | limitTo:8" class="form-control" typeahead-on-select="selectFacebookAccount($item)">
		            <span class="invalid" data-ng-show="mustSelectFacebookAccount" data-dlb-localize="give.pleaseSelectAFacebookAccount"></span>
				</div>
				<div class="form-group">
					<label for="inputTaggedMessage" data-dlb-localize="taggedMessageLabel"></label><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i>
					<textarea class="form-control" id="inputTaggedMessage" name="taggedMessage" data-ng-model="taggedMessage" data-ng-required="true"></textarea>
					<p class="help-block" data-dlb-localize="taggedMessageHelp"></p>	
					<p class="invalid" data-ng-show="fbSubmittedOnce && giveByFacebookForm.taggedMessage.$error.required" data-dlb-localize="taggedMessageNeeded"></p>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p data-dlb-localize="publishWithFbExplain" class="catchier"></p>
					</div>
				</div>
				<div class="centered">
		            <p class="invalid" data-ng-show="mustGrantPublishRights" data-dlb-localize="give.mustGrantPublishRights"></p>
					<img data-ng-if="givingByFacebook" src="assets/img/load.gif"/>
					<button type="submit" class="btn btn-facebook"><span data-dlb-localize="give.giveByFacebookButton"></span></button>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p data-dlb-localize="giveWithFbPrivacy" class="catchier"></p>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary" data-ng-href="{{ '/viewdeal/' + id }}" data-dlb-localize="cancelButton"></a>
		</div>
	</div>
</div>