<div class="container" id="grantsStatus">
	<img src="assets/img/load.gif" data-ng-if="!deal"/>
	<div data-ng-show="deal">
		<h1><span data-dlb-localize="grantsStatus.title"></span> (<span data-ng-bind="generationTime | dlbdatetime"></span>)</h1>
		<h2 data-dlb-localize="grantsStatus.dealSummaryTitle"></h2>
		<hr>
		<span data-ng-bind="deal.benefit"></span><span data-ng-bind="deal.teaser"></span>
		<ul class="attribs">
			<li>
				<span data-dlb-localize="grantsStatus.fromLabel"></span>
				<span data-ng-bind="deal.beginDate | dlbdatetime"></span>
			</li>
			<li>
				<span data-dlb-localize="grantsStatus.expiresLabel"></span>
				<span data-ng-bind="deal.expiration | dlbdatetime"></span>
			</li>
			<li>
				<span data-dlb-localize="grantsStatus.uniqueIdLabel"></span>
				<span data-ng-bind="deal._id"></span>
			</li>
		</ul>
		<hr>
		<table class="table-striped">
			<tbody>
				<tr class="headerRow">
					<td data-dlb-localize="grantsStatus.numberColumnHeader"></td>
					<td data-dlb-localize="grantsStatus.typeColumnHeader"></td>
					<td data-dlb-localize="grantsStatus.holderColumnHeader"></td>
					<td data-dlb-localize="grantsStatus.createdColumnHeader"></td>
					<td data-dlb-localize="grantsStatus.sentColumnHeader"></td>
				</tr>
				<tr data-ng-repeat="grant in toBeConsumed">
					<td data-ng-bind="grant.number"></td>
					<td data-ng-bind="grant.channelType === 0 ? 'Facebook' : 'Email'"></td>
					<td class="expand" data-ng-bind="grant.channelType === 0 ? grant.fbDestinatorUser.name : grant.email"></td>
					<td data-ng-bind="grant.created | dlbdatetime"></td>
					<td data-ng-bind="grant.sent | dlbdatetime"></td>
				</tr>
				<tr class="headerRow" data-ng-show="consumed.length > 0">
					<td data-dlb-localize="grantsStatus.numberColumnHeader"></td>
					<td data-dlb-localize="grantsStatus.typeColumnHeader"></td>
					<td data-dlb-localize="grantsStatus.holderColumnHeader"></td>
					<td data-dlb-localize="grantsStatus.sentColumnHeader"></td>
					<td data-dlb-localize="grantsStatus.consumedColumnHeader"></td>
				</tr>
				<tr data-ng-repeat="grant in consumed">
					<td data-ng-bind="grant.number"></td>
					<td data-ng-bind="grant.channelType === 0 ? 'Facebook' : 'Email'"></td>
					<td class="expand" data-ng-bind="grant.channelType === 0 ? grant.fbDestinatorUser.name : grant.email"></td>
					<td data-ng-bind="grant.sent | dlbdatetime"></td>
					<td data-ng-bind="grant.consumed | dlbdatetime"></td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>