<div class="container" id="metadata">
	<h1 data-dlb-localize="metadata.title"></h1>
	<img data-ng-if="!deal" src="assets/img/load.gif"/>
	<div data-ng-show="deal">
		<div class="btn-group">
			<label class="btn btn-info" data-ng-model="deal.private" data-btn-radio="false" data-dlb-localize="metadata.public"></label>
			<label class="btn btn-info" data-ng-model="deal.private" data-btn-radio="true" data-dlb-localize="metadata.private"></label>
		</div>
		<p data-ng-show="deal.private" data-dlb-localize="metadata.privateExplain"></p>
		<p data-ng-show="!deal.private" data-dlb-localize="metadata.publicExplain"></p>
		<form data-ng-show="!deal.private" data-ng-submit="addKeyword()" novalidate name="newKeywordForm">
			<h2 data-dlb-localize="metadata.keywordsTitle"></h2>
			<p data-dlb-localize="metadata.keywordsExplain"></p>
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3">
					<input type="text" class="input-keyword form-control" name="newKeyword" data-ng-model="newKeyword" data-ng-required="true" data-ng-minlength="2" data-ng-maxlength="25">
					<p class="invalid" data-dlb-localize="metadata.newKeywordRequired" data-ng-show="submittedOnce && newKeywordForm.newKeyword.$error.required"></p>
					<p class="invalid" data-dlb-localize="metadata.newKeywordTooShort" data-ng-show="submittedOnce && newKeywordForm.newKeyword.$error.minlength"></p>
					<p class="invalid" data-dlb-localize="metadata.newKeywordTooShort" data-ng-show="submittedOnce && newKeywordForm.newKeyword.$error.maxlength"></p>
					<p class="invalid" data-dlb-localize="metadata.duplicateKeyword" data-ng-show="submittedOnce && duplicateKeyword"></p>				
				</div>
				<div class="col-sm-6 col-md-8 col-lg-9">
					<button type="submit" class="btn btn-default" data-dlb-localize="metadata.addKeywordButton"></button>			
				</div>
			</div>
			<div class="well" id="keywordsList">
				<span data-ng-show="deal.keywords.length === 0" data-dlb-localize="metadata.noKeywordYet"></span>
				<div class="row">
					<span class="keywordGroup" data-ng-repeat="keyword in deal.keywords">
						<span class="keyword" data-ng-bind="keyword.value"></span><a href="" data-ng-click="removeKeyword(keyword)"><i class="glyphicon glyphicon-remove"></i></a>
					</span>
				</div>
			</div>
		</form>
		<div class="centered">
			<img data-ng-if="savingMetadata" src="assets/img/load.gif"/>
			<button class="btn btn-primary" data-dlb-localize="metadata.saveButton" data-ng-click="save()"></button>
		</div>		
	</div>
</div>