<div class="container" id="requestDeal">
	<h1 data-dlb-localize="request.title"></h1>
	<form role="form" novalidate name="requestByEmailForm" data-ng-submit="requestByEmail()">
		<div class="form-group">
			<label for="inputEmail" data-dlb-localize="request.emailAddressLabel"></label><i class="glyphicon glyphicon-exclamation-sign" tooltip="{{getRes('requiredField')}}"></i>
			<input type="email" class="form-control" id="inputEmail" name="email" data-ng-model="email"  data-ng-required="true"/>
            <span class="invalid" data-ng-show="submittedOnce && requestByEmailForm.email.$error.required" data-dlb-localize="emailRequired"></span>
            <span class="invalid" data-ng-show="submittedOnce && requestByEmailForm.email.$error.email" data-dlb-localize="emailValid"></span>
		</div>
		<p data-dlb-localize="request.emailIsSafe"></p>
		<img data-ng-if="requestingByEmail" src="assets/img/load.gif"/>
		<button class="btn btn-primary" type="submit" data-dlb-localize="request.requestByEmailButton" data-ng-click="request()"></button>
	</form>
</div>