<div id="viewDeal" class="container">
	<div data-ng-if="!deal && !loading">
		<p class="expired" data-dlb-localize="viewDeal.dealNotFound"></p>
	</div>
	<div data-ng-if="expired">
		<p class="expired"><span data-dlb-localize="viewDeal.dealExpired"></span><span data-ng-bind="deal.expiration | dlbdate"></span></p>
	</div>
	<div data-ng-show="!expired && deal">
		<div id="previewInfo" data-ng-show="displayMode == 'preview'">
			<p data-dlb-localize="viewDeal.youAreInPreviewMode"></p>
			<a class="btn btn-dark" href="" data-dlb-localize="viewDeal.backToDealButton" data-ng-click="returnToPreviousView()" tabindex="1"></a>
		</div>
		<div class="row" id="dealCard">
			<div class="col-sm-4">
				<div class="mobileOnly notPrinted centered">
					<p data-dlb-localize="viewDeal.fromEmitter"></p>
					<p class="emitterName" data-ng-bind="emitter.name"></p>
				</div>
				<div data-ng-include="'template/viewdeal/title.html'">
				</div>
				<div class="centered" data-ng-show="displayMode && displayMode == 'onrequest'">
					<a data-ng-href="{{ shareDealPageUrl }}" target="_blank" class="btn btn-facebook" tabindex="2"><span data-dlb-localize="viewDeal.sharePageButton"></span></a>
				</div>
				<div id="dealImageZone">
					<cl-image data-ng-show="deal.imageRef" public-id="{{ deal.imageRef.public_id }}" format="{{ deal.imageRef.format }}">
						<cl-transformation crop="crop" gravity="custom"/>
					</cl-image>
				</div>
				<div data-ng-show="displayMode != 'preview' && channelType != undefined" class="row centered">
					* <span data-dlb-localize="viewDeal.forTheOwnerOf"></span><span data-ng-show="channelType == 1" data-dlb-localize="viewDeal.emailAddress"></span><span data-ng-show="channelType == 0" data-dlb-localize="viewDeal.facebookAccount"></span> <i data-ng-bind="dealHolder"></i>
					<p class="notPrinted" data-dlb-localize="viewDeal.dontShareThisPage"></p>
				</div>
			</div>
			<div class="col-sm-offset-1 col-sm-7">
				<h1 class="dealExpiresTitle" data-dlb-localize="viewDeal.dealExpiresInTitle"></h1>
				<div id="expiration">
					<span class="expiration" data-ng-if="beginDate <= now"><img class="vertAlignCenter" src="assets/img/expicon.png"/> <span data-ng-bind="remainingDays"></span> <span data-ng-show="remainingDays > 1" data-dlb-localize="viewDeal.days"></span><span data-ng-show="remainingDays <= 1" data-dlb-localize="viewDeal.day"></span> <span data-ng-bind="remainingHours | trailzeroes:2"></span>:<span data-ng-bind="remainingMinutes | trailzeroes:2"></span>:<span data-ng-bind="remainingSeconds | trailzeroes:2"></span></span>
					<span data-ng-show="deal.expiration && beginDate > now"><span data-dlb-localize="viewDeal.beginsOn"></span><span data-ng-bind="deal.beginDate | dlbdate"></span><span data-dlb-localize="viewDeal.endsOn"></span><span data-ng-bind="deal.expiration | dlbdate"></span></span>
				</div>
				<div id="expirationPrint">
					<p data-ng-bind="deal.expiration | dlbdate"></p>
				</div>
				<div class="row">
					<div id="description" data-ng-class="descriptionFull ?  ''  : ( (deal.description.length > 400) ? 'collapsed' : 'short' )" class="col-xs-12">
						<p data-ng-bind-html="deal.description"></p>
						<div id="collapseButton">
							<a data-ng-show="deal.description.length > 400" href="" data-ng-click="descriptionFull = !descriptionFull" tabindex="3">
								<img src="/assets/img/red-triangle-down.png" data-ng-hide="descriptionFull"/>
								<img src="/assets/img/red-triangle-up.png" data-ng-show="descriptionFull"/>
							</a>
						</div>					
					</div>
				</div>
				<div class="row" id="seller">
					<div class="col-md-6">
						<p class="sectionTitle" data-dlb-localize="viewDeal.aboutSellerTitle"></p>
						<cl-image data-ng-show="emitter.imageRef" class="emitterLogo" public-id="{{ emitter.imageRef.public_id }}" format="{{ emitter.imageRef.format }}">
							<cl-transformation height="300" crop="fit"/>
						</cl-image>

						<p class="emitterName" data-ng-bind="emitter.name"></p>
						<p data-ng-if="emitter.address">
							<span data-ng-bind="emitter.address.street"></span>, <span data-ng-bind="emitter.address.number"></span><span data-ng-show="emitter.address.box"> - <span data-ng-bind="emitter.address.box"></span></span> <span data-ng-bind="emitter.address.postcode"></span> <span data-ng-bind="emitter.address.city"></span>
						</p>
						<a data-ng-if="emitter.website" target="_blank" data-ng-href="{{ emitter.website | dlbemitterwebsite }}" data-dlb-localize="viewDeal.websiteLabel" tabindex="4"></a>						
					</div>
					<div class="col-md-6">
						<ui-gmap-google-map data-ng-show="emitter.address.coords" center="map.center" zoom="map.zoom">
							<ui-gmap-marker coords="map.marker.location" options="map.marker.options" idkey="map.marker.id">
						</ui-gmap-google-map>
					</div>
				</div>
				<div data-ng-show="channelType != undefined || displayMode == 'preview'">
					<p class="sectionTitle" data-dlb-localize="viewDeal.howToUseTitle"></p>
					<p data-dlb-localize="viewDeal.howToUse"></p>
					<p class="centered">
						<img data-ng-src="{{ '/api/qr?grantUuid='  + (hash || 'test') }}"/>
					</p>
					<p data-dlb-localize="viewDeal.howToUsePlanB"></p>
					<div class="notPrinted">
						<p class="sectionTitle" data-dlb-localize="viewDeal.notInterestedButTitle"></p>
						<p data-dlb-localize="viewDeal.howToGive"></p>
						<button class="btn btn-cta" data-ng-click="give()" data-dlb-localize="viewDeal.giveButton" tabindex="5"></button>
					</div>
				</div>
				<div data-ng-show="displayMode == 'onrequest'">
					<p class="sectionTitle" data-dlb-localize="viewDeal.requestDealTitle"></p>
					<p data-dlb-localize="viewDeal.requestDealExplain"></p>
					<p class="remaining"><span data-ng-bind="deal.nbOnRequest || 0"></span><span data-ng-hide="deal.nbOnRequest <= 1" data-dlb-localize="viewDeal.remainingDealsOnRequest"></span><span data-ng-show="deal.nbOnRequest <= 1" data-dlb-localize="viewDeal.remainingDealOnRequest"></span></p>
					<button class="btn btn-cta" data-ng-click="request()" data-dlb-localize="viewDeal.requestButton" tabindex="6"></button>
					<p class="invalid" data-dlb-localize="viewDeal.noMoreDealsAvailable" data-ng-show="!deal.nbOnRequest && requestSubmittedOnce"></p>
				</div>
			</div>
		</div>
		<div class="row" id="termsOfUseZone" data-ng-show="deal.termsOfUse.length > 0">
			<div class="col-sm-4">
				<p class="sectionTitle" data-dlb-localize="viewDeal.termsOfUseTitle"></p>
				<ul>
					<li data-ng-repeat="termOfUse in deal.termsOfUse" data-ng-bind="termOfUse.text"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
