<div id="parameters" class="container">
	<h1 data-dlb-localize="parameters.title"></h1>
	<div data-ng-show="account.identifier.type == 1">
		<h2 data-dlb-localize="parameters.changePasswordTitle"></h2>
		<form name="resetPasswordForm" data-ng-submit="resetPassword()" novalidate>
			<div class="form-group" data-ng-class="resetPasswordForm.currentPassword.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputCurrentPassword" data-dlb-localize="parameters.currentPasswordLabel"></label>
				<input type="password" class="form-control" id="inputCurrentPassword" data-ng-model="currentPassword" name="currentPassword" data-ng-required="true" data-ng-minlength="10">
				<span class="invalid" data-ng-show="submittedOnce && resetPasswordForm.currentPassword.$error.required" data-dlb-localize="parameters.currentPasswordRequired"></span>
			</div>
			<div class="form-group" data-ng-class="resetPasswordForm.password.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputPassword" data-dlb-localize="newPasswordLabel"></label>
				<input type="password" class="form-control" id="inputPassword" data-ng-model="password" name="password" data-ng-required="true" data-ng-minlength="10">
				<span class="invalid" data-ng-show="submittedOnce && resetPasswordForm.password.$error.required" data-dlb-localize="passwordRequired"></span>
				<span class="invalid" data-ng-show="submittedOnce && resetPasswordForm.password.$error.minlength" data-dlb-localize="passwordMin10Chars"></span>
			</div>
			<div class="form-group" data-ng-class="resetPasswordForm.repeatPassword.$invalid && submittedOnce ? 'has-error' : ''">
				<label for="inputPasswordRepeat" data-dlb-localize="passwordRepeatLabel"></label>
				<input type="password" class="form-control" id="inputPasswordRepeat" data-ng-model="repeatPassword" name="repeatPassword" data-repeat-password="password" data-ng-required="true">
				<span class="invalid" data-ng-show="submittedOnce && resetPasswordForm.repeatPassword.$error.required" data-dlb-localize="repeatPasswordRequired"></span>
				<span class="invalid" data-ng-show="submittedOnce && resetPasswordForm.repeatPassword.$error.repeat" data-dlb-localize="repeatPasswordNoMatch"></span>
			</div>
			<div class="centered">
				<button type="submit" class="btn btn-primary" data-dlb-localize="parameters.changePasswordButton"></button>
			</div>
		</form>
	</div>
	<h2 data-dlb-localize="parameters.facebookSettings"></h2>
	<div data-ng-show="!fbAccount">
		<p data-dlb-localize="publishWithFbExplain"></p>
		<img data-ng-show="connectingFacebook" src="assets/img/load.gif"/><button class="btn btn-facebook" data-ng-click="fbConnect()"><span data-dlb-localize="loginFbButton"></span></button>
	</div>
	<div data-ng-show="fbAccount">
		<div class="fbLoggedIn centered">
			<img ng-src="{{fbAccount.pic}}"/>
			<span data-ng-bind="fbAccount.name"></span><br>	
			<a href="" data-dlb-localize="fbDisconnectButton" data-ng-click="disconnectFb()"></a>
		</div>
		<p data-dlb-localize="parameters.reauthorizeExplain"></p>
		<img data-ng-show="reauthorizing" src="assets/img/load.gif"/><button data-dlb-localize="parameters.reauthorizeButton" data-ng-click="reauthorizeFb()" class="btn btn-primary"></button>
	</div>
</div>