<h1>Deal</h1>
<p>Id: <span data-ng-bind="deal._id"></span></p>
<p>Teaser: <span data-ng-bind="deal.teaser"></span></p>
<p>Benefit: <span data-ng-bind="deal.benefit"></span></p>
<p>Created: <span data-ng-bind="deal.created"></span></p>
<p>Begins: <span data-ng-bind="deal.beginDate"></span></p>
<p>Expires: <span data-ng-bind="deal.expiration"></span></p>
<p>Image:
	<cl-image data-ng-show="deal.imageRef" public-id="{{ deal.imageRef.public_id }}" format="{{ deal.imageRef.format }}">
		<cl-transformation crop="crop" gravity="custom"/>
	</cl-image>
</p>
<p>Private: <span data-ng-bind="deal.private ? 'yes' : 'no'"></span> <button data-ng-click="togglePrivate()">Change</button></p>
<table class="table table-striped">
	<thead>
		<th>id</th>
		<th>uuid</th>
		<th>type</th>
		<th>destinator</th>
		<th>created</th>
		<th>sent</th>
		<th>consumed</th>
		<th>number</th>
		<th>actions</th>
	</thead>
	<tbody>
		<tr data-ng-repeat="grant in deal.grants">
			<td data-ng-bind="grant._id"></td>
			<td data-ng-bind="grant.uuid"></td>
			<td data-ng-bind="grant.channelType === 0 ? 'Facebook' : 'Email'"></td>
			<td data-ng-bind="grant.channelType === 0 ? grant.fbDestinatorUser.name : grant.email"></td>
			<td data-ng-bind="grant.created"></td>
			<td data-ng-bind="grant.sent"></td>
			<td data-ng-bind="grant.consumed"></td>
			<td data-ng-bind="grant.number"></td>
			<td>
				<a data-ng-href="#/grant/{{grant._id}}" class="btn btn-default">Details <i class="glyphicon glyphicon-zoom-in"></i></a>
			</td>
		</tr>
	</tbody>
</table>