<div class="container">
	<h1 data-dlb-localize="privacy.title"></h1>
	<p data-dlb-localize="privacy.policyHeader"></p>
	<h2 data-dlb-localize="privacy.personalIdentificationTitle"></h2>
	<p data-dlb-localize="privacy.personalIdentification"></p>
	<h2 data-dlb-localize="privacy.nonPersonalIdentificationTitle"></h2>
	<p data-dlb-localize="privacy.nonPersonalIdentification"></p>
	<h2 data-dlb-localize="privacy.cookiesTitle"></h2>
	<p data-dlb-localize="privacy.cookies"></p>
	<h2 data-dlb-localize="privacy.howInfoCollectedTitle"></h2>
	<ul>
		<li data-dlb-localize="privacy.howInfoCollected"></li>
		<li data-dlb-localize="privacy.infoUseImproveService"></li>
		<li data-dlb-localize="privacy.infoUsePersonalizeExperience"></li>
		<li data-dlb-localize="privacy.infoUseImproveSite"></li>
		<li data-dlb-localize="privacy.infoUseProcessPayments"></li>
		<li data-dlb-localize="privacy.infoUseRunPromotion"></li>
		<li data-dlb-localize="privacy.infoUseSendEmails"></li>
	</ul>
	<h2 data-dlb-localize="privacy.howInfoProtectedTitle"></h2>
	<p data-dlb-localize="privacy.howInfoProtected"></p>
	<h2 data-dlb-localize="privacy.shareInfoTitle"></h2>
	<p data-dlb-localize="privacy.shareInfo"></p>
	<h2 data-dlb-localize="privacy.policyChangeTitle"></h2>
	<p data-dlb-localize="privacy.policyChange"></p>
	<h2 data-dlb-localize="privacy.acceptanceTitle"></h2>
	<p data-dlb-localize="privacy.acceptance"></p>
	<h2 data-dlb-localize="privacy.contactUsTitle"></h2>
	<p data-dlb-localize="privacy.contactUs"></p>
	<div class="well">
		<p>Expansive Passion</p>
		<p>Place de Pipaix, 16</p>
		<p>7904 Pipaix</p>
		<p>Belgique</p>
		<p>bertrand@expansivepassion.be</p>
	</div>
	<p data-dlb-localize="privacy.lastUpdated"></p>
</div>
