<h1>Email preferences</h1>
<label for="inputEmail">Email</label>
<input id="inputEmail" type="text" data-ng-model="email"/>
<button data-ng-click="queryEmailPref()">Search <i class="glyphicon glyphicon-search"></i></button>
<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
			<th>email</th>
			<th>unsubscribed from Dealbee ?</th>
			<th>blocked emitters</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="preference in preferences">
			<td data-ng-bind="preference._id"></td>
			<td data-ng-bind="preference.email"></td>
			<td data-ng-bind="preference.unsubscribedDate || 'no'"></td>
			<td>
				<ul>
					<li data-ng-repeat="blockedEmitter in preference.blockedEmittersWithName">
						<a data-ng-href="{{ '#/emitter/' + blockedEmitter._id }}" data-ng-bind="blockedEmitter.name"></a>
					</li>
				</ul>
			</td>
		</tr>		
	</tbody>
</table>
